{% extends 'front/Layout/layout.html.twig' %}

{% set page_profil = true %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}
    {% if userIsMe %}
        Ma fiche vendeur
    {% else %}
        Fiche vendeur{{ user.name ? ' de %s'|format(user.name) }}
    {% endif %}
{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}
    {% include 'front/User/includes/profil_header.html.twig' %}

    <section class="row full-width">
        <div class="profil-body column block-grid small-12">
            <div class="small-12 medium-7 large-5">
                {% block presentation %}
                    <h2>Présentation du vendeur</h2>
                    {% if user.description %}
                        <p>{{ user.description|nl2br }}</p>
                    {% elseif userIsMe %}
                        <p>Présentez-vous en quelques mots, votre rôle, parcours, votre société, etc. Renseigner le plus d'information possible pour faciliter la confiance dans le dialogue avec vos clients.</p>
                    {% endif %}
                    {% if userIsMe %}
                        <a href="{{ path('front_edit_user_info') }}" class="text-underline">Modifier mes informations</a>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="separator-for-small small-12 medium-4 large-6 medium-offset-1">
                {% block seller %}
                    <h2>Vendeur pour</h2>
                    {% if user.garageMemberships|length > 0 %}
                        {% include 'front/User/includes/brand_list.html.twig' %}
                    {% else %}
                        <p>Créer un garage pour renseigner votre parc automobile et les valoriser au près de vos prospects.</p>
                        <div class="large-5">
                            <a href="{{ path('front_garage_create') }}" class="button">Ajouter un garage</a>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </section>

{% endblock body %}
