{% form_theme editUserForm 'front/Layout/includes/forms/fields.html.twig' %}
{% trans_default_domain 'user' %}

{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}Editer mon profil vendeur{% endblock %}

{% set page_profil = true %}

{% block body %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}

    <div class="row">
        {% include "front/User/includes/form_edit_profil.html.twig" %}
    </div>

{% endblock body %}
