{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}
    {{ isMe ? "pro_user_performances.page.title.mine"|trans
    : "pro_user_performances.page.title.seller"|trans({'%username%':seller.fullname|title}) }}
{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}


    <div class="row">
        <div class="column small-12">
            {{ include('front/Seller/includes/seller_performances.html.twig') }}
        </div>
    </div>
    <div class="row margin-top-2">
        <div class="column small-12">
            {{ include('front/Seller/includes/seller_declarations.html.twig') }}
        </div>
    </div>
{% endblock %}