{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ "sale_form.page.title"|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}


    <div class="row">
        <div class="column small-12">
            <h2 class="primary-color">{{ 'sale_form.seller.section.title'|trans }}</h2>

            formulaire....


        </div>
    </div>
{% endblock %}