<ul class="brand-list">
    {% for member in app.user.garageMembers %}
        <li>
            <figure class="block-grid align-middle">
                <span class="brand-logo"><img src="{{ asset('/assets/images/placeholders/brand/logo-toyota.png') }}" alt="{{ member.garage.name }}"></span>
                <a href="{{ path('front_garage_view', {'id': member.garage.id}) }}" class="text-underline">{{ member.garage.name }}</a>
            </figure>
        </li>
    {% endfor %}
</ul>
