<ul class="brand-list">
    {% for membership in user.garageMemberships %}
        {% set garageRating = membership.garage.googleRating %}
        <li>
            {{ include('front/Garages/Detail/includes/summary_card.html.twig', {garage: membership.garage}) }}
            {% if userIsMe %}<p><a href="{{ path('front_garage_edit', {'id': membership.garage.id}) }}" class="text-underline">{{ 'garage.edit'|trans }}</a></p>{% endif %}
        </li>
    {% endfor %}
</ul>
