{% set inte_brand_list = [
    {
        name: 'Toyota Villeurbanne',
        image: '/assets/images/placeholders/brand/logo-toyota.png'
    },
    {
        name: 'Lyon Hybrid Car',
        image: '/assets/images/placeholders/brand/logo-toyota.png'
    }
] %}

<ul class="brand-list">
    {% for brand in inte_brand_list %}
        <li>
            <figure class="block-grid align-middle">
                <span class="brand-logo"><img src="{{ brand.image }}" alt="{{ brand.name }}"></span>
                <a href="{{ path('front_garage_detail') }}" class="text-underline">{{ brand.name }}</a>
            </figure>
        </li>
    {% endfor %}
</ul>
