<ul class="brand-list">
    {% for membership in user.garageMemberships %}
        <li>
            <figure class="block-grid align-middle" role="group">
                <span class="brand-logo"><img src="{{ membership.garage|logo('garage_mini_logo') }}" alt="{{ membership.garage.name }}"></span>
                <a href="{{ path('front_garage_view', {'id': membership.garage.id}) }}" class="text-underline">{{ membership.garage.name }}</a>
            </figure>
        </li>
    {% endfor %}
</ul>
