<a href="{{ contact|userInfoUrl }}" class="avatar-small">
    <img src="{{ contact.avatar|avatar('user_mini_thumbnail', contact.fullName) }}"
         alt="{{ 'user.contacted_by'|trans({'%contact_name%':contact.fullName}) }}"
         title="{{ 'user.contacted_by'|trans({'%contact_name%':contact.fullName}) }}">
</a>