{% trans_default_domain 'security' %}

<form action="{{ path('security_password_lost') }}" class="small-12" data-abide novalidate>

    {# Adresse e-mail #}
    <div>
        {% include 'front/Layout/includes/forms/input.html.twig' with {
        type: 'email',
        name: 'email',
        label: 'Email',
        required: true,
        required_message: 'Veuillez indiquer votre adresse email.'
        } %}
    </div>


    <div class="small-12 medium-8 large-7">
        <button type="submit" class="button full-width">{{ 'button.reset_password'|trans }}</button>
    </div>
</form>
