{% trans_default_domain 'security' %}

<form action="{{ path('security_login') }}" method="post" data-abide novalidate>
    <strong class="h3 input-margin black-color is-block">J'ai un compte {{ site_name }}</strong>
    <div>
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            type: 'email',
            name: '_username',
            label: 'user.field.email.label'|trans,
            required: true,
            required_message: 'Veuillez indiquer votre adresse email.'
        } %}
    </div>
    <div>
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            type: 'password',
            name: '_password',
            label: 'user.field.password.first.label'|trans ~ '<a data-open="js-password-lost">'~'user.field.password.forget'|trans~'</a>',
            required: true,
            required_message: 'Veuillez indiquer votre mot de passe.'
        } %}
    </div>
    <div class="input-margin">
        <button type="submit" class="button full-width">Connexion</button>
    </div>
</form>
