<form class="small-12" data-abide novalidate>
    <div>
        <label for="email-password-lost">Email</label>
        <input type="email" name="email-password-lost" id="email-password-lost" class="input" required>
        <small class="form-error">Veuillez indiquer votre adresse email.</small>
    </div>
    <div class="small-12 medium-8 large-7">
        <button type="submit" class="button full-width">Réinitialiser mon mot de passe</button>
    </div>
</form>
