<form data-abide novalidate>
    <strong class="h3 input-margin black-color is-block">J'ai un compte {{ site_name }}</strong>
    <div>
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            type: 'email',
            name: 'email',
            label: 'Email',
            required: true,
            required_message: 'Veuillez indiquer votre adresse email.'
        } %}
    </div>
    <div>
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            type: 'password',
            name: 'password',
            label: 'Mot de passe <a data-open="js-password-lost">Mot de passe oublié ?</a>',
            required: true,
            required_message: 'Veuillez indiquer votre mot de passe.'
        } %}
    </div>
    <div class="input-margin">
        <button type="submit" class="button full-width">Connexion</button>
    </div>
</form>
