{% trans_default_domain 'security' %}
{% form_theme form 'front/Layout/includes/forms/fields.html.twig' %}

{{ form_start(form,  {'attr': {'action': path('security_password_lost')}}) }}
    {# Adresse e-mail #}
    <div class="block-grid input-margin column small-12">
        {{ form_widget(form.email, {
            'label': 'Email',
            'label_class': '',
            'class_field': '',
            'placeholder': 'Entrez votre adresse email',
            'class': '',
            'required': true,
            'required_message': 'Veuillez indiquer votre adresse email.'
        }) }}
    </div>

    <div class="small-12 medium-8 large-7">
        <button type="submit" class="button full-width">{{ 'button.reset_password'|trans }}</button>
    </div>

{{ form_end(form) }}
