{% trans_default_domain 'security' %}

<form action="{{ path('security_password_lost') }}" class="small-12" data-abide novalidate>

    {# Adresse e-mail #}
    <div>
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            type: 'email',
            name: 'email',
            label: 'user.field.email.label'|trans,
            required: true,
            required_message: 'user.field.email.error'|trans
        } %}
    </div>

    <div class="small-12 medium-8 medium-offset-2">
        <button type="submit" class="button full-width">{{ 'global.button.send'|trans({}, 'messages') }}</button>
    </div>
</form>
