{% trans_default_domain 'security' %}

<form action="{{ path('security_login_page') }}" id="form-side-login" method="post" data-abide novalidate>
    <div>
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            type: 'email',
            name: '_username',
            label: 'user.field.email.label'|trans,
            required: true,
            required_message: 'user.field.email.error'|trans,
            id: 'email_side'
        } %}
    </div>
    <div>
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            type: 'password',
            name: '_password',
            label: 'user.field.password.first.label'|trans ~ '<a data-open="js-password-lost">'~'user.field.password.forget'|trans~'</a>',
            required: true,
            required_message: 'user.field.password.first.error'|trans,
            id: 'password_side'
        } %}
    </div>
    <div class="input-margin">
        <button type="submit" id="form-side-login-submit" class="button full-width">{{ 'global.button.connexion'|trans({},'messages') }}</button>
    </div>
</form>
