{% extends 'front/Layout/modal.html.twig' %}

{% set modalId = 'js-password-lost' %}

{% block title %}J’ai oublié mon mot de passe{% endblock %}
{% block content %}
    <p class="black-color">Pas de panique, cela arrive même au meilleur !</p>
    <p>Entrez simplement votre adresse email et vous recevrez un mail de Wamcar vous permettant de réinitialiser votre mot de passe.</p>
{% endblock %}
{% block includeFile %}
    {#{% include 'front/User/includes/form_password_lost.html.twig' %}#}
    {{ render(controller('AppBundle:Front/Security:passwordLost')) }}
{% endblock %}
