{% extends 'front/Layout/modal.html.twig' %}

{% set modalId = 'js-password-lost' %}

{% block title %}{{ 'password_lost.modal.title'|trans }}{% endblock %}
{% block content %}
    <p class="black-color">{{ 'password_lost.modal.subtitle'|trans }}</p>
    <p>{{ 'password_lost.modal.instructions'|trans }}</p>
{% endblock %}
{% block includeFile %}
    {{ render(controller('AppBundle:Front/Security:passwordLost')) }}
{% endblock %}
