{% extends 'front/User/includes/seller_item.html.twig' %}

{% block userLocation %}
    <p class="icon-location primary-color align-center">
        <span class="body-font-color">{{ seller.city }}</span>
    </p>
{% endblock userLocation %}