<ul id="js-search-tabs" class="tabs column" data-tabs>
    <li class="tabs-title small-6 medium-3 large-2 is-active"><a data-tabs-target="js-profil" href="#js-profil" aria-selected="true">Mon profil</a></li>
    <li class="tabs-title small-6 medium-3 large-2"><a data-tabs-target="js-project" href="#js-project">Mon projet</a></li>
</ul>
