<ul id="js-edit-tabs" class="tabs column" data-tabs>
    <li class="tabs-title small-6 medium-3 large-2 {% if tab == constant('AppBundle\\Controller\\Front\\PersonalContext\\UserController::TAB_PROFILE') %}is-active{% endif %}"><a data-tabs-target="js-profil" href="#js-profil" aria-selected="true">Mon profil</a></li>
    <li class="tabs-title small-6 medium-3 large-2 {% if tab == constant('AppBundle\\Controller\\Front\\PersonalContext\\UserController::TAB_PROJECT') %}is-active{% endif %}"><a data-tabs-target="js-project" href="#js-project">Mon projet</a></li>
</ul>
