/* ===========================================================================
   Global
   =========================================================================== */

nav {
  ul, ol {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
  }
}

figure {
  margin: 0;
}

html {
  @include breakpoint(small only) {
    line-height: 1.4;
  }
}

body {
  @include breakpoint(small only) {
    font-size: rem-calc(13);
  }

  @include breakpoint(medium only) {
    font-size: rem-calc(15);
  }
}

p {
  &.small {
    font-size: rem-calc(11);

    @include breakpoint(medium) {
      font-size: rem-calc(14);
    }
  }

  &.medium {
    font-size: rem-calc(14);

    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }
  }
}
