{% extends 'front/Layout/error.html.twig' %}

{% block mainClass %}no-padding{% endblock %}

{% block title %}Erreur interne du serveur{% endblock %}

{% block errorBody %}

    <p>Oups ! Wamcar a rencontré une erreur et ne peut pas afficher la page souhaitée.</p>
    <p>Veuillez réessayer ou <a href="mailto:contact@wamcar.fr" class="text-underline">contactez-nous</a> si le problème persiste.</p>
    <p><a href="{{ path('front_default') }}" class="text-underline">Retour à la page d'accueil</a></p>
    <br><br><br><br>

{% endblock %}
