{% trans_default_domain 'security' %}

{% form_theme form 'front/Layout/includes/forms/fields.html.twig' %}

{{ form_start(form) }}
    <div class="input-margin block-grid small-12">
        {# Mot de passe #}
        <div class="column small-12 medium-6 large-4">
            {{ form_widget(form.password.first, {
                'label': 'Mot de passe',
                'label_class': '',
                'class_field': '',
                'placeholder': 'Entrez votre mot de passe',
                'class': '',
                'required': true,
                'required_message': 'Veuillez indiquer un mot de passe.'
            }) }}
        </div>

        {# Mot de passe confirmation #}
        <div class="column small-12 medium-6 large-4">
            {{ form_widget(form.password.second, {
                'label': 'Confirmation mot de passe',
                'label_class': '',
                'class_field': '',
                'placeholder': 'Confirmez votre mot de passe',
                'class': '',
                'required': true,
                'required_message': 'Veuillez confirmer un mot de passe.'
            }) }}
        </div>
        <div class="column small-12 medium-6 large-4">
            <label class="is-invisible show-for-large">Valider</label>
            <button type="submit" class="button full-width">Valider ce mot de passe</button>
        </div>
    </div>
{{ form_end(form) }}
