/* ===========================================================================
   Footer
   =========================================================================== */

.footer {

  /*
     Container
     ===================================== */

  &-container {
    border: 0!important;

    p {
      font-size: 12px;
      line-height: 18px;
      color: #999999;
    }

    a {
      color: black;
      text-decoration: underline;
    }
  }

}
