{% extends ':front/Search/includes:item_vehicle_pro.html.twig' %}

{% set detailUrl = path(linkRoute, linkRouteParams|merge({'v': vehicle.id, '_fragment':'message-answer-block'})) %}

{% block right_action %}
    <a href="{{ detailUrl }}" class="vehicle-infos-arrow icon-plus"></a>
{% endblock %}