<div class="messages-list-empty text-center">
    <div class="messages-list-empty-icon icon-message is-block text-center"></div>
    <strong class="is-block">Vous n'avez pas reçu ni envoyé de message pour le moment.</strong>
    <p>Vous pouvez contacter un {{ app.user.isPro ? 'particulier' : 'professionnel'}} de votre choix depuis une fiche véhicule ou sa page profil.</p>
    <div class="block-grid">
        <a href="{{  app.user.isPro ? path('front_search_pro') : path('front_search_personal') }}" class="small-12 medium-offset-2 medium-8 large-offset-4 large-4 button">Rechercher un véhicule</a>
    </div>
</div>
