{% extends 'front/Layout/layout.html.twig' %}

{% set page_search = true %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}
    {# TODO: Checker pourquoi is_user_pro ne fonctionne pas en dehors des block body #}
    {# {% if is_user_pro %}
        Rechercher un lead
    {% else %}
        Rechercher une voiture
    {% endif %} #}
    Rechercher un lead
{% endblock %}

{# Exemple inté #}
{% set query_vehicle_name = app.request.get("vehicle-name") %}
{% set query_vehicle_location = app.request.get("vehicle-location") %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    },
    {
        'name': query_vehicle_name,
        'href': app.request.requestUri
    },
] %}

{% set vehicle_list = inte.vehicle %}

{% block body %}

    {% set switchLinkLabel = is_user_pro ? 'Je suis un particulier' : 'Je suis un professionnel' %}
    {% set page_header_class = 'no-margin' %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title'),
        title_class: 'medium-auto',
        link: not query_vehicle_name ? '<p class="search-link text-center medium-text-left small-12 medium-shrink"><a href="" class="text-underline medium-shrink">' ~ switchLinkLabel ~ '</a></p>'
    } %}

    <div class="block-gray has-border-bottom">
        {% if query_vehicle_name %}
            {% include 'front/Search/includes/result_label.html.twig' %}
        {% endif %}
        {% include 'front/Search/includes/form.html.twig' %}
        <div class="search-tabs row">
            {% include 'front/Search/includes/result_tabs.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="search-result tabs-content column small-12" data-tabs-content="js-search-tabs">
            <div id="js-search-all" class="tabs-panel is-active">
                {% include 'front/Search/includes/result_all.html.twig' %}
            </div>
            <div id="js-search-reprises" class="tabs-panel">
                {% include 'front/Search/includes/result_reprises.html.twig' %}
            </div>
            <div id="js-search-greetings" class="tabs-panel">
                {% include 'front/Search/includes/result_greetings.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
