{% extends 'front/Layout/layout.html.twig' %}

{% set page_search = true %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ 'search.common.title'|trans }}{% endblock %}
{% block canonical %}{{ url('front_search') }}{% endblock canonical %}

{% set breadcrumbs = [
    {
        'name': 'search.common.breadcrumbs'|trans,
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% set page_header_class = 'no-margin' %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        page_header_class: 'show-for-sr',
        title: block('title')
    } %}

    <div class="block-gray">
        {% include 'front/Search/includes/form.html.twig' %}
    </div>

    <div class="row">
        <div class="search-result column small-12">
            <header class="block-grid small-12 align-middle">
                <strong class="h2 no-margin">{{ result.totalHits }} résultat(s)</strong>
            </header>
            {% if result.totalHits > 0 %}
                <div class="garage-container search-result-vehicle search-result-personal">
                    {% set balise = 'h2' %}
                    {% include 'front/Search/includes/list_all.html.twig' %}
                    <br/>
                    <br/>
                </div>

                {% include 'front/Layout/includes/pagination.html.twig' with {
                    'route': 'front_search',
                    'page': page,
                    'lastPage': lastPage
                } %}
            {% else %}
                <br>
                <p>Aucun résultat n'a été trouvé, rééssayez votre recherche.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}
