{% extends 'front/Layout/layout.html.twig' %}

{% set page_search = true %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ 'search.vehicle_personal.title'|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}

    {% set switchLinkLabel = 'Véhicules proposés par les professionnels' %}
    {% set page_header_class = 'no-margin' %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title'),
        title_class: 'medium-auto',
        link: '<p class="search-link text-center medium-text-left small-12 medium-shrink"><a href="'~ path('front_search_personal') ~'" class="text-underline medium-shrink">' ~ switchLinkLabel ~ '</a></p>'
    } %}

    <div class="block-gray has-border-bottom">
        {% include 'front/Search/includes/form.html.twig' %}
        <div class="search-tabs row">
            {% include 'front/Search/includes/result_tabs.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="search-result tabs-content column small-12" data-tabs-content="js-search-tabs">
            <div id="js-search-all" class="tabs-panel {% if tab == constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::QUERY_ALL')%}is-active{% endif %}">
                 {% include 'front/Search/includes/result_all_pro.html.twig' with { 'result': result[constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::QUERY_ALL')]} %}
             </div>
             <div id="js-search-reprises" class="tabs-panel {% if tab == constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::QUERY_RECOVERY')%}is-active{% endif %}">
                 {% include 'front/Search/includes/result_reprises.html.twig' with { 'result': result[constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::QUERY_RECOVERY')]}%}
             </div>
             <div id="js-search-greetings" class="tabs-panel {% if tab == constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::QUERY_PROJECT')%}is-active{% endif %}">
                 {% include 'front/Search/includes/result_greetings.html.twig' with { 'result': result[constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::QUERY_PROJECT')]}%}
             </div>
        </div>
    </div>

{% endblock %}
