/.env
/.env.docker
/.env.local
/.web-server-pid
/app/config/parameters.yml
/app/config/googleApi/*.json
/app/Resources/public/api/swagger.json
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/bundle/*
/node_modules/
/bin/*
!/bin/console
!/bin/symfony_requirements
/web/uploads/
/web/media/
/web/openapi.json
/web/8azs_1t3m7p+qs768*
/cron/vehicleFlow/*.ini