<nav id="js-register-step-navigation" class="register-step-navigation block-grid small-auto">
    <a class="js-step-navigation register-step-navigation-item is-active" data-step="1"><span class="show-for-large">Identification du véhicule</span></a>
    <a class="js-step-navigation register-step-navigation-item" data-step="2"><span class="show-for-large">Photos</span></a>
    <a class="js-step-navigation register-step-navigation-item" data-step="3"><span class="show-for-large">Infos complémentaires</span></a>
    {% block additional_step %}{% endblock %}
</nav>
