<nav id="js-register-step-navigation" class="register-step-navigation block-grid small-auto">
    <a class="js-step-navigation register-step-navigation-item is-active"><span class="show-for-large">{{ 'vehicle.form.step_navigation.identification'|trans }}</span></a>
    <a class="js-step-navigation register-step-navigation-item"><span class="show-for-large">{{ 'vehicle.form.step_navigation.picture'|trans }}</span></a>
    <a class="js-step-navigation register-step-navigation-item"><span class="show-for-large">{{ 'vehicle.form.step_navigation.additionnal_infos'|trans }}</span></a>
    {% block additional_step %}{% endblock %}
</nav>
