{% extends 'front/Layout/includes/navigation/primary.html.twig' %}

{% set pageSearch = pageSearch|default(false) %}
{% set page_garage = page_garage|default(false) %}
{% set pageMessage = pageMessage|default(false) %}
{% set page_profil = page_profil|default(false) %}

{% set pathGarage = app.user.garage ? path('front_garage_view', {'id': app.user.garage.id}) : path('front_garage_create') %}

{% set navigation_class = 'is-flex small-right' %}
{% set navigation_items = [
    {
        slug: '',
        label: 'Recherche un véhicule',
        icon: 'search',
        current: pageSearch
    },
    {
        slug: pathGarage,
        label: 'Mon Garage',
        icon: 'garage',
        current: page_garage
    },
    {
        slug: '',
        label: 'Messagerie',
        icon: 'message',
        current: pageMessage
    },
    {
        slug: path('front_view_user_info'),
        label: 'Profil',
        icon: 'user',
        current: page_profil
    }
] %}

{% block navigation %}

    {% for item in navigation_items %}
        <a href="{{ item.slug }}" class="l-navigation-item is-logged {{ item.current ? 'is-active' : ''  }} l-header-button icon-{{ item.icon }} body-font-color l-header-button">
            <b class="show-for-xlarge">{{ item.label }}</b>
        </a>
    {% endfor %}

{% endblock %}
