<nav id="js-navigation" class="l-navigation small-12 medium-6 show-for-large large-text-center">
    <a href="">Vendre ma voiture</a>
    <a href="">Acheter une voiture</a>
    <a href="">Je suis un professionnel</a>
</nav>
