{% extends 'front/Layout/includes/navigation/primary.html.twig' %}

{% block navigation %}
    <a href="" class="l-navigation-item black-color"><strong>Vendre <span class="hide-for-large">ma voiture</span></strong></a>
    <a href="" class="l-navigation-item black-color"><strong>Acheter <span class="hide-for-large">une voiture</span></strong></a>
    <a href="" class="l-navigation-item body-font-color">
        <span class="hide-for-large-only">Mon profil</span>
        <span class="show-for-large-only">Profil</span>
    </a>
    <a href="" class="l-navigation-item body-font-color">
        <span class="hide-for-large-only">Mes vendeurs</span>
        <span class="show-for-large-only">Vendeurs</span>
    </a>
    <a href="" class="l-navigation-item body-font-color">
        <span class="hide-for-large-only">Mes favoris</span>
        <span class="show-for-large-only">Favoris</span>
    </a>
    <a href="" class="l-navigation-item body-font-color">Messagerie</a>
{% endblock %}
