<nav id="js-navigation" class="l-navigation small-12 large-8 show-for-large large-text-center">
    <a href="" class="l-navigation-item black-color"><strong>Vendre ma voiture</strong></a>
    <a href="" class="l-navigation-item black-color"><strong>Acheter une voiture</strong></a>
    <a href="" class="l-navigation-item body-font-color"><span>Je suis un professionnel</span></a>
</nav>
