{% set isLogged = isLogged|default(false) %}
{% set navigation_class = navigation_class|default('') %}

<nav id="{{ not isLogged ? 'js-navigation' : '' }}" class="l-navigation column small-text-center {{ navigation_class }}">
    {% block navigation %}
        <a href="{{ path('front_vehicle_registration') }}" class="l-navigation-item black-color"><strong>Vendre ma voiture</strong></a>
        <a href="{{ path('front_search_personal') }}" class="l-navigation-item black-color"><strong>Acheter une voiture</strong></a>
        <a href="#" class="l-navigation-item body-font-color"><span>Je suis un professionnel</span></a>
    {% endblock %}
</nav>
