<nav class="l-navigation-footer column">
    <a href="" class="small-6 medium-3 large-shrink">Concept</a>
    <a href="" class="small-6 medium-3 large-shrink">FAQ</a>
    <a href="" class="small-6 medium-3 large-shrink">Qui sommes-nous ?</a>
    <a href="" class="small-6 medium-3 large-shrink">Contactez-nous</a>
    <a href="" class="small-6 medium-3 large-shrink">CGU</a>
    <a href="" class="small-6 medium-3 large-shrink">Condidentialité</a>
    <a href="" class="small-6 medium-3 large-shrink">API</a>
    <a href="" class="small-6 medium-3 large-shrink">Mentions légales</a>
</nav>
