<nav class="l-navigation-footer column">
    <a href="" class="small-6 medium-3 large-3 xlarge-shrink">Concept</a>
    <a href="" class="small-6 medium-3 large-3 xlarge-shrink">FAQ</a>
    <a href="" class="small-6 medium-3 large-3 xlarge-shrink">Qui sommes-nous ?</a>
    <a href="" class="small-6 medium-3 large-3 xlarge-shrink">Contactez-nous</a>
    <a href="{{ path('cgu') }}" target="_blank" class="small-6 medium-3 large-3 xlarge-shrink">CGU</a>
    {#<a href="" class="small-6 medium-3 large-3 xlarge-shrink">Condidentialité</a>#}
    {#<a href="" class="small-6 medium-3 large-3 xlarge-shrink">API</a>#}
    <a href="" class="small-6 medium-3 large-3 xlarge-shrink">Mentions légales</a>
</nav>
