{% extends 'front/Layout/includes/navigation/primary.html.twig' %}

{% set visibilityConfigClass =  ' ' %}

{% block navigation %}
    <div class="js-navigation-header-search l-navigation-header-search {{ visibilityConfigClass }}">

    </div>


{% endblock navigation %}