{% set titleClass = titleClass|default('separator medium primary-color') %}

<h2 class="{{ titleClass  }}">{{ 'vehicle.section.additionalServices.title'|trans }}</h2>
<div>{{ vehicle.additionalServices|raw|nl2br }}</div>

