{% set titleClass = titleClass|default('separator medium primary-color no-margin-top') %}

<h2 class="{{ titleClass }}">{{ 'vehicle.section.additionalInformation.title'|trans }}</h2>
{%  if vehicle.additionalInformation|trim|length > 0 %}
    <div>{{ vehicle.additionalInformation|raw|nl2br }}</div>
{% endif %}
