{# PARTICULIER #}
{# <div class="vehicle-editing-static block-grid small-12">
    <span class="column small-12 medium-6 large-12"><a href="" class="button icon-message">Envoyer un message</a></span>
    <span class="column small-12 medium-6 large-12"><a href="" class="button reverse icon-heart">Mettre en favoris</a></span>
</div> #}
{# PRO #}
<div class="vehicle-editing block-grid small-12">
    <span class="column small-collapse small-auto large-uncollapse"><a href="{{ path('inte_vehicle_detail_pro_edit') }}" class="button add icon-pen">Modifier ce véhicule</a></span>
    <span class="column small-collapse small-shrink large-uncollapse large-left-collapse"><a href="" title="Supprimer ce véhicule" class="button remove icon-remove"><span class="show-for-sr">Supprimer ce véhicule</span></a></span>
</div>
