<div class="vehicle-editing block-grid small-12">
    <span class="column small-collapse small-6 medium-6 large-uncollapse large-12"><a href="" class="button add icon-message">Envoyer un message</a></span>
    <span class="column small-collapse small-6 medium-6 large-uncollapse large-12"><a href="" class="button white icon-heart">Ajouter en favoris</a></span>
</div>
