<div class="vehicle-editing block-grid small-12">
    <span class="column small-collapse small-auto large-uncollapse">
        <a href="" class="button add icon-message">Envoyer un message</a>
    </span>
</div>
