<div class="vehicle-editing block-grid small-12">
    <span class="column small-collapse small-auto large-uncollapse"><a href="{{ path('register') }}" class="button add icon-user">Inscrivez-vous pour faire une offre</a></span>
</div>
