<h2 class="separator medium primary-color">Financement</h2>
<ul class="list-bullet dark-gray-color no-margin">
    {% if vehicle.funding or vehicle.otherFunding %}
        {% if vehicle.funding %}
            <li>{{ vehicle.funding.key|trans([], 'enumeration') }}</li>
        {% endif %}
        {{ vehicle.otherFunding|raw|nl2br }}
    {% else %}
        Ce champ n'a pas été renseigné par le professionnel
    {% endif %}
</ul>
