<h2 class="separator medium primary-color">Garanties</h2>
<ul class="list-bullet dark-gray-color no-margin">
    {% if vehicle.guarantee or vehicle.otherGuarantee %}
        {% if vehicle.guarantee %}
            <li>{{ vehicle.guarantee.key|trans([], 'enumeration') }}</li>
        {% endif %}
        {{ vehicle.otherGuarantee|raw }}
    {% else %}
        Ce champ n'a pas été renseigné par le professionnel
    {% endif %}
</ul>
