{% set infos_inte = [
    { label: "Marque", value: vehicle.make },
    { label: "Modèle", value: vehicle.modelName },
    { label: "Version", value: vehicle.modelVersionName },
    { label: "Année", value: vehicle.years },
    { label: "Kilométrage", value: vehicle.mileAge },
    { label: "Motorisation", value: vehicle.engineName },
    { label: "Boite de vitesse", value: vehicle.transmission },
    { label: "Energie", value: vehicle.fuelName },
    { label: "Mise en circulation", value: vehicle.registrationDate|date("d/m/Y") },
    { label: "Véhicule importé", value: vehicle.isImported ? 'Oui' : 'Non' },
    { label: "Véhicule 1ère main", value: vehicle.isFirstHand ? 'Oui' : 'Non' }
] %}

<h2 class="separator medium primary-color">Informations principales</h2>
<ul class="vehicle-infos-list list-border tiny no-bullet no-margin">
    {% for info in infos_inte %}
        <li class="dark-gray-color block-grid"><strong class="small-5 medium-3 large-5 xlarge-3">{{ info.label }}</strong> {{ info.value }}</li>
    {% endfor %}
</ul>
