<h2 class="separator medium primary-color">{{ title }}</h2>

<div class="row">
    {% set balise = 'h3' %}
    {% set vehicleToList = listVehicles %}
    {% include 'front/Vehicle/Listing/includes/list.html.twig' %}
</div>
