<h2 class="separator medium primary-color">{{ title }}</h2>
<div class="l-main no-padding-top garage-container dark-gray-color no-margin ">
    {% for listVehicle in listVehicles %}
        {% if listVehicle != vehicle and loop.index < 5 %}
            {% include 'front/Vehicle/Listing/includes/item.html.twig' with {'vehicle': listVehicle} %}
        {% endif %}
    {% endfor %}
</div>
