<ul class="magellan vehicle-magellan small-12" data-magellan>
    {% if isProVehicle %}
        <li><a href="#js-description">Description</a></li>
    {% endif %}
    <li><a href="#js-infos"><span class="hide-for-medium">Infos</span> <span class="show-for-medium">Informations principales</span></a></li>
    <li><a href="#js-state">Etat <span class="show-for-medium">du véhicule</span></a></li>
    {% if not isProVehicle %}
        <li><a href="#js-description">Description</a></li>
    {% endif %}
    {% if isProVehicle %}
        <li><a href="#js-guarantees">Garantie</a></li>
        <li><a href="#js-funding">Financement</a></li>
    {% else %}
        <li><a href="#js-project">Projet</a></li>
    {% endif %}
    <li><a href="#js-associate">Autres véhicules</a></li>
</ul>
