{% extends 'front/Layout/modal.html.twig' %}

{% set modalId = 'js-modal-remove-vehicle' %}

{% block title %}Suppression de l'annonce {{ vehicle.name }}{% endblock %}

{% block content %}
    <p class="dark-gray-color">Êtes-vous sûr de vouloir supprimer ce véhicule&nbsp;?</p>
    {# Sprint 4 : pas de raison : juste demande de confirmation
    <p class="dark-gray-color">Quel est la raison de la suppression de votre véhicule ?</p>
    #}
    <form action="{{ path('front_vehicle_pro_delete', {'id':vehicle.id}) }}" class="small-12" data-abide novalidate>
        {# Sprint 4 : pas de raison : juste demande de confirmation
        {% include 'front/Layout/includes/forms/select.html.twig' with {
            label: false,
            options: [
                { value: '', label: 'Veuillez sélectionner une raison' },
                { value: '1', label: 'Raison 1' },
                { value: '2', label: 'Raison 2' },
                { value: '3', label: 'Raison 3' }
            ],
            id: 'raison',
            name: 'raison',
            required: true,
            required_message: 'Veuillez indiquer la raison de la suppression de votre véhicule.'
        } %}
        #}
        <div class="small-12 medium-8 large-7">
            <button type="submit" class="button full-width">Supprimer</button>
        </div>
    </form>
{% endblock %}
