<h2 class="separator medium primary-color">Projet du vendeur</h2>

{% if vehicle.ownerProject %}
    {% set project = vehicle.ownerProject %}
    {{ include(':front/User/includes:personal_user_project.html.twig') }}

{#
<h3 class="medium primary-color">Budget de 18 000€</h3>
<ul class="list-bullet dark-gray-color no-margin">
    <li><strong>Audi A3</strong> / 2012+ / -60000 km</li>
    <li><strong>BMW Serie 1</strong> / 2013+ / -60000 km</li>
    <li><strong>Mercedes-Benz Classe A</strong> / 2013+ / -60000 km</li>
</ul>

<div class="seller-project-details dark-gray-color">Je recherche une citadine allemande en version 5 portes. Diesel ou essence. Mes préférences vont pour une couleur noire ou gris anthracite.</div>
#}

{# TOOD Question intégration : Rappel de la fiche du vendeur ici ? uniquement sur mobile ? #}
<div class="seller-profile block-border">
    <figure class="block-grid align-middle" role="group">
        <span class="seller-pic "><img src="/assets/images/placeholders/user/user.png" alt="Juliette Dupont"></span>
        <div>
            <a href="" class="primary-color h3"><b>{{ vehicle.ownerName }}</b></a> <br>
            <span>Lyon 2ème</span>
        </div>
    </figure>
</div>

<div class="medium-6">
    {% if isUserPro %}
        <a href="#" class="button seller-project-button">Répondre à son projet</a>
    {# TODO afficher un lien pour le créateur du projet "Modifier mon projet" ? #}
    {% endif %}
</div>
{% else %}
    <p>Le vendeur n'a pas renseigné de projet de rachat.</p>
    {# TODO afficher un lien pour le créateur du projet "Créer mon projet" ? #}
{% endif %}