{% set state_inte = [
    { label: "Changement de courroie de distribution", value: vehicle.getisTimingBeltChanged ? 'Oui' : 'Non' },
    { label: "Date du dernier controle technique", value: vehicle.safetyTestDate.key|trans([], 'enumeration') },
    { label: "Resultat du dernier controle technique", value: vehicle.safetyTestState.key|trans([], 'enumeration') },
    { label: "Statut", value: vehicle.isFirstHand ? 'Neuf' : 'Occasion' },
    { label: "Etat de la carrosserie", value: vehicle.bodyState|default('Non renseigné') },
    { label: "Etat du moteur", value: vehicle.engineState|default('Non renseigné') },
    { label: "Etat des pneus", value: vehicle.tyreState|default('Non renseigné') },
    { label: "Carnet d’entretien", value: vehicle.maintenanceState.key|trans([], 'enumeration') }
] %}

<h2 class="separator medium primary-color">Etat du véhicule</h2>
<ul class="vehicle-infos-list list-border tiny no-bullet no-margin">
    {% for state in state_inte %}
        <li class="dark-gray-color block-grid">
            <strong class="small-6 medium-6 xlarge-5">{{ state.label }}</strong>
            {% if state.value matches '/^\\d+$/' %}
                <div class="small-12 medium-5 large-6">
                    <div class="star-list">
                    {% for i in 5..1 %}
                        {% set starClass = (state.value < i ? "star-empty" : "star-full")  %}
                         <i class="star-item {{ starClass }}"></i>
                    {% endfor %}
                    <span class="star-label" style="opacity: 1">{{ state.value|starValueLabel }}</span>
                    </div>
                </div>
            {% else %}
                {{ state.value }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
