{% set state_infos = [
    { label: "vehicle.field.body_state.label"|trans(), value: vehicle.bodyState|default(null) },
    { label: "vehicle.field.engine_state.label"|trans(), value: vehicle.engineState|default(null) },
    { label: "vehicle.field.tyre_state.label"|trans(), value: vehicle.tyreState|default(null) },
    { label: "vehicle.field.maintenance_state.label"|trans(), value: vehicle.maintenanceState is null ? null : vehicle.maintenanceState.key|trans([], 'enumeration') },
    { label: "vehicle.field.safety_test_date.label"|trans(), value: vehicle.safetyTestDate is null ? null : vehicle.safetyTestDate.key|trans([], 'enumeration') },
    { label: "vehicle.field.safety_test_state.label"|trans(), value: vehicle.safetyTestState is null  ? null : vehicle.safetyTestState.key|trans([], 'enumeration') },
    { label: "vehicle.field.timingBeltState.label"|trans(), value: (vehicle.getTimingBeltState is null ? null : vehicle.getTimingBeltState ? 'global.yes'|trans : 'global.no'|trans) },
] %}
{% for state in state_infos if state.value %}
    <li class="dark-gray-color block-grid">
        <strong class="small-6 medium-6 xlarge-5">{{ state.label }}</strong>
        {% if state.value matches '/^\\d+$/' %}
            <div class="small-12 medium-5 large-6">
                <div class="star-list">
                {% for i in 5..1 %}
                    {% set starClass = (state.value < i ? "star-empty" : "star-full")  %}
                     <i class="star-item {{ starClass }}"></i>
                {% endfor %}
                <span class="star-label" style="opacity: 1">{{ state.value|starValueLabel }}</span>
                </div>
            </div>
        {% else %}
            {{ state.value }}
        {% endif %}
    </li>
{% endfor %}
