<div class="vehicle-editing block-grid small-12">
    <span class="column small-collapse small-auto large-uncollapse"><a href="{{ path('front_vehicle_pro_add') }}" class="button add icon-pen">Modifier ce véhicule</a></span>
    <span class="column small-collapse small-shrink large-uncollapse large-left-collapse"><button type="button" title="Supprimer ce véhicule" class="button remove icon-remove" data-open="js-modal-remove-vehicle"><span class="show-for-sr">Supprimer ce véhicule</span></button></span>
</div>
