<div class="vehicle-editing block-grid small-12">
    <span class="column small-collapse small-auto large-uncollapse">
        <a href="{{ path('security_login_page') }}" class="button add icon-message">Envoyer un message</a>
    </span>
</div>
