<div class="vehicle-editing block-grid small-12">
    <span class="column small-collapse small-12 large-uncollapse large-auto">
        <a href="{{ path('front_conversation_create', {'id': vehicle.seller.id, 'vehicleId': vehicle.id, '_fragment':'message-answer-block' }) }}" class="button add icon-message">{{ 'global.button.send_message'|trans }}</a>
    </span>
    {# TODO not implemented feature ==> hidden #}
    {#<div class="column small-collapse small-6 medium-6 large-uncollapse large-left-collapse large-shrink">
        <a href="" class="button white icon-heart" title="Ajouter en favoris"><span class="hide-for-large">Ajouter en favoris</span></a>
    </div>#}
</div>
