/* ===========================================================================
   Checkbox & Radio
   =========================================================================== */



/*
   Settings
   ===================================== */

$label-margin-bottom: rem-calc(15); // $input-margin-bottom
$label-container-margin-bottom: rem-calc(25) - $label-margin-bottom;

$checkbox-width: 22px; // Stay with px for IE
$checkbox-height: $checkbox-width;
$checkbox-font-size: rem-calc(10);
$checkbox-color: currentColor;
$checkbox-icon: "\e90d";
$checkbox-margin-right: rem-calc(20);
$checkbox-margin-bottom: rem-calc(10);

$radio-width: rem-calc(30);
$radio-height: $radio-width;
$radio-border-width: 4px;
$radio-border-color: $primary-color;
$radio-margin-right: rem-calc(10);
$radio-checked-icon: "";
$radio-checked-width: rem-calc(22);
$radio-checked-height: $radio-checked-width;
$radio-checked-background: $secondary-color;
$radio-checked-top: $radio-border-width;
$radio-checked-left: $radio-border-width;
$radio-checked-margin-right: -($radio-checked-width);
$radio-checked-margin-left: $radio-border-width;



/*
   Placeholder
   ===================================== */

%checkbox-radio-style {
  color: $secondary-color;
  font-weight: bold;
  flex-wrap: nowrap;
  margin-bottom: $label-margin-bottom;

  /**
   * On stylise les éléments ::before et ::after de notre label
   * ::before simulera la case 'non cochée' et l'élément ::after viendra la cocher
   */
  &::before,
  &::after {
    display: inline-block;
  }

  &::before {
    content: '';
    background: white;
  }

  &::after {
    order: -1;
    font-family: icomoon;
    transition: .2s;
    opacity: 0;
    transform: scale(0);
  }

  /**
   * Si l'input est coché
   * On affiche l'élément ::after avec une opacité et un scale par défaut
   */
  :checked + & {
    &::after {
      opacity: 1;
      transform: scale(1);
    }
  } // End &:checked
}



/* ===========================================================================
   Checkbox
   =========================================================================== */

.checkbox {
  @extend %checkbox-radio-style;

  &::before,
  &::after {
    max-width: $checkbox-width;
    width: $checkbox-width;
    height: $checkbox-height;
    flex: 0 0 $checkbox-width;
    line-height: $checkbox-height;
  }

  &::before {
    border-color: currentColor;
    margin-right: $checkbox-margin-right;
    margin-bottom: 0;
  }

  &::after {
    content: $checkbox-icon;
    top: 0; left: 0;
    font-size: $checkbox-font-size;
    color: $checkbox-color;
    text-align: center;
    margin-right: -($checkbox-width);
  }

  /* Error state */

  &.is-invalid-label {
    margin-bottom: rem-calc(5);

    & ~ .form-error.is-visible {
      margin-top: rem-calc(-5);
    }

    &::before { @extend %input-error-style; }
  }



  /*
      Container
      ===================================== */

  &-container {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);

    @include breakpoint(medium) {
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(20);
    }
  }

}



/* ===========================================================================
   Radio
   =========================================================================== */

.radio {
  @extend %checkbox-radio-style;

  + label {

    &::before,
    &::after { border-radius: 50%; }

    &::before {
      width: $radio-width; // IE Fix
      max-width: $radio-width; // IE Fix
      height: $radio-height;
      flex: 0 0 $radio-width;
      border: #{$radio-border-width} solid #{$radio-border-color};
      margin-right: $radio-margin-right;
      margin-left: -($radio-checked-margin-left);
    }

    &::after {
      content: $radio-checked-icon;
      top: $radio-checked-top;
      left: $radio-checked-left;
      width: $radio-checked-width; // IE Fix
      max-width: $radio-checked-width; // IE Fix
      height: $radio-checked-height;
      flex: 0 0 $radio-checked-width;
      background: $radio-checked-background;
      margin-right: $radio-checked-margin-right;
      margin-left: $radio-checked-margin-left;
    }

  } // End + label



  /*
     Item
     ===================================== */

  &-item {
    @include buttonHeight;
    justify-content: center;
    border: rem-calc(1) solid $border-color;
    color: $body-font-color;
    margin-bottom: 0;
    margin-right: rem-calc(-1);
    padding-right: rem-calc(12);
    padding-left: rem-calc(12);
    transition: $global-transition;

    svg {
      overflow: hidden;
      width: 0;
      margin-left: rem-calc(10);
      transition: $global-transition;

      .vehicle-form-container & {
        display: none;
      }
    }

    :checked + & {
      color: black;

      svg {
        width: rem-calc(20);

        path {
          fill: darken($success-color,10%);
        }
      }
    }

    /* Error state */

    &.is-invalid-label {
      @extend %input-error-style;
      margin-bottom: 0;
    }

    /* Exceptions */

    &.small {
      height: rem-calc(35);

      :checked + & {
        background: $primary-color;
        border-color: $primary-color;
        color: white;
      }
    }
  }

}
