/* ===========================================================================
   Disabled
   =========================================================================== */

form {

  .is-disabled {
    transition: $global-transition;
    opacity: 0.5;
    pointer-events: none;
  }

}
