/* ===========================================================================
   Error
   =========================================================================== */

.form-error {
  @include inputMargin;
  display: none;
  font-size: rem-calc(12);
  color: $alert-color;

  @include breakpoint(medium) {
    font-size: rem-calc(14);
  }

  /* Visible state */

  &.is-visible {
    display: block;
  }

  /* Exceptions */

  .register-form & {
    margin-bottom: 0;
  }
}
