/* ===========================================================================
   Error
   =========================================================================== */

.form-error {
  display: none;
  color: $alert-color;

  &.is-visible {
    display: block;
    margin-bottom: rem-calc(10);
  }
}
