/* ===========================================================================
   Input
   =========================================================================== */


/*
   Settings
   ===================================== */

$input-height: rem-calc(40);
$input-height-compact: rem-calc(32);
$input-background: white;
$input-line-height: $input-height;
$input-line-height-compact: $input-height-compact;
$input-font-size: rem-calc(16);
$input-font-size-compact: rem-calc(14);
$input-border: rem-calc(1) solid $border-color;
$input-border-radius: 0;
$input-color: black;
$input-focus-shadow: inset 0 0 2px #13171B;
$input-focus-border: #13171B;
$input-margin-bottom: rem-calc(10);
$input-margin-bottom-medium: rem-calc(30);
$input-padding: 0 rem-calc(10);


/*
   Input mixin
   ===================================== */

@mixin inputMargin {
  margin-bottom: $input-margin-bottom;

  @include breakpoint(medium) {
    margin-bottom: $input-margin-bottom-medium;
  }
}

@mixin inputMarginCompact {
  margin-bottom: $input-margin-bottom;
}


/*
   Style
   ===================================== */

%input-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  color: $input-color;
  background: $input-background;
  font: $input-font-size $body-font-family;
  border: $input-border;
  border-radius: $input-border-radius;
  transition: border .3s, box-shadow .3s;
  outline: none;

  &:focus {
    border-color: $input-focus-border;
  }

  .form-compact & {
    font-size: $input-font-size-compact;
  }
}

%input-error-style {
  background-color: #fef3f4;
  border-color: $alert-color;
}


/*
   Input
   ===================================== */

.input,
.checkbox::before,
textarea {
  @extend %input-style;
}

.input,
.checkbox::before {
  padding: $input-padding;
}

.input,
select,
textarea {
  &.is-invalid-input {
    @extend %input-error-style;
    margin-bottom: rem-calc(5);
  }
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

.input,
textarea {
  @include inputMargin;
  width: 100%;
  margin-bottom: $input-margin-bottom;

  .form-compact &:not(.is-invalid-input) {
    @include inputMarginCompact;
  }
}

.input {
  @include buttonHeight;
  @include buttonPadding;
  line-height: $input-line-height;

  .form-compact &:not(textarea) {
    @include buttonHeightCompact;
    line-height: $input-line-height-compact;
  }

  /*
     Margin
     ===================================== */

  &-margin {
    @include inputMargin;

    .form-compact & {
      @include inputMarginCompact;
    }
  }

  &-margin-small {
    margin-bottom: $input-margin-bottom;
  }
}

input[value="Non"] {
  ~ .radio-item {
    svg {
      path {
        fill: darken($alert-color, 10%);
      }
    }
  }
}
