/* ===========================================================================
   Label
   =========================================================================== */



/*
   Settings
   ===================================== */

$label-color: $primary-color;
$label-style: normal;
$label-weight: bold;
$label-size: rem-calc(16);
$label-margin-bottom: rem-calc(8);
$label-margin-bottom-medium: rem-calc(13);



/*
   Label
   ===================================== */

label,
.label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $label-color;
  font-weight: $label-weight;
  margin-bottom: $label-margin-bottom;
  cursor: pointer;

  @include breakpoint(medium) {
    margin-bottom: $label-margin-bottom-medium;
  }

  /* Components */

  > span,
  > a {
    color: $body-font-color;
    font-weight: normal;
  }

  > a {
    text-decoration: underline;
    margin-left: auto;
  }

  > span {
    font-size: rem-calc(11);
    margin-left: rem-calc(20);

    @include breakpoint(medium) {
      font-size: rem-calc(14);
    }
  }

  /* Exceptions */

  form & {
    line-height: 1;
  }
}
