/* ===========================================================================
   Select
   =========================================================================== */



/*
   Settings
   ===================================== */

$select-height: $input-height;
$select-background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
$select-background-position: calc(100% - 10px) center;
$select-margin-bottom: $input-margin-bottom;
$select-padding: 0 rem-calc(5);



/*
   Select
   ===================================== */

select {
  @extend %input-style;
  @include appearance(none);
  @include buttonHeight;
  @include buttonPadding;
  @include inputMargin;
  background-image: $select-background;
  background-position: $select-background-position;
  background-size: 9px 6px;
  background-origin: content-box;
  background-repeat: no-repeat;
  cursor: pointer;

  &.sorting{
    height: rem-calc(25);
    background-color: transparent;
    font-weight: bold;
    border: 0;
  }

  /* Exception */
  .small & {
    @include breakpoint(small only) {
      background-position: calc(100% - #{rem-calc(5)}) center;
      padding: 0 rem-calc(10);
    }
  }
}
