# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    email_catcher_address: null

    preferred_makes: ['RENAULT','PEUGEOT','CITROEN','Volkswagen', 'VOLKSWAGEN','DACIA','TOYOTA','FORD','OPEL','NISSAN','FIAT']

    sitename: Wamcar
    css_js_unique_version: ~

    facebook_username: wamcar.france
    facebook_page_id: ~
    facebook_admin_ids: ~
    twitter_username: wamcar

    pro_space_url: 'http://pro.wamcar.com/'

    salespersons_emails: {"xavier@wamcar.com": "Xavier Pousset"}
    monitors_emails: [flavien@wamcar.com]

    typeform.contact: 'https://wamcar.typeform.com/to/AIMBwx'
    typeform.ubiflow_request: 'https://wamcar.typeform.com/to/pXYHJv'
    typeform.affinity.personal.form: MBKzPH
    typeform.affinity.pro.form: oOG6ml

    polevo.contact.name: Xavier Pousset
    polevo.contact.email: xavier@wamcar.com
    polevo.contact.tel: "0652374482"
    polevo.contact.address: 200 bv de la résistance
    polevo.contact.city: Mâcon
    polevo.contact.zip: 71000

    google.storage.bucketname.prefix: null
