# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    email_catcher_address: null

    preferred_makes: ['RENAULT','PEUGEOT','CITROEN','Volkswagen', 'VOLKSWAGEN','DACIA','TOYOTA','FORD','OPEL','NISSAN','FIAT']

    sitename: Wamcar
    facebook_username: wamcar.france
    facebook_page_id: ~
    facebook_admin_ids: ~
    twitter_username: wamcar

    pro_site_url: pro.wamcar.com