<form class="vehicle-filter block-grid small-12 align-middle">
    <div class="column small-12 medium-3 large-shrink medium-right-collapse">
        <label for="vehicle-search">Que recherchez-vous ?</label>
    </div>
    <div class="column small-12 medium-5 large-auto medium-left-collapse">
        <input type="text" name="vehicle" id="vehicle-search" class="input">
    </div>
    <div class="column small-12 medium-4 large-4">
        <button type="submit" class="button full-width">Trouver ma future voiture</button>
    </div>
</form>
