<form action="{{ path('inte_vehicle_detail_pro') }}" class="vehicle-filter block-grid small-12 align-middle" data-abide novalidate>
    <div class="column small-12 medium-4 large-shrink medium-right-collapse">
        <label for="vehicle-search">Que recherchez-vous ?</label>
    </div>
    {% include 'front/Layout/includes/forms/input.html.twig' with {
        name: 'vehicle-search',
        placeholder: 'Rechercher une marque, un modèle de véhicule...',
        class_field: 'column small-12 medium-8 large-auto medium-left-collapse'
    } %}
    <div class="column small-12 medium-6 large-4">
        <button type="submit" class="button full-width">Trouver ma future voiture</button>
    </div>
</form>
