{% set excludedVehicle = excludedVehicle|default(null) %}
<div class="vehicle-list small-12">
    {% if vehiclesToList is defined %}
        {% for vehicle in vehiclesToList if excludedVehicle != vehicle %}
            {% include 'front/Vehicle/Listing/includes/vehicle_item.html.twig' %}
        {% else %}
            <div class="column small-12">
                {# ne doit pas arriver car le block sont souvent cachés si pas de véhicule #}
                <p>{{ 'vehicle.list.empty_list'|trans }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>
