<div class="vehicle-list small-12">
    {% if garage is defined %}
        {% for index, vehicle in garage.proVehicles %}
                {% include 'front/Vehicle/Listing/includes/item.html.twig' %}
        {% endfor %}
    {% endif %}
</div>
