{% extends ':front/Layout:layout.html.twig' %}

{% block title %}Administration - Statistiques Particuliers{% endblock title %}

{% block bodyClass %}admin{% endblock %}
{% block mainClass %}{% endblock %}

{% block body %}
    <div class="row margin-bottom-1">
        <div class="column">
            <h1>Particuliers - Statistiques</h1>
            <small>
                <a href="{{ path('admin_board') }}" class="text-underline">Retour</a>&nbsp;-&nbsp;
                <a href="{{ path('easyadmin',{'entity':'PersonalApplicationUser'}) }}" class="text-underline">Admin. des particuliers</a>
            </small>
        </div>
    </div>
    <div class="admin-table-container">
        <table id="personalusersstatistics_dt" class="js-personal-users-statistics-datatable dataTable compact row-border full-width"
               data-href="{{ path('admin_personal_user_statistics') }}"
               data-trans="{{ asset('assets/trans-dt/fr_FR.json') }}">
            <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Date d'insc.</th>
                <th>Date Dep.</th>
                <th>Date LastConn.</th>
                <th>Date LastAct.</th>
                <th>Nb Conv.</th>
                <th>Nb Tél</th>
                <th>Nb Like</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock body %}

{% block footer %}{% endblock footer %}