{% extends ':front/Layout:layout.html.twig' %}

{% block title %}Administration - Statistiques Conseillers automobiles{% endblock title %}

{% block bodyClass %}admin{% endblock %}
{% block mainClass %}{% endblock %}

{% block body %}
    <div class="row margin-bottom-1">
        <div class="column">
            <h1>Professionnels - Statistiques</h1>
            <small>
                <a href="{{ path('admin_board') }}" class="text-underline">Retour</a>&nbsp;-&nbsp;
                <a href="{{ path('easyadmin',{'entity':'ProApplicationUser'}) }}" class="text-underline">Admin. des conseillers</a>
            </small>
        </div>
    </div>
    <div class="admin-table-container">
        <table id="prousersstatistics_dt" class="js-pro-users-statistics-datatable dataTable compact row-border full-width"
               data-href="{{ path('admin_pro_user_statistics') }}"
               data-trans="{{ asset('assets/trans-dt/fr_FR.json') }}">
            <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Tél.|Tél.Pro</th>
                <th>Date d'insc.</th>
                <th>Date Dép.</th>
                <th>Date LastConn.</th>
                <th>Date LastAct.</th>
                <th>Nb Conv.</th>
                <th>Nb Tél</th>
                <th>Nb Like</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock body %}

{% block footer %}{% endblock footer %}