{% extends 'front/Layout/layout.html.twig' %}

{% if app.user and vehicle.seller.id == app.user.id %}
    {% set page_garage = true %}
{% else %}
    {% set page_search = true %}
{% endif %}

{% block mainClass %}medium-no-padding-top{% endblock %}

{% block title %}{{ vehicle.name }}{% endblock %}

{% block body %}
    {% set isAbleToSeeFullInformation = isEditableByCurrentUser or isUserPro %}
    {% set vehicleSellerName = isAbleToSeeFullInformation ? vehicle.sellerName : 'user.profile.obfuscated_name'|trans %}

    {% if isEditableByCurrentUser %}
        {% set breadcrumbs = [
            {
                'name': 'user.profile.my_profile'|trans,
                'href': path('front_view_current_user_info')
            },
            {
                'name': block('title'),
                'href': app.request.requestUri
            }
        ] %}
    {% else %}
        {% set breadcrumbs = [
            {
                'name': vehicleSellerName,
                'href': path('front_view_user_info', {'id': vehicle.seller.id})
            },
            {
                'name': block('title'),
                'href': app.request.requestUri
            }
        ] %}

    {% endif %}

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Person",
    "name" : "{{ vehicle.sellerName }}",
    }

    </script>

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    <div class="l-main-container vehicle-perso">
        <div class="row">

            <section class="small-12 large-7 xlarge-8">
                <div class="small-12">
                    {% include 'front/Vehicle/Detail/includes/header.html.twig' %}
                    <div class="column small-collapse large-uncollapse">
                        {% include 'front/Vehicle/Detail/includes/carousel.html.twig' %}
                    </div>
                </div>
            </section>

            <aside id="js-move-vehicle-aside" class="vehicle-aside-container small-12 large-5 xlarge-4" aria-hidden="true">
                <div id="js-vehicle-aside" class="vehicle-aside block-grid small-12">
                    <div class="column small-12 medium-6 large-12">
                        {% include 'front/Vehicle/Detail/includes/personal_owner_infos.html.twig' %}
                    </div>
                    <div class="small-12 large-order-3">
                        {% if isEditableByCurrentUser %}
                            {% include 'front/Vehicle/Detail/includes/user_editing.html.twig' %}
                        {% else %}
                            {% include 'front/Vehicle/Detail/includes/user_personal_message_favoris.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </aside>

            <section class="small-12 xlarge-8">
                <div class="vehicle-detail block-grid small-12">
                    <div class="column small-12 small-collapse xlarge-uncollapse is-sticky">
                        {% include 'front/Vehicle/Detail/includes/magellan.html.twig' %}
                    </div>
                    <div class="separator-section column small-12" id="js-infos" data-magellan-target="js-infos">
                        {% include 'front/Vehicle/Detail/includes/infos.html.twig' %}
                    </div>
                    <div class="separator-section column small-12" id="js-state" data-magellan-target="js-state">
                        {% include 'front/Vehicle/Detail/includes/state.html.twig' %}
                    </div>
                    <div class="separator-section wysiwyg dark-gray-color column small-12" id="js-description" data-magellan-target="js-description">
                        {% include 'front/Vehicle/Detail/includes/description.html.twig' %}
                    </div>
                    <div class="separator-section column small-12" id="js-project" data-magellan-target="js-project">
                        {% include 'front/Vehicle/Detail/includes/seller_project.html.twig' %}
                    </div>
                    <div class="separator-section column small-12" id="js-interested_users" data-magellan-target="js-interested_users">
                        {% include 'front/Vehicle/Detail/includes/interested_user.html.twig' %}
                    </div>
                    <div class="separator-section column small-12" id="js-associate" data-magellan-target="js-associate">
                        {% include ':front/Vehicle/Detail/includes:list_vehicles.html.twig' with {'vehicleToList': vehicle.seller.vehicles, 'excludedVehicle':vehicle, 'title': 'vehicle.section.other_vehicle.title.personal'|trans} %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock body %}

{% block modal %}
    {% include 'front/Vehicle/Detail/includes/modal_remove_vehicle.html.twig' %}
{% endblock %}
