{% for message in messages %}
    <div>
        {{ message.createdAt|localizeddate('short','short') }} <b>{{ message.author.fullname|title }}</b>
        : {{ message.content }}
    </div>
{% endfor %}