{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}
{% from ':Mail/Layout:email.html.twig' import action_button %}

{% block title %}{{ 'notifyOwnerOfVehicleRemoved.object'|trans }}{% endblock %}

{% block body %}
    <div>
        {{ 'notifyOwnerOfVehicleRemoved.body'|trans({
            '%name%': name,
            '%annee%' : annee
        })|raw }}

        {# Typeform "Questionnaire après session Wamcar" désactivé
        {{ action_button('https://wamcar.typeform.com/to/yFPY9t?' ~ (common_utm|merge({
            'utm_content': 'button_opinion'
        }))|url_encode, 'notifyOwnerOfVehicleRemoved.action_label'|trans) }}
        #}
    </div>
{% endblock %}
