{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}

{% block title %}{{ 'notifyUserOfRegistrationTokenGenerated.object'|trans }}{% endblock %}

{% block body %}
    <div>
        {{ 'notifyUserOfRegistrationTokenGenerated.body'|trans({
            '%emailAddress%': emailAddress,
            '%activationUrl%': activationUrl
        })|raw }}
    </div>

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "EmailMessage",
          "potentialAction": {
            "@type": "SaveAction",
            "name": "Email address verification",
            "handler": {
              "@type": "HttpActionHandler",
              "url": "{{ activationUrl }}"
            }
          },
          "description": "{{ 'notifyUserOfRegistrationTokenGenerated.description'|trans({'%emailAddress%':activationUrl}) }}"
        }
    </script>

{% endblock %}
