{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}
{% from ':Mail/Layout:email.html.twig' import action_button, encart_vehicle %}

{% block title %}{{ 'notifyProUserOfGarageUnassignation.object'|trans({
    '%seller_fullname%': seller.fullname, '%garage_name%': garage.name
}) }}{% endblock %}

{% set mainAdministrator = garage.mainAdministrator %}

{% block body %}
    <div>
        {{ 'notifyProUserOfGarageUnassignation.body'|trans({
            '%administrator_fullname%': mainAdministrator.fullname,
            '%administrator_url%': mainAdministrator|userInfoUrl({}, true),
            '%garage_name%': garage.name,
            '%garage_url%': url('front_garage_view', {'id':garage.id})
        })|raw }}

        <table>
            <tr>
                <td>{{ action_button(url('front_garage_view',{'id':garage.id}),
                        'notifyProUserOfGarageUnassignation.action.see_garage'|trans) }}</td>
                <td>{{ action_button(url('front_conversation_create',{'id':mainAdministrator.id}),
                        'notifyProUserOfGarageUnassignation.action.contact'|trans({'%administrator_fullname%': mainAdministrator.fullname})) }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
