{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}

{% block title %}{{ 'notifyUserOfPasswordResetTokenGenerated.object'|trans }}{% endblock %}

{% block body %}
    <div>
        {{ 'notifyUserOfPasswordResetTokenGenerated.body'|trans({
            '%resetUrl%': resetUrl
        })|raw }}
    </div>
{% endblock %}
