{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}
{% from ':Mail/Layout:email.html.twig' import action_button, encart_vehicle %}

{% block title %}{{ 'notifyUserOfMessageCreated.object'|trans({'%messageAuthorName%': messageAuthorName}) }}{% endblock %}

{% block body %}
    <div>
        {{ 'notifyUserOfMessageCreated.body'|trans({
            '%messageAuthorName%': messageAuthorName,
            '%message%': message|nl2br,
        })|raw }}
        {% if vehicle != null %}
            {{ encart_vehicle(thumbnailUrl, vehicle.make, vehicle.modelName, vehicle.mileage, vehiclePrice) }}
         {% endif %}
        {{ action_button('http://portail.wamcar.com/signaler-une-annonce', 'notifyUserOfMessageCreated.action_label'|trans) }}
    </div>
{% endblock %}
