{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}
{% from ':Mail/Layout:email.html.twig' import action_button %}

{% block title %}{{ 'notifyProUserOfRegistration.object'|trans }}{% endblock %}

{% block body %}
    <div>
        {{ 'notifyProUserOfRegistration.body'|trans({
            '%user_mail%': user_mail,
            '%url_profile_page%': url_profile_page,
            '%url_contact_page%' : url_contact_page
        })|raw }}
        {{ action_button(url(url_profile_page_button), 'notifyProUserOfRegistration.action_label'|trans) }}
    </div>
{% endblock %}
