{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}

{% block title %}{{ 'notifyUserOfRegistrationTokenGenerated.title'|trans }}{% endblock %}

{% block body %}
    <div>
        {{ 'notifyUserOfRegistrationTokenGenerated.body'|trans({
            '%url%': activationUrl,
            '%site_url%': site_url
        })|raw }}
    </div>
{% endblock %}
