{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}
{% from ':Mail/Layout:email.html.twig' import action_button %}

{% block title %}{{ 'notifyUserOfAffinityDegreeCalculated.object'|trans }}{% endblock %}

{% block body %}
    <div>
        <p>
        {% if user.isPro %}
            {{ 'notifyUserOfAffinityDegreeCalculated.body.pro'|trans }}
            {% set action_url = url('front_search', common_utm|merge({
                'utm_content': 'button_search_vehicle'
            })) %}
        {% else %}
            {{ 'notifyUserOfAffinityDegreeCalculated.body.personal'|trans }}
            {% set action_url = url('front_directory_view', common_utm|merge({
                'utm_content': 'button_directory_pro'
            })) %}
        {% endif %}
        </p>
        {{ action_button(action_url, 'notifyUserOfAffinityDegreeCalculated.action_label'|trans) }}
    </div>
{% endblock %}