{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}

{% block title %}{{ 'notifyUserOfMessageCreatedWithVehicle.object'|trans({'%interlocutorName%': interlocutorName}) }}{% endblock %}

{% block body %}
    <div>
        {% if vehicle != null %}
            {{ 'notifyUserOfMessageCreatedWithVehicle.body'|trans({
                '%interlocutorName%': interlocutorName,
                '%username%': username,
                '%message%': message|nl2br,
                '%vehicleImage%': pathImg,
                '%vehicleMarque%': vehicle.make,
                '%vehicleModel%': vehicle.modelName,
                '%vehicleMileage%': vehicle.mileage,
            })|raw }}
        {% else %}
            {{ 'notifyUserOfMessageCreated.body'|trans({
                '%interlocutorName%': interlocutorName,
                '%username%': username,
                '%message%': message|nl2br
            })|raw }}
         {% endif %}
    </div>
{% endblock %}
