{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}

{% block title %}{{ 'notifyGarageAdministratorOfCancelledPendingRequest.object'|trans({
    '%seller_fullname%': seller.fullname, '%garage_name%': garage.name
}) }}{% endblock %}

{% block body %}
    <div>
        {{ 'notifyGarageAdministratorOfCancelledPendingRequest.body'|trans({
            '%garage_name%': garage.name,
            '%seller_fullname%': seller.fullname,
            '%seller_profile_url%': url('front_view_user_info', {'id':seller.id}),
            '%garage_url%': url('front_garage_view', {'id':garage.id})
        })|raw }}
    </div>
{% endblock %}
