{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}
{% from ':Mail/Layout:email.html.twig' import action_button %}

{% block title %}{{ 'notifyUserOfMessageCreated.object'|trans({'%messageAuthorName%': messageAuthorName}) }}{% endblock %}

{% block body %}
    <div>
        {{ 'notifyUserOfMessageCreated.body'|trans({
            '%messageAuthorName%': messageAuthorName,
            '%message%': message|nl2br,
        })|raw }}
        {% if vehicle != null %}
            {{ 'notifyUserOfMessageCreated.vehicle_encart'|trans({
                '%vehicleImage%': pathImg,
                '%vehicleMarque%': vehicle.make,
                '%vehicleModel%': vehicle.modelName,
                '%vehicleMileage%': vehicle.mileage,
            })|raw }}
         {% endif %}
        {{ action_button('http://portail.wamcar.com/signaler-une-annonce', 'notifyUserOfMessageCreated.action_label'|trans) }}
    </div>
{% endblock %}
