<nav id="js-register-step-navigation" class="register-step-navigation vehicle-step block-grid small-auto">
    <a class="js-step-navigation register-step-navigation-item is-active"><span>Identification <span class="show-for-large">du véhicule</span></span></a>
    <a class="js-step-navigation register-step-navigation-item is-disabled"><span>Photos</span></a>
    <a class="js-step-navigation register-step-navigation-item is-disabled"><span>Description <span class="show-for-large">de votre véhicule</span></span></a>
    <a class="js-step-navigation register-step-navigation-item is-disabled"><span>Prix et détail <span class="show-for-large">du véhicule</span></span></a>
</nav>
