
/* ===========================================================================
   Debug
   =========================================================================== */

.debug-actions {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translate3d(0, -50%, 0);
}

.debug-button {
  margin-bottom: 0 !important;
  z-index: 999;
  border-radius: 0 !important;
  margin-bottom: 10px !important;
  padding: 5px 8px !important;
}



/*
    Grid
    ===================================== */

.debug-grid-container {
  position: fixed;
  left: 50%;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 2;
  transform: translateX(-50%);
  pointer-events: none;
}

.debug-grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 1;
}

.debug-grid-item {
  position: relative;
  height: 100%;
}

.debug-grid-item::before,
.debug-grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  left: 10px;
  background: rgba(255, 0, 0, .2);
}

@media screen and (min-width: 641px) {
  .debug-grid-item::before,
  .debug-grid-item::after {
    right: 20px;
    left: 20px;
  }
}

.debug-grid-item::before { left: 0; }
.debug-grid-item::after { right: 0; }



/*
    Debug
    ===================================== */

/* Empty Attributes */
/* .debug *[alt=""], .debug *[title=""], .debug *[class=""], .debug *[id=""], .debug a[href=""] { */
.debug *[alt=""], .debug *[title=""], .debug a[href=""] {
  border: 5px solid yellow !important;
}
