{% extends 'front/Layout/layout.html.twig' %}

{% block body %}
    <h1>Orientation post-inscription</h1>

    <div>
        Que voulez-vous faire ?
        <ul>
            <li>Acheter un véhicule ?</li>
            <li>Vendre votre véhicule ?</li>
            <li>Les deux en même temps</li>
        </ul>
    </div>
{% endblock body %}