{% extends 'front/Layout/layout.html.twig' %}

{% form_theme vehicleForm ':front/Layout/includes/forms:fields.html.twig' %}

{% set is_register_page = true %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div>
        <ul>
        {% for error in vehicleForm.vars.errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
        </ul>
    </div>

    <section class="small-12">
        {{ form_start(vehicleForm, {
            'method' : 'POST',
            'attr' : {
                'class' : 'js-password register-form row',
                'id' : 'js-register-form',
                'novalidate' : 'novalidate'
            }
        }) }}

        <ul id="js-step" class="step">
            <li class="block-grid" data-step="1">
                {% include 'front/Security/Register/includes/vehicle_identification.html.twig' with { 'vehicleForm' : vehicleForm } %}
            </li>
            <li class="block-grid" data-step="2">
                {% include 'front/Security/Register/includes/pictures.html.twig' with { 'vehicleForm' : vehicleForm } %}
            </li>
            <li class="block-grid" data-step="3">
                {% include 'front/Security/Register/includes/more_infos.html.twig' with { 'vehicleForm' : vehicleForm } %}
            </li>
            <li class="block-grid" data-step="4">
                {% include 'front/Security/Register/includes/account.html.twig' with { 'vehicleForm' : vehicleForm } %}
            </li>
        </ul>
        <nav id="js-step-navigation" class="column small-12">
            <div class="register-navigation block-grid small-12 align-middle">
                <div class="small-6 large-7">
                    <button type="button" class="js-carousel-prev"><b class="black-color">Retour</b></button>
                </div>
                <div class="small-6 large-5 xlarge-4 xlarge-offset-1">
                    <button type="button" class="js-carousel-next button step-button-next small-12 medium-8 large-7 full-width">Étape suivante</button>
                </div>
            </div>
        </nav>
        {{ form_end(vehicleForm) }}

    </section>

{% endblock body %}
