{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-bottom{% endblock %}

{% block title %}Inscription confirmée{% endblock %}

{% block body %}

    <div class="register-confirm-drawing">
        <div class="row full-width">
            <section class="column small-12 medium-7 medium-offset-5 large-offset-6 large-5 xlarge-6">
                <h1 class="secondary-color">Merci de vous être inscrit sur <span class="primary-color">{{ site_name }}</span></h1>
                <p>Vous allez recevoir un email confirmant votre inscription dans les prochaines minutes. Vous pouvez dès à présent accéder à votre Espace membre. C’est à cet endroit que vous retrouverez les offres de reprises faites par des professionnels ainsi que vos conversations avec eux. Vous pouvez dès à présent vendre et acheter des véhicules sur {{ site_name }}.</p>
                <a href="" class="button input-margin small-12 large-9 xlarge-7">Voir les voitures disponibles</a>
            </section>
        </div>
    </div>

    <section class="section reinsurance-container small-12">
        <div class="row">
            {% include 'front/Layout/includes/reinsurance/reinsurance.html.twig' %}
        </div>
    </section>

{% endblock body %}
