{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}{{ not assitant_registration_mode?'no-padding' }}{% endblock %}

{% block title %}{{ 'user.registration.personal.title'|trans }}{% endblock %}
{% block meta_description %}{{ 'user.registration.personal.meta_description'|trans }}{% endblock %}
{% block og_type %}article{% endblock %}

{% set assitant_registration_mode = assitant_registration_mode|default(false) %}
{% set social_connect = social_connect|default(true) %}

{% block bodyClass %}light-gray-peexeo-bg{% endblock %}
{% block body %}
    {% if not assitant_registration_mode %}
        {% include 'front/Layout/includes/page_header.html.twig' with {
            page_header_class: 'column register-page-header',
            title: 'user.registration.personal.banner'|trans,
            title_class: 'dark-blue-color',
            subtitle: 'user.registration.personal.subbanner'|trans,
            subtitle_class: 'dark-blue-color',
        } %}
    {% endif %}

    <section class="small-12">
        <div class="row white-bg padding-top-2 padding-bottom-1 form-compact">
            {% include 'front/Security/Register/includes/account.html.twig' with {
                context:constant("Wamcar\\User\\PersonalUser::TYPE"),
                social_connect: social_connect
            }%}
        </div>
    </section>
{% endblock body %}


{% if not assitant_registration_mode %}
    {% block footer %}{% endblock footer %}
{% endif %}