/* ===========================================================================
   Footer
   =========================================================================== */

.l-footer {
  margin-top: auto;
  background: #eaeef4;

  /* Components */

  &, a {
    color: $grey-altPeexeo;
  }


  /*
     Top
     ===================================== */

  &-top,
  &-bottom {
    @include breakpoint(small only) {
      padding-right: rem-calc(10);
      padding-left: rem-calc(10);
    }
  }

  &-top {
    background: $white;
  }
}
