/* ===========================================================================
   Header
   =========================================================================== */


/*
   Settings
   ===================================== */

$header-height: rem-calc(60);
$header-height-medium: rem-calc(90);
$header-background: white;


/*
   Header
   ===================================== */

.l-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: $header-height;
  background: $header-background;
  box-shadow: 0 rem-calc(2) rem-calc(10) rgba(black, .1);
  z-index: 13;

  @include breakpoint(large) {
    z-index: 2;
    height: $header-height-medium;
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(20);
  }


  /*
     Button
     ===================================== */

  &-button {

    @include breakpoint(large down) {
      text-align: center;
      justify-content: center;
      width: $header-height;
      height: $header-height;
      border-left: rem-calc(1) solid $border-color;

      &::before { width: 100%; }
    } // End MQ large down

    @include breakpoint(medium down) {
      &::before { font-size: rem-calc(17); }
    }

    @include breakpoint(large only) {
      width: $header-height-medium;
      height: $header-height-medium;

      &::before { font-size: rem-calc(20); }
    } // End MQ large only

    @include breakpoint(xlarge) {
      &::before { font-size: rem-calc(17); }
    }

  } // End &-button
}
