/* ===========================================================================
   Header
   =========================================================================== */


/*
   Settings
   ===================================== */

$header-height: rem-calc(60);
$header-height-medium: rem-calc(90);
$header-background: white;


/*
   Header
   ===================================== */

.l-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: $header-height;
  flex: 0 0 $header-height;
  background: $header-background;
  box-shadow: 0 rem-calc(2) rem-calc(10) rgba(black, .1);
  z-index: $header-zindex;

  @include breakpoint(large) {
    z-index: $header-zindex; // Select 2 dropdown z-index: 1051
    height: $header-height-medium;
    flex: 0 0 $header-height-medium;
  }

  @media screen and (min-width: rem-calc(1200)) and (max-width: rem-calc(1489)) {
    font-size: rem-calc(16);
  }

  @media screen and (min-width: rem-calc(1490)) {
    font-size: rem-calc(20);
  }

  &-right {
    height: 100%;

    > * {
      height: 100%;
    }
  }

  /* Transparent */

  &.is-transparent {
    box-shadow: none;

    @include breakpoint(large) {
      background: none;
    }
  }

  &.is-fixed {
    transition: $global-transition;

    @include breakpoint(large) {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &.has-no-shadow {
    box-shadow: none;
  }


  /*
     Button
     ===================================== */

  &-button {
    text-align: center;
    justify-content: center;
    width: 40px;
    height: $header-height;

    &::before {
      font-size: rem-calc(17);
      width: 100%;
    }

    @media (min-width: 400px) {
      width: $header-height;
      height: $header-height;

      &::before {
        font-size: rem-calc(20);
      }
    }

    @include breakpoint(large) {
      width: $header-height-medium;
      height: $header-height-medium;

      .is-transparent & {
        border: 0;
      }
    }
    // End MQ large

    @include breakpoint(xlarge) {
      width: unset;

      &::before {
        font-size: rem-calc(17);
      }
    }

    > span {
      white-space: nowrap;
    }
  }

  // End &-button
}


/*
   Header
   ===================================== */

.advisors-header {
  &-search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    max-width: 100%;
    background-color: $white;
    padding: rem-calc(10px);
    z-index: 1;

    @include breakpoint(large) {
      position: relative;
      height: $header-height-medium;
      padding: rem-calc(20px) 0;
    }

    .keywords-cloud{
      &-container{
        margin-left: auto;
        margin-right: auto;
        background-color: $white;
        padding: rem-calc(20px);
        @include lightShadow;

        .loader {
          position: relative;
        }
      }
    }
  }
}


:target:before {
  content: "";
  display: block;
  height: $header-height; /* fixed header height*/
  margin: -$header-height 0 0; /* negative fixed header height */

  @include breakpoint(large) {
    height: $header-height-medium; /* fixed header height*/
    margin: -$header-height-medium 0 0; /* negative fixed header height */
  }
  // End MQ large only
}
