/* ===========================================================================
   Maij
   =========================================================================== */



/*
   Class
   ===================================== */

.l-main {
  position: relative;
  padding-top: rem-calc(25);
  padding-bottom: rem-calc(35);

  @include breakpoint(medium) {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(60);
  }

  @include breakpoint(large) {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(80);
  }

  /* Container */

  &-container {
    border-top: rem-calc(1) solid rgba(229, 229, 229, 0.5);

    @include breakpoint(medium) {
      padding-top: rem-calc(20);
    }

    @include breakpoint(xlarge) {
      padding-top: rem-calc(30);
    }
  }

  /* State */

  &.has-no-scroll {
    overflow-x: hidden;
  }

  /* Exceptions */

  &.small-no-padding-top {
    @include breakpoint(small only) {
      padding-top: 0;
    }
  }

  &.medium-no-padding-top {
    @include breakpoint(medium) {
      padding-top: 0;
    }
  }

  &.no-padding-top {
    padding-top: 0;
  }

  &.no-padding-bottom {
    padding-bottom: 0;
  }
}
