/* ===========================================================================
   Navigation
   =========================================================================== */

.l-navigation {
  &.is-flex {
    height: 100%;
  }

  /*
     Item
     ===================================== */

  &-item {
    position: relative;
    transition: $global-transition;

    @include breakpoint(medium down) {
      display: block;
      font-size: rem-calc(24);
      padding: rem-calc(15) rem-calc(30);
    }

    &.margin-right {
      @include breakpoint(large) {
        margin-right: rem-calc(10);
      }

      @include breakpoint(xlarge) {
        margin-right: rem-calc(15);
      }
    }

    @include breakpoint(large) {
      padding-right: rem-calc(9);
      padding-left: rem-calc(9);
    }

    @include breakpoint(xlarge) {
      padding-right: rem-calc(25);
      padding-left: rem-calc(25);
    }

    /* Body font color */

    &.l-header-button {
      @include breakpoint(large) {
        position: relative;
        padding-right: rem-calc(20);
        padding-left: rem-calc(20);

        &::after {
          content: "";
          position: absolute;
          top: calc(50% - #{rem-calc(9)});
          left: 0;
          height: rem-calc(20);
          width: rem-calc(1);
          background: currentColor;
        }
      }

      @include breakpoint(xlarge) {
        padding-right: rem-calc(30);
        padding-left: rem-calc(30);
      }
    } // End &.body-font-color

    /* Logged state */

    &.is-logged {
      color: black;

      @include breakpoint(medium down) {
        padding: 0;
      }

      &:hover,
      &:focus { color: $primary-color; }

      &::before {
        font-size: rem-calc(20);

        @include breakpoint(large only) {
          font-size: rem-calc(25);
        }

        @include breakpoint(xlarge) {
          margin-right: rem-calc(10);
        }
      }

      &::after { content: none; }
    }

    /* Active state */

    &.is-active {
      color: $primary-color;
      box-shadow: inset 0 -5px 0 0 currentColor;
    }

  } // End &-item



  /*
     Footer
     ===================================== */

  &-footer {
    @include breakpoint(large down) {
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
    }

    /* Components */

    > a {
      padding-top: rem-calc(5);
      padding-bottom: rem-calc(5);
      text-align: center;

      @include breakpoint(small) {
        font-size: rem-calc(12);
      }

      @include breakpoint(medium) {
        font-size: rem-calc(14);
      }

      @include breakpoint(large) {
        font-size: rem-calc(17);
      }

      @include breakpoint(xlarge) {
        font-size: rem-calc(20);
        padding-top: rem-calc(35);
        padding-bottom: rem-calc(35);
      }
    } // End > a

  } // End &-footer

}
