/* ===========================================================================
   Navigation
   =========================================================================== */

.l-navigation {



  /*
     Item
     ===================================== */

  &-item {
    position: relative;
    transition: $global-transition;

    @include breakpoint(medium down) {
      display: block;
      font-size: rem-calc(24);
      padding: rem-calc(15) rem-calc(30);
    }

    @include breakpoint(large) {
      &:nth-child(2) { margin-right: rem-calc(10); }
    }

    @include breakpoint(xlarge) {
      &:nth-child(2) { margin-right: rem-calc(15); }
    }

    /* Black color */

    &.black-color {
      @include breakpoint(large) {
        padding-right: rem-calc(9);
        padding-left: rem-calc(9);
      }

      @include breakpoint(xlarge) {
        padding-right: rem-calc(25);
        padding-left: rem-calc(25);
      }
    }

    /* Body font color */

    &.body-font-color {
      @include breakpoint(large) {
        position: relative;
        padding-right: rem-calc(20);
        padding-left: rem-calc(20);

        &::after {
          content: "";
          position: absolute;
          top: calc(50% - #{rem-calc(9)});
          left: 0;
          height: rem-calc(20);
          width: rem-calc(1);
          background: currentColor;
        }
      }

      @include breakpoint(xlarge) {
        padding-right: rem-calc(40);
        padding-left: rem-calc(40);
      }
    } // End &.body-font-color

    /* Logged state */

    &.is-logged {
      color: black;

      @include breakpoint(medium down) {
        padding: 0;
      }

      &:hover,
      &:focus { color: $primary-color; }

      &::before {
        font-size: rem-calc(20);

        @include breakpoint(large only) {
          font-size: rem-calc(25);
        }

        @include breakpoint(xlarge) {
          margin-right: rem-calc(20);
        }
      }

      &::after { content: none; }
      &:nth-child(2) { margin-right: 0; }
    }

    /* Active state */

    &.is-active {
      color: $primary-color;

      @include breakpoint(large down) {
        box-shadow: inset 0 -5px 0 0 currentColor;
      }

      @include breakpoint(xlarge) {
        position: relative;
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          top: calc(100% + #{rem-calc(25)});
          right: rem-calc(40);
          left: rem-calc(40);
          width: auto;
          height: rem-calc(5);
          background: currentColor;
          z-index: -1;
        }
      }

      @media screen and (min-width: rem-calc(1200)) and (max-width: rem-calc(1348)) {
        &::after {
          top: calc(100% + #{rem-calc(16)});
        }
      }
    }

  } // End &-item



  /*
     Footer
     ===================================== */

  &-footer {
    @include breakpoint(large down) {
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
    }

    /* Components */

    > a {
      padding-top: rem-calc(5);
      padding-bottom: rem-calc(5);
      text-align: center;

      @include breakpoint(small) {
        font-size: rem-calc(12);
      }

      @include breakpoint(medium) {
        font-size: rem-calc(14);
      }

      @include breakpoint(large) {
        font-size: rem-calc(17);
      }

      @include breakpoint(xlarge) {
        font-size: rem-calc(20);
        padding-top: rem-calc(35);
        padding-bottom: rem-calc(35);
      }
    } // End > a

  } // End &-footer

}
