/* ===========================================================================
   Navigation
   =========================================================================== */

.l-navigation {



  /*
     Item
     ===================================== */

  &-item {
    transition: $global-transition;

    @include breakpoint(medium down) {
      display: block;
      font-size: rem-calc(24);
      padding: rem-calc(15) rem-calc(30);
    }

    @include breakpoint(large) {
      padding-right: rem-calc(10);
      padding-left: rem-calc(10);
    }

    @include breakpoint(xlarge) {
      padding-right: rem-calc(25);
      padding-left: rem-calc(25);
    }

    /* Components */

    > span {
      border-width: rem-calc(1) 0 0;
      border-style: solid;
      border-color: rgba(white, .2);

      @include breakpoint(medium down) {
        display: block;
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(30);
      }

      @include breakpoint(large) {
        border-width: 0 0 0 rem-calc(1);
        padding-right: rem-calc(25);
        padding-left: rem-calc(25);
      }

      @include breakpoint(xlarge) {
        padding-right: rem-calc(50);
        padding-left: rem-calc(50);
      }
    } // End > span

  } // End &-item

}
