<div class="vehicle-list">
    {% for hit in result.hits %}
        {% if hit is instanceof("Wamcar\\Vehicle\\ProVehicle") %}
            {% include 'front/Search/includes/item_vehicle_pro.html.twig' with {'vehicle':hit, 'ajax_like':true} %}
        {% elseif hit is instanceof("Wamcar\\Vehicle\\PersonalVehicle") %}
            {#{% include 'front/Search/includes/item_vehicle_personal.html.twig' with {'vehicle':hit, 'ajax_like':true} %}#}
            {% include 'front/Search/includes/item_vehicle_personal_blur.html.twig' %}
        {% elseif hit is instanceof("Wamcar\\User\\Project") %}
            {#{% include 'front/Search/includes/item_personal_project.html.twig' with {'project': hit, 'ajax_like':true} %}#}
            {% include 'front/Search/includes/item_personal_project_blur.html.twig' with {'project': hit}  %}
        {% else %}
            <div class="primary-color">unknown</div>
        {% endif %}
    {% endfor %}
</div>
