<div class="vehicle-list">
    {% for hit in result.hits %}
        {% if hit is instanceof("Wamcar\\Vehicle\\ProVehicle") %}
            {% include 'front/Search/includes/item_personal.html.twig' with {'vehicle': hit} %}
        {% elseif hit is instanceof("Wamcar\\Vehicle\\PersonalVehicle") %}
            {% include 'front/Search/includes/item_pro.html.twig' with {'vehicle': hit} %}
        {% elseif hit is instanceof("Wamcar\\User\\Project") %}
            {% include 'front/Search/includes/item_personal_project.html.twig' with {'project': hit} %}
        {% else %}
            <div class="primary-color">unknown</div>
        {% endif %}
    {% endfor %}
</div>
