<header class="block-grid small-12 align-middle">
    <strong class="h2 no-margin show-for-medium">{{ result.totalHits }} résultat(s)</strong>
    {% include 'front/Layout/includes/forms/select.html.twig' with {
        class_field: 'small-12 medium-5 medium-right large-4',
        class: 'no-margin',
        label: false,
        options: [
            { value: '1', label: 'Trier par : Budget croissant' },
            { value: '2', label: 'Trier par : Budget décroissant' }
        ],
        id: 'search_all_filter',
        name: 'search_all_filter',
        form: 'js-search-form',
    } %}
</header>
<div class="garage-container search-result-vehicle">
    {% set balise = 'h2' %}
    {% set search_result = true %}
    {% include ':front/Search/includes:list.html.twig' %}
    <br />
    <br />
</div>

{% include 'front/Layout/includes/pagination.html.twig' %}
