<ul id="js-search-tabs" class="tabs column">
    <li
        data-href="https://jsonplaceholder.typicode.com/posts"
        class="tabs-title is-active"
    >
        <a href="#js-search-all" aria-selected="true">Toutes <small>(5802)</small></a>
    </li>
    <li
        data-href="https://jsonplaceholder.typicode.com/posts"
        class="tabs-title"
    >
        <a href="#js-search-reprises" aria-selected="true">Reprises <small>(5802)</small></a>
    </li>
    <li
        data-href="https://jsonplaceholder.typicode.com/posts"
        class="tabs-title"
    >
        <a href="#js-search-greetings" aria-selected="true">Souhaits <small>(5802)</small></a>
    </li>
</ul>
