{# Intégré mais non utilisé #}
<div class="search-label-container">
    <div id="js-search-label" class="search-label">
        <p class="row column text-center medium-text-left">
            <strong class="black-color">{{ query_vehicle_name }}, {{ query_vehicle_location }} &nbsp;&nbsp;</strong>
            <button data-scroll-to="body" type="button" class="text-underline" data-toggle="js-search-form-container">Modifier</button>
        </p>
    </div>
</div>
