<ul id="js-garage-tabs" class="tabs column" data-tabs>
    <li class="tabs-title is-active"><a href="#js-search-all" aria-selected="true">Toutes <small>(5802)</small></a></li>
    <li class="tabs-title"><a href="#js-search-reprises" aria-selected="true">Reprises <small>(5802)</small></a></li>
    <li class="tabs-title"><a href="#js-search-greetings" aria-selected="true">Souhaits <small>(5802)</small></a></li>
</ul>
