<header class="block-grid small-12 align-middle">
    <strong class="h2 no-margin show-for-medium">{{ result.totalHits }} résultat(s)</strong>
</header>
{% if result.totalHits > 0 %}
    <div class="garage-container search-result-vehicle search-result-personal">
        {% set balise = 'h2' %}
        {% include ':front/Search/includes:list_personal.html.twig' %}
        <br/>
        <br/>
    </div>

    {% include 'front/Layout/includes/pagination.html.twig' with {
        'route': 'front_search',
        'route_params': {'tab':constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PRO')},
        'page': pages[constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PRO')],
        'lastPage': lastPage[constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PRO')]
    } %}
{% else %}
    <br>
    <p>Aucun résultat n'a été trouvé, rééssayez votre recherche.</p>
{% endif %}
