{% set reinsurance_list = [
    {
        image: 'je-vends-mon-vehicule',
        alt: 'Je mets en vente mon véhicule',
        content: 'Je mets en vente mon véhicule. Je renseigne les informations qui lui sont relatives. C’est entièrement gratuit !',
    },
    {
        image: 'je-recois-des-offres',
        alt: 'Je reçois rapidement des offres de reprises de professionnels',
        content: 'Je reçois rapidement des offres de reprises de professionnels étudiées pour moi. Je peux ainsi comparer les offres.',
    },
    {
        image: 'je-vends-ma-voiture',
        alt: 'Je vends ma voiture à un pro',
        content: 'Je vends ma voiture à un pro. J’ai accès à un catalogue de véhicule d’occasion vérifiée vendue par un pro sur Wamcar.',
    }
] %}
{% set reinsurance_class = reinsurance_class|default('') %}

<ul class="reinsurance-wamcar block-grid column large-collapse small-12 small-up-1 medium-up-3 no-bullet {{ reinsurance_class }}">
    {% for index, reinsurance in reinsurance_list %}
        <li class="column is-flex small-horizontal medium-vertical xlarge-horizontal align-middle xlarge-collapse">
            <span class="reinsurance-wamcar-image medium-12 text-center primary-color"><img src="{{ asset('assets/images/reinsurance/' ~ reinsurance.image ~'.png') }}" alt="{{ reinsurance.alt }}" width="130"></span>
            <p class="reinsurance-wamcar-body no-margin">{{ reinsurance.content }}</p>
        </li>
    {% endfor %}
</ul>
