{% set reinsurance_list = [
    {
        image: 'pro-changement',
        alt: 'user.reinsurance.pro.items.first.alt'|trans,
        content: 'user.reinsurance.pro.items.first.content'|trans
    },
    {
        image: 'pro-lead',
        alt: 'user.reinsurance.pro.items.second.alt'|trans,
        content: 'user.reinsurance.pro.items.second.content'|trans
    },
    {
        image: 'pro-particulier',
        alt: 'user.reinsurance.pro.items.third.alt'|trans,
        content: 'user.reinsurance.pro.items.third.content'|trans
    }
] %}
{% set reinsurance_class = reinsurance_class|default('') %}

<ul class="reinsurance-wamcar block-grid small-up-1 medium-up-3 no-bullet {{ reinsurance_class }}">
    {% for index, reinsurance in reinsurance_list %}
        <li class="column is-flex small-horizontal medium-vertical xlarge-horizontal align-middle small-collapse medium-uncollapse xlarge-collapse">
            <span class="reinsurance-wamcar-image medium-12 text-center black-color"><img src="{{ asset('assets/images/reinsurance/' ~ reinsurance.image ~'.png') }}" alt="{{ reinsurance.alt }}" width="130"></span>
            <p class="reinsurance-wamcar-body no-margin">{{ reinsurance.content }}</p>
        </li>
    {% endfor %}
</ul>
