{% set reinsurance_list = [
    {
        image: 'pro-changement',
        content: 'Un prospect crée sa demande de changement de voiture sur wamcar en précisant son véhicule à reprendre, son souhait et son budget.',
    },
    {
        image: 'pro-lead',
        content: 'Vous choisissez vos leads en leur envoyant une ou plusieurs offres de vente de l’un de vos véhicules VN ou VO, accompagnée d’une proposition de reprise.',
    },
    {
        image: 'pro-particulier',
        content: 'Le particulier vous répond et prend rendez-vous directement.',
    }
] %}
{% set reinsurance_class = reinsurance_class|default('') %}

<h2 class="xlarge-no-margin h1 text-center full-width">La reprise, c’est simple avec <span class="primary-color">{{ site_name }}</span></h2>
<ul class="reinsurance-wamcar block-grid small-up-1 medium-up-3 no-bullet {{ reinsurance_class }}">
    {% for index, reinsurance in reinsurance_list %}
        <li class="column is-flex small-horizontal medium-vertical xlarge-horizontal align-middle small-collapse medium-uncollapse xlarge-collapse">
            <span class="reinsurance-wamcar-image medium-12 text-center"><img src="{{ asset('assets/images/reinsurance/' ~ reinsurance.image ~'.png') }}" width="130"></span>
            <p class="reinsurance-wamcar-body no-margin">{{ reinsurance.content }}</p>
        </li>
    {% endfor %}
</ul>
<p class="no-margin text-center full-width">Schéma représentant le processus de reprise de véhicule. Vous pouvez également utiliser Wamcar uniquement pour vendre.</p>
