<div class="business-body small-12 medium-7 large-6">
    <h2 class="black-color h1 text-center medium-text-left"><span class="primary-color">Professionnel ?</span> Développez votre business avec Wamcar</h2>
    <p>Lorem ipsum felis tincidunt eleifend in ullamcorper faucibus nec Morbi conubia aliquet gravida ac, maximus ultricies vel felis odio. Tempus, iaculis, tempus Proin Cras id nunc pulvinar finibus id eu. Tempor eget in neque faucibus condimentum nunc id turpis lorem, eu erat lectus. Erat, inceptos vestibulum lobortis mattis Donec mattis commodo massa ac vitae. Sagittis sed hendrerit himenaeos. Consectetur Nunc iaculis. Hendrerit dictum pharetra Nunc tincidunt neque pharetra feugiat pharetra sit.</p>
    <a href="" class="button large-8">Accéder au site professionnel</a>
</div>
<div class="column small-12 small-right-collapse medium-5 large-6">
    <picture class="business-image">
        <source media="(min-width: 1024px)" srcset="{{ asset('assets/images/background/citroen-ds-large.png') }}">
        <img src="{{ asset('assets/images/background/citroen-ds.jpg') }}" alt="Citrën DS 3">
    </picture>
</div>
