<form class="block-grid">
    <div class="column small-12 medium-6">
        <label for="brand">Marque</label>
        <select name="brand" id="brand">
            <option value="">Choisir marque</option>
            <option value="">BM</option>
            <option value="">BM</option>
            <option value="">BM</option>
            <option value="">BM</option>
        </select>
    </div>
    <div class="column small-12 medium-6">
        <label for="model">Modèle</label>
        <select name="model" id="model">
            <option value="">Choisir modèle</option>
            <option value="">M3</option>
            <option value="">M3</option>
        </select>
    </div>
    <div class="input-margin block-grid column small-12">
        <label for="imma-2" class="no-margin small-auto">Je cherche un véhicule pour le template</label>
        <ul class="block-grid small-right no-margin no-bullet">
            <li>
                <input type="radio" name="vehicle-replace-2" id="yes-2" class="is-hidden">
                <label for="yes-2" class="radio-item">Oui</label>
            </li>
            <li>
                <input type="radio" name="vehicle-replace-2" id="no-2" class="radio-item is-hidden">
                <label for="no-2" class="radio-item">Non</label>
            </li>
        </ul>
    </div>
    <div class="column small-12 medium-6">
        <label for="brand-search">Marque recherchée</label>
        <select name="brand-search" id="brand-search">
            <option value="">Choisir marque</option>
            <option value="">BM</option>
            <option value="">BM</option>
            <option value="">BM</option>
            <option value="">BM</option>
        </select>
    </div>
    <div class="column small-12 medium-6">
        <label for="model-search">Modèle recherché</label>
        <select name="model-search" id="model-search">
            <option value="">Choisir modèle</option>
            <option value="">M3</option>
            <option value="">M3</option>
        </select>
    </div>
    <div class="column small-12">
        <button type="submit" class="button full-width">C'est partie !</button>
    </div>
</form>
