<form class="block-grid" data-abide novalidate>
    <div class="column small-12">
        <label for="imma">Numéro d'immatriculation</label>
        <input type="text" name="imma" id="imma" class="input" required>
        <small class="form-error">Veuillez indiqué un numéro d'immatriculation.</small>
    </div>
    <div class="input-margin block-grid column small-12">
        <label for="imma" class="no-margin small-8 medium-auto">Je cherche un véhicule pour le template</label>
        <ul class="block-grid small-right">
            <li>
                <input type="radio" name="vehicle-replace" id="yes" class="is-hidden">
                <label for="yes" class="radio-item small">Oui</label>
            </li>
            <li>
                <input type="radio" name="vehicle-replace" id="no" class="is-hidden">
                <label for="no" class="radio-item small">Non</label>
            </li>
        </ul>
    </div>
    <div class="column small-12">
        <p>Avec Wamcar, je peux vendre et acheter mon véhicule sur la même plateforme et obtenir ainsi le meilleur prix de la part de professionnels.</p>
        <button type="submit" class="button full-width">C'est partie !</button>
    </div>
</form>
