<form action="{{ path('front_vehicle_registration') }}" class="block-grid" data-abide novalidate>
    <div class="column small-12">
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            label: 'Numéro d\'immatriculation',
            name: 'imma',
            pattern: 'number',
            required: true,
            required_message: 'Veuillez indiqué un numéro d\'immatriculation'
        } %}
    </div>
    <div class="input-margin block-grid column small-12">
        <label class="no-margin small-8 medium-auto">Je cherche un véhicule pour le remplacer</label>
        <ul class="block-grid small-right">
            <li>
                {% include 'front/Layout/includes/forms/radio_text.html.twig' with {
                    name: 'vehicle-replace',
                    id: 'yes',
                    class: 'small',
                    label: 'Oui'
                } %}
            </li>
            <li>
                {% include 'front/Layout/includes/forms/radio_text.html.twig' with {
                    name: 'vehicle-replace',
                    id: 'no',
                    class: 'small',
                    label: 'Non'
                } %}
            </li>
        </ul>
    </div>
    <div class="column small-12">
        <p>Avec Wamcar, je peux vendre et acheter mon véhicule sur la même plateforme et obtenir ainsi le meilleur prix de la part de professionnels.</p>
        <button type="submit" class="button full-width">C'est parti !</button>
    </div>
</form>
