{% form_theme vehicleIdentificationForm ':front/Layout/includes/forms:fields.html.twig' %}

{{ form_start(vehicleIdentificationForm, {
    'method' : 'POST',
    'action' : path('front_vehicle_registration'),
    'attr' : {
        'class' : 'block-grid',
        'data-abide' : 'data-abide',
        'novalidate' : 'novalidate'
    }
}) }}

<div class="column small-12 medium-6">
    {{ form_widget(vehicleIdentificationForm.make, {
        label: 'Marque',
        dataToggleId: 'js-model',
        dataFetchUrl: path('front_vehicle_registration_form_update') ~ '?filters[make]=%value%&fetch=model',
        required: true,
        required_message: 'Veuillez indiquer la marque du véhicule.'
    }) }}
</div>
<div id="js-model" class="column small-12 medium-6 is-disabled">
    {{ form_widget(vehicleIdentificationForm.model, {
        label: 'Modèle',
        required: true,
        required_message: 'Veuillez choisir un modèle.'

    }) }}
</div>

<div class="input-margin block-grid column small-12">
    <label for="imma-2" class="no-margin small-8 medium-auto">Je cherche un véhicule pour le remplacer</label>
    <ul class="block-grid small-shrink small-right">
        <li>
            {% include 'front/Layout/includes/forms/radio_text.html.twig' with {
            name: 'vehicle-replace-2',
            id: 'yes-2',
            class: 'small',
            label: 'Oui'
            } %}
        </li>
        <li>
            {% include 'front/Layout/includes/forms/radio_text.html.twig' with {
            name: 'vehicle-replace-2',
            id: 'no-2',
            class: 'small',
            label: 'Non'
            } %}
        </li>
    </ul>
</div>
<div class="column small-12">
    <button type="submit" class="button full-width">C'est parti !</button>
</div>

{{ form_end(vehicleIdentificationForm) }}
