<form action="{{ path('front_vehicle_registration') }}" name="form-plate-number" method="GET" class="block-grid" data-abide novalidate>
    <div class="column small-12">
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            label: 'homepage.vehicle_form.tabs.immatriculation.field.immatriculation.label'|trans,
            name: 'plate_number',
            placeholder: 'homepage.vehicle_form.tabs.immatriculation.field.immatriculation.placeholder'|trans,
            required: true,
            required_message: 'homepage.vehicle_form.tabs.immatriculation.field.immatriculation.required_message'|trans
        } %}
    </div>
    <div class="input-margin block-grid column small-12">
        <label class="no-margin small-8 medium-auto" for="vehicle-replace">{{ 'homepage.vehicle_form.tabs.immatriculation.field.replacement.label'|trans }}</label>
        <ul class="block-grid small-right">
            <li>
                {% include 'front/Layout/includes/forms/radio_text.html.twig' with {
                    name: 'vehicle-replace',
                    id: 'yes',
                    class: 'small',
                    label: 'global.yes'|trans,
                    value: true,
                    checked: true
                } %}
            </li>
            <li>
                {% include 'front/Layout/includes/forms/radio_text.html.twig' with {
                    name: 'vehicle-replace',
                    id: 'no',
                    class: 'small',
                    label: 'global.no'|trans,
                    value: false
                } %}
            </li>
        </ul>
    </div>
    <div class="column small-12">
        <p>{{ 'homepage.vehicle_form.tabs.immatriculation.pre_submit'|trans }}</p>
        <button type="submit" class="button full-width">{{ 'homepage.vehicle_form.submit.button'|trans }}</button>
    </div>
</form>
