{% extends 'front/Layout/modal.html.twig' %}

{% set modalId = 'js-modal-concept-video' %}

{% block title %}{{ 'homepage.video.modal_title'|trans }}{% endblock %}
{% block class %}large{% endblock %}
{% block content %}
    <div class="youtube-player" data-id="hVEmFoIxA_E"></div>
{% endblock %}
