{% extends 'front/Layout/modal.html.twig' %}

{% set modalId = 'js-modal-concept-video' %}

{% block title %}Le concept en vidéo{% endblock %}
{% block content %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, voluptatibus. Perferendis veritatis consequatur ipsa laudantium illo quidem ullam quo libero excepturi, beatae hic distinctio fuga eum sint facere, impedit ipsam?</p>
    <p>// Video</p>
{% endblock %}
