<div class="mission-body section column small-12 medium-6 medium-order-2 large-5 xlarge-4">
    <h2 class="h1 text-center primary-color medium-text-left">Notre mission</h2>
    <ul class="list-border no-margin no-bullet column medium-collapse">
        <li>
            <p><span class="primary-color">Diffuser votre demande</span> de reprise auto sans vos données perso à un maximum de Pros*</p>
            <small>* Toutes marques, concessionnaires, garages, mandataires, importateurs, sites internets</small>
        </li>
        <li>
            <p>Vous permettre de recevoir, trier, filtrer et <span class="primary-color">comparer des offres personnalisées</span></p>
        </li>
        <li>
            <p>Vous offrir le choix de <span class="primary-color">la meilleure offre</span> qui puisse vous être faite par un Pro de confiance</p>
        </li>
    </ul>
</div>
<div class="mission-image column small-12 medium-6 medium-collapse large-uncollapse xlarge-7">
    <img src="{{ asset('assets/images/background/magicien.svg') }}" alt="Magicien Wamcar">
</div>
