<form id="js-search-form" class="search-form column small-12 medium-6 medium-order-1">
    <header class="search-header medium-text-center">
        <h2 class="h1 primary-color section-title">Je change de voiture</h2>
        <p class="black-color medium no-margin small-10 medium-12 large-9"><b>Déposez votre annonce, recevez et comparer les offres de reprise des professionnels</b></p>
    </header>
</form>
<div class="column medium-collapse small-12 medium-6">
    <picture>
        <source media="(min-width: 640px)" srcset="{{ asset('assets/images/background/search-large.png') }}">
        <img src="{{ asset('assets/images/background/search.jpg') }}">
    </picture>
</div>
