{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ 'user.profile.edit'|trans }}{% endblock %}

{% block body %}

    {% set page_header_class = 'no-margin' %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}

    <div class="block-gray has-border-bottom">
        <div class="row">
            {% include 'front/User/includes/tabs_edit_profil.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="tabs-content small-12" data-tabs-content="js-edit-tabs">
            <div id="js-profil" class="tabs-panel  {% if tab == constant('AppBundle\\Controller\\Front\\PersonalContext\\UserController::TAB_PROFILE') %}is-active{% endif %}">
                {% include 'front/User/includes/form_edit_profil.html.twig' %}
            </div>
            <div id="js-project" class="tabs-panel {% if tab == constant('AppBundle\\Controller\\Front\\PersonalContext\\UserController::TAB_PROJECT') %}is-active{% endif %}">
                {% include ':front/User/includes:form_project.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
