{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ 'user.profile.edit.title'|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': 'user.profile.my_profile'|trans,
        'href': path('front_view_current_user_info')
    },
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}

    <div class="row">
        {% include 'front/User/includes/form_edit_profil.html.twig' %}
    </div>
{% endblock %}
