{% extends 'front/Layout/layout.html.twig' %}

{% trans_default_domain 'user' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}Editer mon profil{% endblock %}

{% set page_profil = true %}

{% block body %}

    {% set page_header_class = 'no-margin' %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}

    <div class="block-gray has-border-bottom">
        <div class="row">
            {% include 'front/User/includes/tabs_edit_profil.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="tabs-content small-12" data-tabs-content="js-search-tabs">
            <div id="js-profil" class="tabs-panel  is-active">
                {% include 'front/User/includes/form_edit_profil.html.twig' %}
            </div>
            <div id="js-project" class="tabs-panel">
                {{ render(controller('AppBundle:Front/PersonalContext/User:project')) }}
            </div>
        </div>
    </div>
{% endblock %}
