<div class="is-relative small-12">
    <div class="garage-logo column medium-3 large-12">
        <img src="{{ asset('assets/images/placeholders/garages/logo-toyota.png') }}" alt="Logo Toyota">
    </div>
</div>
