{% extends 'front/User/includes/seller_pro_item.html.twig' %}

{% set seller = pendingRequest.proUser %}
{% set sellerIsCurrentUser = seller.is(app.user)%}
{% set displayPresentationTitle = false %}

{% block bottomContainer %}
    <div class="text-center">
        <a href="{{ path('front_garage_assign',  {'garage_id':garage.id,'user_id':seller.id}) }}"
           class="button small full-width icon-check-circle input-margin-small green-peexeo-before-color">{{ 'user.garage.accept_request'|trans }}</a>
        <a href="{{ path('front_garage_unassign', {'garage_id':garage.id,'user_id':seller.id}) }}"
           class="button small full-width icon-times-circle red-peexeo-before-color">{{ 'user.garage.decline_request'|trans }}</a>
    </div>
{% endblock bottomContainer %}