<div class="column xlarge-collapse">
    <h2>Présentation</h2>
    {% if garage.presentation %}
        <p>{{ garage.presentation|nl2br|raw }}</p>
    {% elseif isEditableByCurrentUser %}
        <p>Distinguez-vous de vos concurents ! Présentez votre garage en quelques mots, votre activité, vos avantages concurentiels, etc.</p>
        <a href="{{ path('front_garage_edit', {'id': garage.id}) }}" class="text-underline">Modifier mon garage</a>
    {% endif %}
</div>
