<div class="column xlarge-collapse">
    <h2>Présentation</h2>
    {% if garage.presentation %}
        <p>{{ garage.presentation|nl2br|raw }}</p>
    {% elseif isEditableByCurrentUser %}
        <p>Présenter en quelques mots votre société, vos offres, vos avantages concurrentiels qui vous distingueront de vos concurrents !</p>
        <a href="{{ path('front_garage_edit', {'id': garage.id}) }}" class="text-underline">Modifier mon garage</a>
    {% endif %}
</div>
