<div class="column xlarge-collapse">
    <h2>Présentation</h2>
    {{ garage.presentation|raw }}
    <a href="{{ path('front_seller_card_edit') }}" class="text-underline">Modifier mes informations</a>
</div>
