/* ===========================================================================
   Block
   =========================================================================== */


/*
   Block Class
   ===================================== */


.block {

  &-primary {
    background: $primary-color;
    color: white;
  }

  &-secondary {
    background: $secondary-color;
    color: white;
  }

  &-gray {
    background: $gray-alt;

    &.has-border-bottom {
      border-bottom: rem-calc(1) solid $border-color;
    }
  }

  &-light-gray {
    background: $light-gray;
  }

  &-medium-gray {
    background: $medium-gray;
  }

  &-dark-blue {
    background: $dark-gray-blue-peexeo !important;
    color: white;

    h2 {
      color: white;
    }
  }

  &-white {
    background: white !important;
    border: rem-calc(1) solid $light-gray;
  }

  &-peexeo{
    margin-bottom: rem-calc(25);
    padding: rem-calc(25);
    background-color: $body-background;
    border-radius: $global-radius;
  }

  /*
     Border
     ===================================== */

  &-border {
    border: rem-calc(1) solid $border-color;
    padding: rem-calc(30);
  }

  &-border-without-padding {
    border: rem-calc(1) solid $border-color;
  }

  /*
      Border Radius
      ===================================== */
  &-border-radius {
    border-radius: $global-radius;
  }

  &-no-border-radius {
    border-radius: 0;
  }

  /*
    Shadow
    ===================================== */
  &-no-shadow {
    box-shadow: none !important;
  }

  &-shadow {
    @include shadow;
  }

  &-light-shadow {
    @include lightShadow;
  }

  /*
    Grid
    ===================================== */

  &-grid {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }


  /*
     Grid column
     ===================================== */

  &-grid-column {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    @include breakpoint(medium) {
      display: block;
      columns: 2;
      column-gap: rem-calc(40);
    }

    @include breakpoint(xlarge) {
      column-gap: rem-calc(100);
    }

    /* Components */

    > * {
      width: 100%;

      @include breakpoint(medium) {
        display: inline-block;
        break-inside: avoid-column;
        -webkit-column-break-after: avoid-column;
      }
    } // End > *

  } // End &-block-column

}
