/* ===========================================================================
   Block
   =========================================================================== */

.block {

  &-primary {
    background: $primary-color;
    color: white;
  }

  &-secondary {
    background: $secondary-color;
    color: white;
  }

  &-gray {
    background: #f7f7f7;

    &.has-border-bottom {
      border-bottom: rem-calc(1) solid $border-color;
    }
  }

  &-light-gray {
    background: $light-gray;
  }

  &-medium-gray {
    background: $medium-gray;
  }

  &-dark-blue {
    background: $dark-blue;
    color: white;
  }

  &-white {
    background: white;
    border: rem-calc(1) solid $light-gray;
  }


  /*
     Border
     ===================================== */

  &-border {
    border: rem-calc(1) solid $border-color;
    padding: rem-calc(30);
  }


  /*
    Grid
    ===================================== */

  &-grid {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }


  /*
     Grid column
     ===================================== */

  &-grid-column {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    @include breakpoint(medium) {
      display: block;
      columns: 2;
      column-gap: rem-calc(40);
    }

    @include breakpoint(xlarge) {
      column-gap: rem-calc(100);
    }

    /* Components */

    > * {
      width: 100%;

      @include breakpoint(medium) {
        display: inline-block;
        break-inside: avoid-column;
        -webkit-column-break-after: avoid-column;
      }
    } // End > *

  } // End &-block-column

}
