/* ===========================================================================
   Copyright
   =========================================================================== */

.copyright {

  @include breakpoint(small only) {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }

  /* Components */

  a {
    opacity: .5;

    @include breakpoint(medium down) {
      display: block;
    }
  }
}
