/* ===========================================================================
   Hamburger
   =========================================================================== */

.hamburger {
  transition: $offcanvas-transition-length;

  &[aria-expanded="true"] {
    background: $primary-color;
    color: white;
  }

}
