/* ===========================================================================
   Hamburger
   =========================================================================== */

.hamburger {
  position: relative;
  color: $primary-color;
  width: rem-calc(40);
  height: rem-calc(24);


  /*
     Line
     ===================================== */

  &-line {
    font-size: 0;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: .22s;

    &,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: rem-calc(40);
      height: rem-calc(4);
      border-radius: rem-calc(4);
      background: $primary-color;
    }

    &::before,
    &::after { content: ""; }

    &::before {
      top: rem-calc(-10);
      transition: top .1s ease-in .25s,opacity .1s ease-in;
    }

    &::after {
      bottom: rem-calc(-10);
      transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55, .055, .675, .19);
    }

    /* Open state */

    .is-open & {
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(.215, .61, .355, 1);
      transform: rotate(225deg);

      &::before {
        top: 0;
        transition: top .1s ease-out,opacity .1s ease-out .12s;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
        transform: rotate(-90deg);
      }
    } // End .is-open &
  } // End &-line
}
