/* ===========================================================================
   Icon
   =========================================================================== */



/*
   Default settings
   ===================================== */

[class^="icon-"],
[class*=" icon-"] {
  display: flex;
  align-items: center;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover,
  &:focus { text-decoration: none; }

  &::before {
    font-family: 'icomoon';
    margin-right: rem-calc(12);

    @include breakpoint(large down) {
      .l-header & { margin-right: 0; }
    }
  }

  &.no-margin {
    &::before { margin-right: 0; }
  }
}



/*
   Icon list
   ===================================== */

.icon-close:before {
  content: "\e906";
}
.icon-heart-o:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e903";
}
.icon-hamburger:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e900";
}
