/* ===========================================================================
   Icon
   =========================================================================== */

/*
   Default settings
   ===================================== */

[class^="icon-"],
[class*=" icon-"] {
  display: flex;
  align-items: center;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover,
  &:focus { text-decoration: none; }

  &::before {
    font-family: 'icomoon' !important;
    margin-right: rem-calc(12);

    @include breakpoint(large down) {
      .l-header & { margin-right: 0; }
    }
  }

  &.no-margin {
    &::before { margin-right: 0; }
  }
}


/*
   Icon list
   ===================================== */
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-angle-double-left:before {
  content: "\f102";
}
.icon-angle-double-right:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f106";
}
.icon-angle-right:before {
  content: "\f107";
}
.icon-minus:before {
  content: "\f068";
}
.icon-full-arrow:before {
  content: "\e91c";
}
.icon-minus-circle:before {
  content: "\f057";
}
.icon-plus-circle:before {
  content: "\e919";
}
.icon-heart-o:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e903";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-mobile2:before {
  content: "\e958";
}
.icon-close:before {
  content: "\e906";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-google2:before {
  content: "\ea88";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-location:before {
  content: "\e91b";
}
.icon-save:before {
  content: "\e918";
}
.icon-mobile:before {
  content: "\e90e";
}
.icon-star-full:before {
  content: "\e90b";
}
.icon-star-half:before {
  content: "\e91d";
}
.icon-star-empty:before {
  content: "\e90c";
}
.icon-pics:before {
  content: "\e91a";
}
.icon-pen:before {
  content: "\e917";
}
.icon-remove:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e90d";
}
.icon-arrow-left-2:before {
  content: "\e916";
}
.icon-arrow-right-2:before {
  content: "\e915";
}
.icon-hamburger:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-play:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e913";
}
.icon-garage:before {
  content: "\e911";
}
.icon-message:before {
  content: "\e90f";
}
.icon-tel:before {
  content: "\e910";
}
.icon-google-plus:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e912";
}
