/* ===========================================================================
  Landing
=========================================================================== */

.landing {

  /*
     Landing Meeting
     Landing Mixte
     ===================================== */
  &-meeting,
  &-mixte {

    /** Form Container **/
    .form-container {
      position: relative;
      z-index: 1;
      background: #f7f7f7;
      padding-top: rem-calc(20);

      @include breakpoint(medium down) {
        border-top: rem-calc(1) solid $border-color;
      }

      @include breakpoint(large) {
        min-height: 100vh;
        padding-top: $header-height-medium + rem-calc(20);
        padding-bottom: rem-calc(50);
      }

      /* Background */
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100vh;
        background: url(#{$img-folder}/logo/logo-wamcar-tiny.svg) center #{rem-calc(-40)}/130% auto no-repeat;
        opacity: .04;
        z-index: -1;

        @include breakpoint(small only) {
          transform: translate3d(-50%, 0, 0);
        }

        @include breakpoint(medium) {
          right: 0;
          left: 0;
          background-size: rem-calc(800) auto;
          background-position: center rem-calc(-80);
        }

        @include breakpoint(large) {
          background-position: calc(100% + #{rem-calc(20)}) rem-calc(-80);
        }

        @include breakpoint(xlarge) {
          background-size: $global-width auto;
          background-position: right rem-calc(-80);
        }
      }

      p {
        @include breakpoint(medium) {
          font-size: rem-calc(14);
        }
      }
      // End p
    }

    /** Form ***/
    &-form {
      background: white;

      @include breakpoint(large) {
        border-top: rem-calc(5) solid $primary-color;
        box-shadow: 0 rem-calc(10) rem-calc(30) rgba(black, .12);
      }

      @include breakpoint(xlarge) {
        position: relative; // IE fix
        z-index: 2; // IE fix
      }

    }
    // End &-form

    /** Form Header **/
    .form-header {
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);

      @include breakpoint(small only) {
        padding-right: rem-calc(20);
        padding-left: rem-calc(20);
      }

      @include breakpoint(medium only) {
        background-size: rem-calc(300) auto;
      }

      @include breakpoint(medium) {
        padding: rem-calc(15);
      }

      /* Components */
      @include breakpoint(large) {
        h1 {
          font-size: rem-calc(38);
        }
      }
    }
    // End .form-header
  }
  // End &-meeting, &-mixte

}
