/* ===========================================================================
  Landing
=========================================================================== */

.landing {

  /*
     Landing Meeting
     Landing Mixte
     ===================================== */
  &-meeting,
  &-mixte {

    /** Form Container **/
    .form-container {
      position: relative;
      z-index: 1;
      background: #f7f7f7;
      padding-top: rem-calc(20);

      @include breakpoint(medium down) {
        border-top: rem-calc(1) solid $border-color;
      }

      @include breakpoint(large) {
        min-height: 100vh;
        padding-top: $header-height-medium + rem-calc(20);
        padding-bottom: rem-calc(50);
      }

      /* Background */
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100vh;
        background: url(#{$img-folder}/logo/logo-wamcar-tiny.svg) center #{rem-calc(-40)}/130% auto no-repeat;
        opacity: .04;
        z-index: -1;

        @include breakpoint(small only) {
          transform: translate3d(-50%, 0, 0);
        }

        @include breakpoint(medium) {
          right: 0;
          left: 0;
          background-size: rem-calc(800) auto;
          background-position: center rem-calc(-80);
        }

        @include breakpoint(large) {
          background-position: calc(100% + #{rem-calc(20)}) rem-calc(-80);
        }

        @include breakpoint(xlarge) {
          background-size: $global-width auto;
          background-position: right rem-calc(-80);
        }
      }
    }

    /** Form ***/
    &-form {
      background: white;

      @include breakpoint(large) {
        border-top: rem-calc(5) solid $primary-color;
        box-shadow: 0 rem-calc(10) rem-calc(30) rgba(black, .12);
      }

      @include breakpoint(xlarge) {
        position: relative; // IE fix
        z-index: 2; // IE fix
      }

    }

    // End &-form

    /** Form Header **/
    .form-header {
      padding-top: rem-calc(30);
      padding-bottom: rem-calc(30);

      @include breakpoint(small only) {
        padding-right: rem-calc(20);
        padding-left: rem-calc(20);
      }

      @include breakpoint(medium only) {
        background-size: rem-calc(300) auto;
      }

      @include breakpoint(medium) {
        padding: rem-calc(40);
      }

      @include breakpoint(large) {
        padding: rem-calc(16);
      }

      /* Components */
      p {
        margin-bottom: 0;

        @include breakpoint(medium) {
          margin-top: rem-calc(20);
        }

        @include breakpoint(large) {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }

    // End .form-header
  }

  // End &-meeting, &-mixte

  /*
      Landing Mixte
     ===================================== */
  &-mixte {

    .is-transparent .l-navigation {
      display: none;
    }

    .vehicle-form-container::before {
      height: 100%;
    }

    .vehicle-form-header {
      background: none;
      max-width: 100%;
      text-align: center;

      @include breakpoint(360) {
        background: url('#{$img-folder}/background/selfie.png') calc(100%) center/#{rem-calc(200)} auto no-repeat;
        text-align: unset;

        @include breakpoint(large) {
          background: none;
        }

        h1 {
          max-width: calc(100% - #{rem-calc(200)});
          @include breakpoint(large) {
            max-width: 100%;
          }
        }
      }

      h1 {
        @include breakpoint(medium) {
          font-size: rem-calc(32);
        }

        @include breakpoint(large) {
          font-size: rem-calc(36);
        }
      }
    }

    .vehicle-form {
      label {
        margin-bottom: $input-margin-bottom;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }

      input {
        margin-bottom: $input-margin-bottom;
        height: rem-calc(40);
      }

      p {
        font-size: rem-calc(14);
      }
    }

    .reinsurance-container#reinsurance_personal {
      background-color: $grey-alt;
      background-image: none;

      h2 {
        color: $dark-gray;
      }

      li > p {
        color: $body-font-color;
      }

      .reinsurance-video-button:before {
        border: 1px $dark-gray solid;
      }

    }

    .reinsurance-container#reinsurance_general {
      background-color: transparent;
      background-image: none;
      padding-top: 2rem;
      padding-bottom: 2rem;

      @include breakpoint(large) {
        padding-top: 5rem;
      }

      .reinsurance {
        margin-top: 1rem;

        .reinsurance-item p {
          color: $body-font-color;
        }
      }
    }
  }


  /** Landing Peexeo : Dénicheur */
  &-peexeo {

    .top-section {
      min-height: 100vh;
      height: 100vh;
      margin-top: -$header-height;
      padding-top: $header-height;
      background-color: #eaeef4;

      @include breakpoint (medium) {
        background: #eaeef4 url(#{$img-folder}/logo/logo-wamcar-tiny-transp.svg) 140% center/50% no-repeat;
        background-blend-mode: overlay;

      }

      @include breakpoint (large) {
        margin-top: -$header-height-medium;
        padding-top: $header-height-medium;
      }

      .down {
        @include breakpoint (small only) {
          display: none;
        }

        border: $body-font-color 2px solid;
        background-color: $grey-alt;
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: rem-calc(30);

        [class^="icon-"],
        [class*=" icon-"] {
          margin: auto;

          &::before {
            margin: auto;
            color: $body-font-color;
          }
        }
      }

      .item-sellers-container {

        .item-seller {
          background-color: white;
          margin-left: auto;
          margin-right: auto;
          padding: rem-calc(15);

          p {
            margin-bottom: 0;
          }

          @include breakpoint (medium) {
            max-width: 350px;
            padding: rem-calc(40) rem-calc(15);

            p {
              margin-bottom: rem-calc(30);
            }
          }

          .profil-image {
            margin: 0 auto;
          }
        }
      }

      #baseline {
        margin: auto;
        font-size: 2rem;

        @include breakpoint (medium) {
          margin-bottom: rem-calc(50);
        }
      }

      .baseline-container {
        .content {
          @include breakpoint (medium) {
            max-width: 400px;
          }
        }
      }
    }

    .reinsurance-container#reinsurance_wamaffinity {
      background-color: $grey-alt;
      background-image: none;

      p, h2 {
        color: $grey-altPeexeo;
      }

      .wamaffinity-experience {
        &-image {
          img {
            max-height: 300px;
            width: 100%;
          }
        }
      }

      .row:not(:last-child){
        border-bottom: $grey-altPeexeo dotted 3px;
        padding-bottom: rem-calc(40);
        margin-bottom: rem-calc(40);

        @include breakpoint(xlarge) {
          padding-bottom: rem-calc(90);
          margin-bottom: rem-calc(90);
        }
      }

      .reinsurance-video-button{
        &:hover, &:focus {
          color: $primary-color;
        }

        &:before {
          border: 1px $dark-gray solid;
        }
      }
    }


    #reinsurance_wamcar{
      background-color: $grey-altPeexeo;
      background-image: none;

      .reinsurance {
        margin-top: 0;
        margin-bottom: 0;

        .reinsurance-item {
          h3 {
            font-size: 1.5rem;
            color: white;
            margin-top: 0;
          }
          p {
            color: white;
          }
        }
      }
    }
  }
}
