/* ===========================================================================
   Like
   =========================================================================== */

.like{
  color: $primary-color;
  font-size: 1.75rem;

  &::before{
    margin-right: rem-calc(4);
  }

  &.icon-thumbs-up:hover::before {
    content: "\f087";
    animation: like .6s;
  }

  &.icon-thumbs-o-up:hover::before {
    content: "\f164";
    animation: like .6s;
  }

  & sub {
    bottom: -0.75em;
    font-size: 50%;
  }

  &-button {
    font-size: $global-font-size;
  }
}

@keyframes like {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(.6);
  }

  70% {
    transform: scale(1.4);
  }

  to {
    transform: scale(1);
  }
}

