/* ===========================================================================
   List
   =========================================================================== */

/* Mixin */

@mixin listBorder {
  > li {
    padding-top: rem-calc(20);

    &:not(:last-child) { padding-bottom: rem-calc(20); }
    &:not(:first-child) { border-top: rem-calc(1) solid $border-color; }
  }
}

@mixin listBullet {
  list-style: none;
  margin-left: 0;

  > li {
    position: relative;
    padding-left: rem-calc(20);

    &:not(:last-child) {
      margin-bottom: rem-calc(10);
    }

    &::before {
      content: "";
      position: absolute;
      top: rem-calc(6);
      left: 0;
      width: rem-calc(4);
      height: rem-calc(4);
      background: $primary-color;
      border-radius: 50%;

      @include breakpoint(medium) {
        top: rem-calc(10);
      }
    } // End ::before

  } // End > li
}

.list {


  /*
    Border
    ===================================== */

  &-border {
    @include listBorder;

    /* Components */

    p { margin-bottom: 0; }

    small {
      display: block;
      color: $medium-gray;
      margin-top: rem-calc(5);

      @include breakpoint(medium) {
        font-size: rem-calc(14);
        line-height: rem-calc(20);
        margin-top: rem-calc(10);
      }
    }

    /* Exceptions */

    .mission & {
      > li { border-color: rgba(white, .1); }
    }

    &.vehicle-infos-list,
    &.vehicle-funding-list,
    &.vehicle-guarantees-list {
      > li {
        @include breakpoint(large only) {
          &:first-child { border-top: rem-calc(1) solid $border-color; }
        }
      }
    }

    &.tiny {
      > li {
        padding-top: rem-calc(15);

        &:not(:last-child) { padding-bottom: rem-calc(15); }

        // @include breakpoint(large only) {
        //   &:first-child { border-top: rem-calc(1) solid $border-color; }
        // }
      }
    }

  } // End &-border



  /*
     Bullet
     ===================================== */

  &-bullet {
    @include listBullet;

    /* Exceptions */

    .garage-infos & {

      @include breakpoint(large) {
        > li {
          border-bottom: rem-calc(1) solid $border-color;
          margin-top: rem-calc(20);
          padding-bottom: rem-calc(20);
        }
      }

    } // End .garage-infos &

  } // End &-bullet

}
