/* ===========================================================================
   Logo
   =========================================================================== */

.logo {
  width: rem-calc(120);

  @include breakpoint(medium) {
    width: rem-calc(190);
  }

  &-mini {
    width: rem-calc(40);
    object-fit: contain;
  }

  /*
     Container
     ===================================== */

  &-container {
    &.is-logged {
      @include breakpoint(small only) {
        padding-left: rem-calc(3);
      }
    }
  }
}
