/* ===========================================================================
   Logo
   =========================================================================== */

.logo {
  max-width: rem-calc(120);
  max-height: 100%;

  @include breakpoint(medium) {
    max-width: rem-calc(300);
  }

  &-mini {
    width: rem-calc(40);
    object-fit: contain;
  }

  &-very-small-show {
    @include breakpoint(300){
      display: none !important;
    }
  }
  &-small-show {
    @include breakpoint(299 down){
      display: none !important;
    }
  }

  /*
     Container
     ===================================== */

  &-container {
    height: $header-height;
    padding: rem-calc(10px);

    @include breakpoint(large) {
      height: $header-height-medium;
      padding: rem-calc(20px) 0;
    }

    &.is-logged {
      @include breakpoint(small only) {
        padding-left: rem-calc(3);
      }
    }
  }
}
