/* ===========================================================================
   Offcanvas
   =========================================================================== */

.off-canvas {
  @include breakpoint(medium down) {
    top: $header-height;
    padding-bottom: $header-height;
  }

  @include breakpoint(large) {
    border-left: rem-calc(3) solid $primary-color;
    z-index: ($header-zindex + 1);
  }

  /*
     Navigation
     ===================================== */

  &-navigation {
    background: $primary-color;
    padding-top: rem-calc(30);

    /* Components */
    a {
      color: white;
    }
  }

  /*
     Header
     ===================================== */

  &-header,
  &-content {
    padding-right: rem-calc(20);
    padding-left: rem-calc(20);

    @include breakpoint(medium) {
      padding-right: rem-calc(40);
      padding-left: rem-calc(40);
    }
  }

  &-header {
    display: flex;
    align-items: center;
    height: rem-calc(80);
    background: $primary-color;
    font-size: rem-calc(18);

    @include breakpoint(xlarge) {
      height: rem-calc(100);
      font-size: rem-calc(24);
    }

    /* Exceptions */

    .reveal & {
      height: rem-calc(80);
    }

    /* Componenbts */

    > * {
      color: white;
    }

    .icon-close {
      font-size: rem-calc(20);

      &::before {
        margin-right: 0;
      }
    }
  }

  /*
     Content
     ===================================== */

  &-content {
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);

    @include breakpoint(large) {
      padding-top: rem-calc(25);
      padding-bottom: rem-calc(25);
    }
  }

  /*
     Separator
     ===================================== */

  &-separator {
    border-top: rem-calc(1) solid $border-color;
  }
}
