/* ===========================================================================
   Phone number
   =========================================================================== */

.phone-number {
  &-link {
    &:before {
      color: $primary-color;
    }
  }

  /*&-button {
    background-color: $dark-blue;
    border-color: $dark-blue;

    &:focus,
    &:hover {
      color: $dark-blue;
      background-color: white;
    }

    span {
      &:before {
        color: $primary-color;
      }
    }
  }*/
}