/* ===========================================================================
   Profil
   =========================================================================== */

/* Settings */

$profil-image-offset: rem-calc(40);

.profil {

  /*
    Header
    ===================================== */
  &-header {
    background: #f7f7f7;
    padding-top: rem-calc(25);

    @include breakpoint(small only) {
      margin-bottom: $profil-image-offset;
    }

    @include breakpoint(medium) {
      padding-bottom: rem-calc(25);
    }

    /* Components */

    a {
      @include breakpoint(small only) {
        justify-content: center;
      }
    }
  }

  /*
    Name
    ===================================== */

  &-name {
    color: $primary-color;
    margin-bottom: rem-calc(12);

    @include breakpoint(medium) {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(10);
    }
  }

  /*
     Image
     ===================================== */

  &-image {
    width: rem-calc(100);
    height: rem-calc(100);
    border-radius: 50%;
    overflow: hidden;

    @include breakpoint(small only) {
      margin: rem-calc(20) auto (-($profil-image-offset));
    }

    > img {
      object-fit: cover;
    }
  }

  // End &-image

  /*
     City
     ===================================== */

  &-city {
    font-size: rem-calc(14);
    font-weight: normal;
  }

  /*
     Action
     ===================================== */

  &-action {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      > :not(:first-child) {
        margin-left: 1rem;
      }
    }

    /* Components */

    a {
      @include breakpoint(medium) {
        font-size: rem-calc(14);

        &::before {
          font-size: rem-calc(16);
        }
      }
    }

    .icon-tel,
    .icon-mobile {
      @include breakpoint(small only) {
        justify-content: center;
      }
    }

  }

  // End &-action

  /*
     Body
     ===================================== */

  &-body {
    padding-top: rem-calc(20);

    .profil-section:not(:last-child) {
      border-bottom: rem-calc(1) solid $border-color;
      margin-bottom: rem-calc(30);
      padding-bottom: rem-calc(25);
    }

    @include breakpoint(medium down) {
      .user-garages-list {
        border-top: rem-calc(1) solid $border-color;
        margin-top: rem-calc(30);
        padding-top: rem-calc(25);

        border-bottom: rem-calc(1) solid $border-color;
        margin-bottom: rem-calc(30);
        padding-bottom: rem-calc(25);
      }
    }

    .personal-user-profil & {
      /*.section:first-child:last-child {
        padding-top: 0;
        padding-bottom: 0;
      }*/

      @include breakpoint(medium down) {
        .column:not(:first-child) {
          border-top: rem-calc(1) solid $border-color;
          margin-top: rem-calc(30);
          padding-top: rem-calc(25);
        }
      }

      @include breakpoint(large) {
        .column:nth-child(n + 3) {
          border-top: rem-calc(1) solid $border-color;
          margin-top: rem-calc(30);
          padding-top: rem-calc(25);
        }
      }
    }

    blockquote {
      font-style: italic;
      padding: rem-calc(9 20 9 19);
    }
  }


  /*
     Profil Seller (only)
     ===================================== */


  &-seller {

    &-main {
      background-color: #eff0f2;

      @include breakpoint(medium) {
        background-color: $body-background;
      }
    }

    &-header {
      // TODO custom bg image by pro user
      background: #17303b url('#{$img-folder}/background/bg-reinsurance.jpg') center center/cover no-repeat;
      text-align: center;
      color: $body-font-color;

      height: 300px;

      @include breakpoint(medium) {
        height: 400px;
      }

      > div {
        padding-top: rem-calc(150);

        @include breakpoint(medium) {
          padding-top: 0;
        }
      }

      .profil-image {
        position: absolute;
        top: rem-calc(150-50); // parent:padding-top - image.height / 2
        margin: 0;
      }

      .profile-titles {
        height: 300px;
        background-color: #ffffff;
        padding-top: rem-calc(75);
        border-radius: 10px;

        @include breakpoint(medium) {
          padding-top: rem-calc(50);
          background-color: transparent;
          border-radius: 0;
        }

        .title-actions {
          margin-top: rem-calc(-120px);
          margin-bottom: rem-calc(80px);
          justify-content: space-between;

          @include breakpoint(medium) {
            justify-content: flex-end;
            margin-top: rem-calc(- (map-get(map-get(map-get($header-styles, medium), 'h1'), 'font-size') + 25));
            line-height: map-get(map-get(map-get($header-styles, medium), 'h1'), 'line-height');

            @include breakpoint(large) {
              margin-top: rem-calc(- (map-get(map-get(map-get($header-styles, large), 'h1'), 'font-size') + 25));
              line-height: map-get(map-get(map-get($header-styles, large), 'h1'), 'line-height');
            }

            a {
              background-color: #ffffff;
              border-radius: 50%;
            }
          }

          a {
            width: 35px;
            height: 35px;
            margin-left: 5px;
            margin-right: 5px;
            color: $body-font-color;
            font-weight: normal;
            font-size: 1.2rem;

            @include breakpoint(medium) {
              font-size: 14px;
            }

            &::before {
              margin: auto;
            }
          }
        }

        @include breakpoint(medium) {
          h1, h2 {
            color: #ffffff;
          }
        }
      }

      .profile-actions {
        @include breakpoint(medium) {
          display: flex;
          // align-center-midle :
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        button {
          margin: rem-calc(10) auto;

          @include breakpoint(medium) {
            margin-left: rem-calc(10);
            margin-right: rem-calc(10);
          }
        }


      }


    }

    &-summary {
      // profile-titles.height / 2 + 25
      margin-top: rem-calc(150 + 25);
      background-color: white;
      padding: rem-calc(15);

      @include breakpoint(medium) {
        border: 1px solid #AEAEAE;
        margin-top: 0;
        border-radius: 10px;
      }
    }

    &-contact-form {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      top: initial;
      padding-bottom: 0;

      .button {
        height: rem-calc(60);
        line-height: 1.1;
        border-radius: 0;
        margin-bottom: 0;

        &::before {
          font-size: rem-calc(20);
        }

        &.white {
          border: 0;
        }
      }

      ~ .off-canvas {
        top: unset;
        bottom: 0;
        padding-bottom: 0;
        max-height: 90vh;
        height: auto;
        background-color: transparent;

        .close-action{
          display:block;
          font-weight: bold;
          font-size: 2rem;
          line-height: 2rem;
          color: #ffffff;
          text-align: center;
        }

        .off-canvas-content-element {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          margin-bottom: 0;
          background-color: $body-background;
        }

      }
    }
  }
}
