/* ===========================================================================
   Review
   =========================================================================== */

.review {

  small {
    font-size: 90%;
    color: $secondary-color;
  }

  /*
    Text
    ===================================== */
  &-text {
    text-align: justify;
    margin-top: rem-calc(10);
  }

}