/* ===========================================================================
   Search
   =========================================================================== */

.search {


  /*
    Form
    ===================================== */

  &-form {
    padding-top: rem-calc(5);

    @include breakpoint(xlarge) {
      padding-top: rem-calc(15);
    }
  }



  /*
     Actions button
     ===================================== */

  &-actions-button {

    /* Components */

    a {
      @include breakpoint(medium) {
        margin-right: rem-calc(40);
      }
    }

  }

}
