/* ===========================================================================
   Search
   =========================================================================== */

.search {

  /*
    Form
    ===================================== */

  &-form {
    padding-top: rem-calc(5);

    @include breakpoint(xlarge) {
      padding-top: rem-calc(15);
    }

    .input-white-bg {
      background-color: white;
    }
  }

  /*
     Actions button
     ===================================== */

  &-actions-button {

    /* Components */

    a {
      @include breakpoint(medium) {
        margin-right: rem-calc(40);
      }
    }

  }
  // &-actions-button

  /*
      Result
     ===================================== */
  &-result {
    padding-top: rem-calc(20);
    @include breakpoint(medium) {
      padding-top: rem-calc(30);
    }
  }

  /*
     Link
     ===================================== */

  &-link {
    margin-bottom: 0;

    @include breakpoint(small only) {
      font-size: rem-calc(11);
      margin-top: rem-calc(15);
    }
  }

  /*
     Label container (non utilisé)
     ===================================== */
  /*$search-label-height: rem-calc(50);

  &-label-container {
    height: $search-label-height;

    @include breakpoint(small only) {
      margin-top: -($search-label-height/2);
    }

    @include breakpoint(medium only) {
      margin-top: rem-calc(-20);
    }

    @include breakpoint(large) {
      margin-bottom: rem-calc(10);
    }

    !* Brother components *!

    + .search-form-container {
      @include breakpoint(small only) {
        margin-bottom: rem-calc(20);
      }

      @include breakpoint(medium only) {
        margin-bottom: rem-calc(30);
      }
    }

    ~ .search-tabs .tabs {
      @include breakpoint(medium down) {
        margin-top: rem-calc(10);
      }
    }
  }*/

  /*
     Label (on utilisé)
     ===================================== */
  /*&-label {

    !* Fixed state *!

    &.is-fixed {
      position: fixed;
      top: $header-height;
      right: 0;
      left: 0;
      background: rgba(black, .8);
      margin-top: 0;
      z-index: 2;
      animation: labelAnimation .3s;

      @include breakpoint(medium down) {
        &,
        .text-underline {
          color: white;
        }
      }

      @include breakpoint(xlarge) {
        top: $header-height-medium;
        background: #f7f7f7;
      }
    }
    // End &.is-fixed

    !* Components *!

    p {
      line-height: $search-label-height;
      margin-bottom: 0;
    }

  }*/
  // End &-label

  &-filter {
    display: inline-block;
    background-color: #e30613;
    color: white;
    font-weight: bold;
    margin: 2px;
    padding: 5px 15px;
    border-radius: 1.875rem;

    &-container {
      min-height: rem-calc(50);
      @include breakpoint(medium) {
        min-height: rem-calc(60);
      }
    }
  }

}

@keyframes labelAnimation {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
