/* ===========================================================================
   Seller
   =========================================================================== */

.seller {


  /*
    List
    ===================================== */

  &-list {

    /* Components */

    > li {
      margin-bottom: rem-calc(15);
    }

  }


  /*
     Picture
     ===================================== */

  &-picture {
    width: rem-calc(50);
    margin-right: rem-calc(20);
  }


  /*
     Name
     ===================================== */

  &-name {
  }


  /*
     Action remove
     ===================================== */

  &-remove {
    color: #ccc;
    transition: $global-transition;
  }

}
