/* ===========================================================================
   Select2
   =========================================================================== */

.select2 {

  /*
    Custom container
    ===================================== */

  &-custom-container {
    padding-top: 0;
  }

  /*
     Container
     ===================================== */

  &-selection {
    height: rem-calc(40);

    @include breakpoint(medium) {
      height: rem-calc(60);
    }
  }

  &-container {
    border: $input-border;
    border-radius: $global-radius;
    margin-bottom: $input-margin-bottom;

    .search-filter-form-body & {
      border: 0;
      margin-bottom: 0;
    }

    // Set the select2 field with error style
    .select2-hidden-accessible.is-invalid-input + & {
      border-color: $alert-color;

      .select2-selection {
        background-color: #fef3f4;
      }
    }

    .select2-search--inline .select2-search__field {
      margin-top: 0;
      padding-left: rem-calc(5);
    }

    .select2-selection--single .select2-selection__rendered {
      padding: $input-padding;
    }

    &--default {
      .select2-selection--single,
      .select2-selection--multiple {
        height: rem-calc(38); // Select height - border

        @include breakpoint(medium) {
          height: rem-calc(58); // Select height - border
        }
      }

      .select2-selection--multiple .select2-selection__rendered {
        padding: rem-calc(5);

        .search-filter-form-body & {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      }

      .select2-selection--multiple .select2-selection__choice {
        margin: rem-calc(5);
      }

      .select2-selection--multiple .select2-selection__choice {
        font-size: rem-calc(13);
      }

      .select2-selection--multiple .select2-selection__choice {
        background: #f2f3f5;
        border-color: $border-color;
      }

      .select2-selection--single .select2-selection__arrow {
        top: 50%;
        right: rem-calc(15);
        transform: translate3d(0, -50%, 0);
      }
    }
  }

  /*
     Selection choice
     ===================================== */
  &-selection__choice {
    margin-top: 0;
  }

  /*
     Selection
     ===================================== */
  &-selection {
    display: flex !important;
    align-items: center;
    width: 100%;
    border: none !important;

    &--multiple {
      .select2-search--inline,
      .select2-search--inline .select2-search__field {
        width: 100% !important;
      }
    }
  }

  /*
    Result
   ====================================== */
  &-results__option {
    &[aria-selected="false"] > span.icon-::before {
      content: "\ea53";
    }

    &[aria-selected="true"] > span.icon-::before {
      content: "\ea52";
    }
  }
}