/* ===========================================================================
   Seller
   =========================================================================== */

.seller {


  /*
    List
    ===================================== */

  &-list {

    /* Components */

    > li {
      margin-bottom: rem-calc(15);
    }

  }


  /*
     Picture
     ===================================== */

  &-picture {
    width: rem-calc(50);
    margin-right: rem-calc(20);
  }


  /*
     Name
     ===================================== */

  &-name {
  }


  /*
     Action remove
     ===================================== */

  &-remove {
    color: #ccc;
    transition: $global-transition;
  }


  /*
     Project details
     ===================================== */
  &-project-details {
    margin-top: rem-calc(20);
  }


  /*
     Project details
     ===================================== */
  &-project-button {
    margin-top: rem-calc(20);
  }


  /*
     Seller profile
     ===================================== */
  &-profile {
    background: #f7f7f7;
    padding: rem-calc(10) rem-calc(30) rem-calc(30);
    margin-top: rem-calc(30);

    @include breakpoint(large) {
      margin-bottom: rem-calc(30);
    }

    @include breakpoint(medium) {
      margin-top: rem-calc(30);
    }

    figure {
      margin-top: rem-calc(20);
    }
  }

  &-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(60);
    height: rem-calc(60);
    margin-right: rem-calc(20);

    .seller-list & {
      width: rem-calc(24);
      height: rem-calc(24);
      margin-left: rem-calc(20);
      margin-right: rem-calc(10);
    }

    > img { max-height: 100%; border-radius: 50%;}
  }

}
