/* ===========================================================================
   Seller
   =========================================================================== */

.seller {

  /*
    List
    ===================================== */

  &-list {

    /* Components */

    > li {
      margin-bottom: rem-calc(15);
    }

  }

  /*
     Picture
     ===================================== */

  &-picture {
    width: rem-calc(50);
    margin-right: rem-calc(20);
  }

  /*
     Name
     ===================================== */

  &-name {
    color: $dark-gray-blue-peexeo;
  }

  /*
     Action remove
     ===================================== */

  &-remove {
    color: #ccc;
    transition: $global-transition;
  }

  /*
     Project details
     ===================================== */
  &-project-details {
    margin-top: rem-calc(20);
  }

  /*
     Project details
     ===================================== */
  &-project-button {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(20);
  }

  /*
     Seller profile
     ===================================== */
  &-profile {
    background: #f7f7f7;
    padding: rem-calc(10) rem-calc(30) rem-calc(30);
    margin-top: rem-calc(30);

    @include breakpoint(large) {
      margin-bottom: rem-calc(30);
    }

    @include breakpoint(medium) {
      margin-top: rem-calc(30);
    }

    figure {
      margin-top: rem-calc(20);
    }
  }

  &-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(60);
    height: rem-calc(60);
    margin-right: rem-calc(20);

    .seller-list & {
      width: rem-calc(24);
      height: rem-calc(24);
      margin-right: rem-calc(5);
    }

    img {
      max-height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &-contacts {
    margin-left: rem-calc(10);

    .avatar-small{
      display: inline-block;
      height: rem-calc(24);
      width: rem-calc(24);
      margin-left: rem-calc(5);

      img {
        max-height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  /*
     Cartouche vendeur
     ===================================== */
  &-item{
    background-color: $white;
    padding: rem-calc(15);
    border-radius: $global-radius;

    p {
      margin-bottom: 0;
    }

    button, .button {
      @include buttonHeightCompact;
      &.small{
        @include buttonHeightSmall;
      }
    }

    @include breakpoint (medium) {
      padding: rem-calc(40) rem-calc(15);

      p {
        margin-bottom: rem-calc(30);
      }

      .profile-image {
        margin: 0 auto;
      }
    }

    &-container {

    }
  }

  /*
     Seller Services (and specialities)
     ===================================== */
  &-services {

    h2 {
      margin-bottom: rem-calc(10);
    }

    > div:not(:last-child) {
      border-bottom: $dark-gray-blue-peexeo dotted 3px;
      padding-bottom: rem-calc(12);
      margin-bottom: rem-calc(12);

      @include breakpoint(xlarge) {
        padding-bottom: rem-calc(20);
        margin-bottom: rem-calc(20);
      }
    }
  }

  /*
     Seller account
     ===================================== */
  &-account {

    > div:not(:last-child) {
      border-bottom: $dark-gray-blue-peexeo dotted 3px;
      padding-bottom: rem-calc(12);
      margin-bottom: rem-calc(12);

      @include breakpoint(xlarge) {
        padding-bottom: rem-calc(20);
        margin-bottom: rem-calc(20);
      }
    }
  }
}
