/* ===========================================================================
   Separator
   =========================================================================== */

.separator {
  border-top: rem-calc(1) solid $border-color;
  margin-top: rem-calc(30);
  padding-top: rem-calc(25);

  @include breakpoint(medium) {
    margin-top: rem-calc(35);
    padding-top: rem-calc(30);
  }

  &.strong {
    border-top-width: rem-calc(2);
  }

  /* Exceptions */

  &.medium {
    @include breakpoint(medium) {
      margin-top: rem-calc(55);
      padding-top: rem-calc(50);
    }
  }

  .vehicle-detail & {
    margin-top: 0;
  }

  .vehicle-other & {

    @include breakpoint(medium) {
      margin-top: 0;
    }

  }



  /*
     Small
     ===================================== */

  &-for-small {
    @include breakpoint(small only) {
      border-top: rem-calc(1) solid $border-color;
      margin-top: rem-calc(30);
      padding-top: rem-calc(25);
    }
  }


  /*
     Section
     ===================================== */

  &-section {
    margin-bottom: rem-calc(30);

    @include breakpoint(medium) {
      margin-bottom: rem-calc(55);
    }

  }
}
