/* ===========================================================================
   Separator
   =========================================================================== */

.separator {
  border-top: rem-calc(1) solid $border-color;
  margin-top: rem-calc(30);
  padding-top: rem-calc(25);

  @include breakpoint(medium) {
    margin-top: rem-calc(35);
    padding-top: rem-calc(30);
  }


  /*
     Small
     ===================================== */

  &-for-small {
    @include breakpoint(small only) {
      border-top: rem-calc(1) solid $border-color;
      margin-top: rem-calc(30);
      padding-top: rem-calc(25);
    }
  }
}
