/* ===========================================================================
   Social Networks
   =========================================================================== */

.social-networks {
  padding-top: rem-calc(20);

  @include breakpoint(medium) {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }

  @include breakpoint(large) {
    padding-top: rem-calc(25);
    padding-bottom: rem-calc(25);
  }

  /* Components */

  > li {
    @include breakpoint(medium down) {
      width: 50%;
    }

    @include breakpoint(large) {
      &:not(:first-child) { margin-left: rem-calc(20); }
    }
  }



  /*
    Link
    ===================================== */

  &-link {

    @include breakpoint(small only) {
      margin-top: rem-calc(10);
    }

    @include breakpoint(medium only) {
      margin-top: rem-calc(10);
    }

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem-calc(40);
      height: rem-calc(40);
      flex: 0 0 rem-calc(40);
      background: white;
      color: $primary-color;
      border-radius: 50%;

      @include breakpoint(medium) {
        width: rem-calc(50);
        height: rem-calc(50);
        flex: 0 0 rem-calc(50);
      }
    } // End &::before
  }

}
