/* ===========================================================================
   Social Networks
   =========================================================================== */

/*
   Mixin
   ===================================== */

@mixin socialTheme($color) {
  background: $color;

  @include breakpoint(xlarge) {
    &:hover {
      background: lighten($color, 10%);
    }
  }
}

/*
   Class
   ===================================== */

.social-networks {
  padding-top: rem-calc(20);
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;

  @include breakpoint(medium) {
    padding: rem-calc(20) 0;
  }

  @include breakpoint(xlarge) {
    padding-top: rem-calc(25);
    padding-bottom: rem-calc(25);
  }

  /* Components */

  > li {
    @include breakpoint(large down) {
      width: 50%;
    }

    @include breakpoint(xlarge) {
      &:not(:first-child) {
        margin-left: rem-calc(20);
      }
    }
  }

  /*
    Link
    ===================================== */

  &-link {

    @include breakpoint(large down) {
      margin-top: rem-calc(10);
    }

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem-calc(40);
      height: rem-calc(40);
      flex: 0 0 rem-calc(40);
      background: white;
      color: $primary-color;
      border-radius: 50%;

      @include breakpoint(medium) {
        width: rem-calc(50);
        height: rem-calc(50);
        flex: 0 0 rem-calc(50);
      }
    }
    // End &::before

  }
  // End &-link

  /*
     Login
     ===================================== */

  &-login-small-button,
  &-login-button {
    background: $primary-color;
    font-weight: bold;
    transition: $global-transition;
    height: rem-calc(50);
    border-radius: 50%;

    &,
    &:hover,
    &:focus {
      color: white;
    }

    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem-calc(60);
      height: 100%;
      font-weight: normal;
      margin-right: 0;
    }

    /* Thèmes */
    &.icon-facebook {
      @include socialTheme(#2667b5);
    }
    &.icon-twitter {
      @include socialTheme(#00aced);
    }
    &.icon-google-plus {
      @include socialTheme(#dc4e41);
    }
    &.icon-linkedin {
      @include socialTheme(#0078b9);
    }
  }

  &-login-small-button {
    width: rem-calc(50);
    max-width: rem-calc(50);
    margin-bottom: rem-calc(10);
  }

  &-login-button {
    max-width: rem-calc(325);

    @include breakpoint(small only) {
      width: rem-calc(50);
      margin-right: rem-calc(20);
    }

    @include breakpoint(medium) {
      height: rem-calc(60);
      border-radius: rem-calc(30);
      margin-bottom: rem-calc(30);

      &::before {
        border-right: rem-calc(1) solid rgba(black, .15);
        margin-right: rem-calc(30);
      }
    }
  }
}
