/* ===========================================================================
   State
   =========================================================================== */


/*
   Block
   ===================================== */

.is-hidden       { display: none; }
.is-inline       { display: inline; }
.is-inline-block { display: inline-block; }
.is-block        { display: block; }
.is-block-inherit{ display: inherit; }
.is-scrollable   { overflow: auto; }
.is-flex         { display: flex; }


/*
   Position
   ===================================== */

.is-static   { position: static; }
.is-relative-for-ie { @media screen and (min-width:0\0) { position: relative; } }
.is-relative { position: relative; }
.is-absolute { position: absolute; }
.is-sticky   {
  position: sticky;
  position: -webkit-sticky;
  top: $header-height;
  z-index: 2;

  @include breakpoint(large) { top: $header-height-medium; }

  body > & {
    top: 0;
  }
}


/*
   Visibility
   ===================================== */

.is-visible   { visibility: visible; }
.is-invisible { visibility: hidden; }


/*
   Margin/Padding
   ===================================== */

.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.is-center { margin: auto; }

/* Margins */
@include breakpoint(large) {
  .large {
    &-m-b-1{
      margin-bottom: 1em;
    }
  }
}


/*
   Size
   ===================================== */

.full-width { width: 100%; }
.full-height { height: 100%; }


/*
   Text
   ===================================== */

.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-underline {
  font-weight: bold;
  color: $header-color;
  border-bottom: rem-calc(1) solid $header-color;
  text-decoration: none;
  transition: $global-transition;
  &:before {color: $primary-color;}
}
.text-line-through { text-decoration-line: line-through; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

@include breakpoint(medium) {
  .medium-text-left  {
    text-align: left;
  }
}


/*
   Color
   ===================================== */

.primary-color { color: $primary-color; }
.secondary-color { color: $secondary-color; }
.body-font-color { color: $body-font-color; }
.black-color { color: black; }
.white-color { color: white; }
.light-gray-peexeo-color { color: $light-gray-peexeo; }
.medium-gray-color { color: $medium-gray; }
.gray-peexeo-color { color: $gray-peexeo; }
.dark-gray-color { color: $dark-gray; }
.blue-gray-peexeo-color { color: $blue-gray-peexeo; }
.blue-peexeo-color { color: $blue-peexeo; }
.dark-gray-blue-peexeo-color { color: $dark-gray-blue-peexeo; }
.red-peexeo-color { color: $red-peexeo; }
.red-pastel-peexeo-color { color: $red-pastel-peexeo; }
.green-peexeo-color { color: $green-peexeo; }
.orange-peexeo-color { color: $orange-peexeo; }
.success-color { color: $success-color; }
.warning-color { color: $warning-color; }
.danger-color { color: $alert-color; }


/*
   Background-color
   ===================================== */

.primary-bg { background-color: $primary-color; }
.secondary-bg { background-color: $secondary-color; }
.body-font-bg { background-color: $body-font-color; }
.black-bg { background-color: $black; }
.white-bg { background-color: $white; }
.light-gray-peexeo-bg { background-color: $light-gray-peexeo; }
.medium-gray-bg { background-color: $medium-gray; }
.gray-peexeo-bg { background-color: $gray-peexeo; }
.dark-gray-bg { background-color: $dark-gray; }
.blue-gray-peexeo-bg { background-color: $blue-gray-peexeo; }
.blue-peexeo-bg { background-color: $blue-peexeo; }
.dark-blue-peexeo-bg { background-color: $dark-gray-blue-peexeo; }
.red-peexeo-bg { background-color: $red-peexeo; }
.red-pastel-peexeo-bg { background-color: $red-pastel-peexeo; }
.green-peexeo-bg { background-color: $green-peexeo; }
.orange-peexeo-bg { background-color: $orange-peexeo; }
.success-bg { background-color: $success-color; }
.warning-bg { background-color: $warning-color; }
.danger-bg { background-color: $alert-color; }


/*
   Before Color
   ===================================== */

.primary-before-color:before { color: $primary-color; }
.secondary-before-color:before { color: $secondary-color; }
.body-before-font-color:before { color: $body-font-color; }
.black-before-color:before { color: black; }
.white-before-color:before { color: white; }
.light-gray-peexeo-before-color:before { color: $light-gray-peexeo; }
.medium-gray-before-color:before { color: $medium-gray; }
.gray-peexeo-before-color:before { color: $gray-peexeo; }
.dark-gray-before-color:before { color: $dark-gray; }
.blue-gray-peexeo-before-color:before { color: $blue-gray-peexeo; }
.blue-peexeo-before-color:before { color: $blue-peexeo; }
.dark-gray-blue-peexeo-before-color:before { color: $dark-gray-blue-peexeo; }
.red-peexeo-before-color:before { color: $red-peexeo; }
.red-pastel-peexeo-before-color:before { color: $red-pastel-peexeo; }
.green-peexeo-before-color:before { color: $green-peexeo; }
.orange-peexeo-before-color:before { color: $orange-peexeo; }
.success-before-color:before { color: $success-color; }
.warning-before-color:before { color: $warning-color; }
.danger-before-color:before { color: $alert-color; }


/*
   Wrap
   ===================================== */
.flex-nowrap {
  flex-wrap: nowrap;
}
.no-wrap {
  white-space: nowrap;
}