/* ===========================================================================
   State
   =========================================================================== */



/*
   Block
   ===================================== */

.is-hidden       { display: none; }
.is-inline       { display: inline; }
.is-inline-block { display: inline-block; }
.is-block        { display: block; }
.is-scrollable   { overflow: auto; }
.is-flex         { display: flex; }



/*
   Position
   ===================================== */

.is-static   { position: static; }
.is-relative { position: relative; }
.is-absolute { position: absolute; }



/*
   Visibility
   ===================================== */

.is-visible   { visibility: visible; }
.is-invisible { visibility: hidden; }


/*
   Margin/Padding
   ===================================== */

.no-margin { margin: 0; }
.no-padding { padding: 0; }


/*
   Size
   ===================================== */

.full-width { width: 100%; }



/*
   Text
   ===================================== */

.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-underline { text-decoration: underline; }


/*
   Color
   ===================================== */

.primary-color { color: $primary-color; }
.secondary-color { color: $secondary-color; }
.body-font-color { color: $body-font-color; }
.black-color { color: black; }
.white-color { color: white; }
.medium-gray-color { color: $medium-gray; }
