/* ===========================================================================
   Tabs
   =========================================================================== */

.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border-bottom: rem-calc(1) solid $border-color;
  margin: 0;

  /* Exceptions */

  &.vertical-small {
    @include breakpoint(medium down) {
      display: list-item;
    }
  }

  .vehicle-form & {
    padding-right: rem-calc(10);
    padding-left: rem-calc(10);

    @include breakpoint(medium) {
      padding-right: rem-calc(40);
      padding-left: rem-calc(40);
    }
  }

  .garage-container & {
    background: #f7f7f7;
    padding-top: rem-calc(15);

    @include breakpoint(large) {
      padding-top: rem-calc(45);
    }
  }

  .has-border-bottom & {
    border-bottom: 0;
    margin-top: rem-calc(30);

    @include breakpoint(medium) {
      margin-top: rem-calc(40);
    }

    @include breakpoint(large) {
      margin-top: rem-calc(20);
    }
  }

  /*
    Title
    ===================================== */

  &-title {

    > a {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: rem-calc(40);
      color: #9b9b9b;
      border: rem-calc(1) solid transparent;
      font-weight: bold;
      margin-bottom: rem-calc(-1);
      padding-right: rem-calc(20);
      padding-left: rem-calc(20);
      transition: $global-transition;

      @include breakpoint(medium) {
        height: rem-calc(60);
        font-size: rem-calc(18);
        padding-right: rem-calc(25);
        padding-left: rem-calc(25);
      }

      /* Exceptions */

      .garage-container &,
      .search-tabs & {
        @include breakpoint(400 down) {
          flex-direction: column;
          line-height: 1;
        }

        @include breakpoint(small) {
          padding-right: rem-calc(9);
          padding-left: rem-calc(9);
        }

        @include breakpoint(medium) {
          padding-right: rem-calc(20);
          padding-left: rem-calc(20);
        }
      }

      .landing-mixte & {
        @include breakpoint(medium) {
          // Cancel the medium breakpoint styles
          height: rem-calc(40);
          font-size: rem-calc(16);
          padding-right: rem-calc(20);
          padding-left: rem-calc(20);
        }
      }
    }
    // End > a

    small {
      font-weight: normal;
      font-size: rem-calc(10);
      margin-left: rem-calc(5);

      @include breakpoint(medium) {
        font-size: rem-calc(13);
        transform: translate3d(0, #{rem-calc(2)}, 0); // Alignement vertical avec le label
      }
    }

    /* Active state */

    &.is-active {
      > a {
        background: white;
        border-color: $border-color;
        border-bottom-color: white;
        color: $primary-color;
      }
    }

  }
  // End &-title

  /*
     Content
     ===================================== */

  &-content {
    background: white;
  }

  /*
     Pannel
     ===================================== */

  &-panel {
    display: none;
    padding-top: rem-calc(15);

    @include breakpoint(medium) {
      padding-top: rem-calc(30);
    }

    /* Active */

    &.is-active {
      display: block;
    }

    /* Exceptions */

    .vehicle-form & {
      padding-bottom: rem-calc(15);

      @include breakpoint(medium) {
        padding-bottom: rem-calc(30);
      }
    }
    // End .vehicle-form &

    .landing-mixte & {
      @include breakpoint(medium) {
        padding-top: rem-calc(16);
      }

    }

  }
  // End &-panel

}
