/* ===========================================================================
   TAG
   =========================================================================== */


.tag {
  display: inline-block;
  background-color: $white;
  color: $dark-gray-peexeo;
  font-weight: 700;
  margin: 2px;
  padding: 5px 15px;
  border-radius: rem-calc(20);
  border: 1px solid $dark-gray-peexeo;


  &-container {
  }
}