/* ===========================================================================
   User
   =========================================================================== */

.user {

  &-thumbnail {

    > img {
      width: rem-calc(100);
    }

    &-mini > img {
      width: rem-calc(50);
    }

    > img,
    &-mini > img {
      max-height: 100%;
      border-radius: 50%;
      border: rem-calc(1) solid $border-color;
      object-fit: cover;
    }
  }

  &-project-description{
    color: $dark-gray;
    font-style: italic;
  }

  /*&-send-message-button{
    background-color: $dark-blue;
    border-color: $dark-blue;

    &:active,
    &:hover {
      color: $dark-blue;
      background-color: white;
    }

    &:before{
      color: $primary-color;
    }
  }*/
}
