/* ===========================================================================
   User
   =========================================================================== */

.user {

  &-thumbnail {

    > img {
      width: rem-calc(100);
    }

    &-mini > img {
      width: rem-calc(50);
    }

    > img,
    &-mini > img {
      max-height: 100%;
      border-radius: 50%;
      border: rem-calc(1) solid $border-color;
      object-fit: cover;
    }
  }

  &-project-description{
    color: $dark-gray;
    font-style: italic;
  }

  /*&-send-message-button{
    background-color: $dark-blue;
    border-color: $dark-blue;

    &:active,
    &:hover {
      color: $dark-blue;
      background-color: white;
    }

    &:before{
      color: $primary-color;
    }
  }*/


  &-contact-form {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    top: initial;
    padding-bottom: 0;

    .button-container {
      position: absolute;
      bottom: 20px;
      right: 20px;

      height: 48px;
      width: 48px;
      border-radius: 50%;

      background: $primary-color;

      [class^="icon-"],
      [class*=" icon-"] {
        height: 48px;
        width: 48px;
        font-size: 1rem;

        &:before{
          margin: auto;
          color: $white;
        }
      }

      .button {
        height: rem-calc(60);
        line-height: 1.1;
        border-radius: 0;
        margin-bottom: 0;

        &::before {
          font-size: rem-calc(20);
        }

        &.white {
          border: 0;
        }
      }
    }

    ~ .off-canvas {
      top: unset;
      bottom: 0;
      padding-bottom: 0;
      max-height: 90vh;
      height: auto;
      background-color: transparent;

      .close-action {
        display: block;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
        color: #ffffff;
        text-align: center;
      }

      .off-canvas-content-element {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 0;
        background-color: $body-background;

        textarea {
          max-height: 100px;
        }
      }
    }

    &-close-button {
      top: 2.5rem;
    }

    &-container {
      h3 {
        margin-top: 1rem;
      }
    }
  }
}
