/* ===========================================================================
   User
   =========================================================================== */

.user {

  &-thumbnail {

    > img {
      width: rem-calc(100);
    }

    &-mini > img {
      width: rem-calc(50);
    }

    > img,
    &-mini > img {
      max-height: 100%;
      border-radius: 50%;
      border: rem-calc(1) solid $border-color;
      object-fit: cover;
    }
  }
}
