/* ===========================================================================
   Vehicle
   =========================================================================== */

.vehicle {

  /*
    Filter
    ===================================== */

  &-filter {
    border-bottom: rem-calc(1) solid $border-color;
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(15);
    padding: 0 rem-calc(10) rem-calc(20);

    @include breakpoint(medium) {
      margin-top: rem-calc(25);
      margin-bottom: rem-calc(25);
      padding: 0 0 rem-calc(30);
    }

    @include breakpoint(xlarge) {
      position: relative;
      margin-bottom: rem-calc(35);
      padding-bottom: rem-calc(40);

      // Pour masquer la bordure qui dépasse de chaque côté
      // On place les éléments ::before et ::after à gauche et à droite
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: rem-calc(-1);
        width: rem-calc(20);
        background: white;
      }

      &::before { left: 0; }
      &::after { right: 0; }
    }

    /* Components */

    label {
      font-weight: bold;
      justify-content: center;
      color: $primary-color;
      margin-bottom: rem-calc(15);

      @include breakpoint(medium) {
        height: rem-calc(60);
        border-width: rem-calc(1) 0 rem-calc(1) rem-calc(1);
        border-style: solid;
        border-color: $border-color;
        padding-right: rem-calc(20);
        padding-left: rem-calc(20);
      }

      @include breakpoint(xlarge) {
        padding-right: rem-calc(30);
        padding-left: rem-calc(30);
      }
    }

    label,
    .input {
      @include breakpoint(medium) {
        margin-bottom: rem-calc(30);
      }

      @include breakpoint(large) {
        margin-bottom: 0;
      }
    }

    .button {
      margin-top: 0;
    }

  }
  // End &-filter

  /*
     List
     ===================================== */

  &-list {
    display: flex;
    flex-wrap: wrap;

    /* Exceptions */

    .section & {
      margin-top: rem-calc(-10);
      margin-bottom: rem-calc(25);

      @include breakpoint(medium) {
        margin-top: rem-calc(-20);
      }

      @include breakpoint(large) {
        margin-top: rem-calc(-10);
        margin-bottom: rem-calc(40);
      }
    }
    // End .section &

    .vehicle-other & {
      margin-top: rem-calc(20);

      @include breakpoint(medium) {
        margin-top: rem-calc(30);
      }
    }

    .search-result & {
      @include breakpoint(small only) {
        margin-top: rem-calc(10);
      }

      @include breakpoint(medium only) {
        margin-top: rem-calc(20);
      }
    }
  }
  // End &-list

  /*
     Item
     ===================================== */

  &-item {
    position: relative;
    width: 100%;
    border: rem-calc(1) solid $border-color;
    box-shadow: 0 rem-calc(5) rem-calc(10) rgba(black, .1);
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(5);

    @include breakpoint(medium down) {
      flex-direction: column;
      padding: rem-calc(10);
    }

    @include breakpoint(768) {
      width: calc(50% - #{rem-calc(40)});
      margin-top: rem-calc(10);
      margin-bottom: rem-calc(10);
    }

    @include breakpoint(xlarge) {
      transition: $global-transition;
      &:hover { box-shadow: 0 rem-calc(5) rem-calc(10) rgba(black, .2); }
    }

    /* Exceptions */

    @include breakpoint(small only) {
      > div:first-child {
        min-height: fit-content;
      }
    }

    .separator-section &,
    .section &{
      margin-right: rem-calc(10);
      margin-left: rem-calc(10);

      @include breakpoint(medium) {
        margin-right: rem-calc(20);
        margin-left: rem-calc(20);
      }
    }

    .sales-container &,
    .last-vehicles-container &,
    .favorites-container &,
    .garage-container &,
    .profil-seller-vehicles & {
      width: 100%;
    }

    .vehicle-detail & {
      @include breakpoint(xlarge) {
        width: calc(100% - #{rem-calc(40)});
      }
    }

    .profil-seller-main & {
      background-color: $body-background;
    }

  }
  // End &-item

  /*
     Picture
     ===================================== */

  &-picture {
    width: rem-calc(135);
    flex: 0 0 rem-calc(135);
    margin-top: auto;
    margin-bottom: auto;

    @include breakpoint(320 down) {
      width: rem-calc(100);
      flex: 0 0 rem-calc(100);
    }

    @include breakpoint(medium only) {
      width: 100%;
    }

    @include breakpoint(large) {
      width: rem-calc(200);
      flex: 0 0 rem-calc(200);
    }

    @include breakpoint(xlarge) {
      width: rem-calc(260);
      flex: 0 0 rem-calc(260);
    }

    img {
      object-fit: cover;

      @include breakpoint(large) {
        min-height: rem-calc(152);
      }

      @include breakpoint(xlarge) {
        min-height: rem-calc(197);
      }
    }
  }

  /*
     Name
     ===================================== */

  &-name {
    color: black;
    font-weight: bold;

    @include breakpoint(large down) {
      margin-bottom: rem-calc(2);
    }

    @include breakpoint(320 down) {
      margin-bottom: rem-calc(-3);
    }

    @include breakpoint(xlarge) {
      margin-bottom: 0.5rem;
    }
  }

  /*
     Infos
     ===================================== */

  &-infos {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: rem-calc(10);

    @include breakpoint(large) {
      padding: rem-calc(11) rem-calc(20) rem-calc(11) rem-calc(15);
    }

    @include breakpoint(xlarge) {
      padding: rem-calc(15) rem-calc(20);
    }

    & .vehicle-price,
    & .like {
      font-size: rem-calc(24);

      @include breakpoint(small only) {
        font-size: rem-calc(18);
      }
    }
  }
  // End &-infos

  /*
     Infos list
     ===================================== */

  &-infos-list {
    @include breakpoint(large only) {
      columns: 2;
      column-gap: rem-calc(40);
    }
  }

  /*
     Model
     ===================================== */

  &-model {
    overflow: hidden;
    color: $body-font-color;
    max-height: rem-calc(24);
    line-height: rem-calc(24);

    @include breakpoint(640 down) {
      margin-bottom: rem-calc(-5);
    }

    @include breakpoint(medium only) {
      margin-bottom: rem-calc(-3);
    }

    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }

  /*
     Years
     ===================================== */

  &-city,
  &-years {
    @include breakpoint(medium only) {
      font-size: rem-calc(14);
    }
  }

  &-years {
    font-size: rem-calc(10);

    @include breakpoint(large) {
      font-size: rem-calc(14);
    }
  }

  /*
     City
     ===================================== */

  &-city {
    margin-top: auto;

    @include breakpoint(large down) {
      margin-bottom: rem-calc(-2);
    }

    @include breakpoint(640 down) {
      margin-bottom: rem-calc(-5);
    }
  }

  /*
     Brand
     ===================================== */

  &-brand {
    position: absolute;
    top: 0;
    right: 0;
    background: $primary-color;
    color: white;
    text-transform: uppercase;
    font-size: rem-calc(10);
    padding: 0 rem-calc(3);

    @include breakpoint(large) {
      font-size: rem-calc(13);
      padding: rem-calc(3) rem-calc(10);
    }
  }

  /*
     Like
     ===================================== */

  &-like {
    display: flex;
    align-items: right;
    position: absolute;
    right: rem-calc(36);
  }

  /*
     Middle
     ===================================== */

  &-middle {
    margin-top: auto;
  }

  /*
     Bottom
     ===================================== */

  &-bottom {
    align-content: flex-end;
    margin-top: auto;
  }

  /*
     Header
     ===================================== */

  &-header {

    /* Components */

    h1, .h1 {
      margin-bottom: 0;
    }

    /*h1,
    .h1 {
      @include breakpoint(medium) { margin-bottom: rem-calc(10); }
      @include breakpoint(xlarge) { margin-bottom: rem-calc(18); }
    }*/

    div.column {
      margin-bottom: rem-calc(10);

      @include breakpoint(xlarge) {
        margin-bottom: rem-calc(25);
      }
    }
  }

  /*
     Carousel legend
     ===================================== */

  &-carousel-legend {
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(15);

    @include breakpoint(medium) {
      margin-bottom: rem-calc(25);
    }

    @include breakpoint(xlarge) {
      font-size: rem-calc(14);
    }
  }

  /*
     Detail
     ===================================== */

  &-detail {
    padding-top: rem-calc(30);

    @include breakpoint(medium) {
      padding-top: rem-calc(45);
    }

    .is-sticky {
      z-index: 2;
    }
  }

  /*
     Aside container
     ===================================== */

  &-aside-container,
  &-aside {
    z-index: 2;

    /*@media screen and (min-width: rem-calc(1200)) {
      position: sticky;
      position: -webkit-sticky;
      top: $header-height-medium + rem-calc(30);
      padding-top: 0;
    }*/
  }

  &-aside-container {
    z-index: 2;

    .affinity-score{
      width: 40px;
    }
  }

  /*
     Aside
     ===================================== */

  &-aside {
    padding-top: rem-calc(25);

    @include breakpoint(medium) {
      padding-top: rem-calc(30);
    }

    @include breakpoint(large) {
      padding-top: 0;
    }

    @media screen and (min-height: rem-calc(900)) {
      padding-bottom: rem-calc(30);
    }
  }

  /*
     Users interested
     ===================================== */

  &-perso {
    .vehicle-users {
      margin-top: rem-calc(30);

      @include breakpoint(medium) {
        margin-top: 0;
      }

      @include breakpoint(large) {
        margin-bottom: rem-calc(30);
      }
    }
  }

  &-pro {
    .vehicle-users {
      margin-bottom: rem-calc(30);

      @include breakpoint(medium only) {
        margin-bottom: 0;
      }
    }
  }

  &-users {
    @include breakpoint(medium down) {
      border: 0;
      padding: 0;
    }
  }

  /*
     Editing
     ===================================== */

  &-editing {

    @include breakpoint(medium down) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      top: initial;
      padding-bottom: 0;

      .button {
        height: rem-calc(60);
        line-height: 1.1;
        border-radius: 0;
        margin-bottom: 0;

        &::before { font-size: rem-calc(20); }
        &.white { border: 0; }
      }
    }

    .icon-heart {
      @include breakpoint(large) {
        &::before { margin-right: 0; }
      }
    }
  }

  /*
     Editing static
     ===================================== */

  &-editing-static {
    .button {
      @include breakpoint(medium down) {
        margin-top: rem-calc(30);
      }

      @include breakpoint(large) {
        margin-bottom: rem-calc(30);
      }
    }
  }

  /*
     Editing
     ===================================== */

  &-editing {

    @include breakpoint(medium down) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;

      .button {
        height: rem-calc(60);
        border-radius: 0;
        margin-bottom: 0;
      }
    }

  }
  // End &-editing

  &-edit-profile {

    @include breakpoint(medium down) {
      bottom: rem-calc(58);
      border-bottom: rem-calc(1) solid $medium-gray;
    }

    @media screen and (max-height: rem-calc(900)) {
      padding-top: rem-calc(30);
    }

  }

  /*
    Container
    ===================================== */

  &-form-container {
    position: relative;
    z-index: 1;
    background: #f7f7f7;
    padding-top: rem-calc(32);

    @include breakpoint(medium down) {
      border-top: rem-calc(1) solid $border-color;
    }

    @include breakpoint(large) {
      padding-top: $header-height-medium + rem-calc(50);
      padding-bottom: rem-calc(50);
    }

    /* Background */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100vh;
      background: url(#{$img-folder}/logo/logo-wamcar-tiny.svg) center #{rem-calc(-40)}/130% auto no-repeat;
      opacity: .04;
      z-index: -1;

      @include breakpoint(small only) {
        transform: translate3d(-50%, 0, 0);
      }

      @include breakpoint(medium) {
        right: 0;
        left: 0;
        background-size: rem-calc(800) auto;
        background-position: center rem-calc(-80);
      }

      @include breakpoint(large) {
        background-position: calc(100% + #{rem-calc(20)}) rem-calc(-80);
      }

      @include breakpoint(xlarge) {
        background-size: $global-width auto;
        background-position: right rem-calc(-80);
      }
    }

    /* Components */

    img {
      width: auto;
      max-width: 100%;
    }
  }

  /*
    Form
    ===================================== */

  &-form {

    @include breakpoint(large) {
      background: white;
      border-top: rem-calc(5) solid $primary-color;
      box-shadow: 0 rem-calc(10) rem-calc(30) rgba(black, .12);
    }

    @include breakpoint(xlarge) {
      position: relative; // IE fix
      z-index: 2; // IE fix
    }

    header h2 {
      font-size: rem-calc(14);

      @include breakpoint(medium) {
        font-size: rem-calc(19);
        line-height: 1.3;

        .landing-mixte & {
          font-size: rem-calc(16);
          line-height: 1.1;
          margin-bottom: rem-calc(15);
        }
      }
    }
  }
  // End &-form

  /*
     Form header
     ===================================== */

  &-form-header {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);

    @include breakpoint(small only) {
      padding-right: rem-calc(20);
      padding-left: rem-calc(20);
    }

    @include breakpoint(medium down) {
      background: url('#{$img-folder}/background/search-header.png') calc(100% + #{rem-calc(75)}) center/#{rem-calc(200)} auto no-repeat;
    }

    @include breakpoint(medium only) {
      background-size: rem-calc(300) auto;
    }

    @include breakpoint(medium) {
      padding: rem-calc(40);
    }

    @include breakpoint(large) {
      padding-top: rem-calc(16);
      padding-bottom: rem-calc(16);
    }

    h2 {
      margin-bottom: 0;
    }
  }
  // End &-header

  /*
     User infos
     ===================================== */

  &-user-infos {
    position: relative;
    font-size: rem-calc(11);
    border-width: rem-calc(1) 0 0 0;
    border-style: solid;
    border-color: $border-color;

    @include breakpoint(medium down) {
      margin-top: rem-calc(15);
      padding-top: rem-calc(10);
    }

    @include breakpoint(medium) {
      font-size: rem-calc(14);
    }

    @include breakpoint(large) {
      display: flex;
      height: 100%;
      width: rem-calc(400);
      flex: 0 0 rem-calc(400);
      border-width: 0 0 0 rem-calc(1);
      margin-left: auto;
      padding-top: rem-calc(24);
      padding-right: rem-calc(50);
      padding-left: rem-calc(50);
    }

    @include breakpoint(large only) {
      display: flex;
      align-items: center;
    }

    .affinity-score {
      width: 40px;
    }
  }
  // End &-user-info

  /*
     User picture
     ===================================== */

  &-user-pic {
    position: absolute;
    top: 0;
    right: 0;
    width: rem-calc(52);
    height: rem-calc(52);
    border: rem-calc(1) solid $border-color;
    border-radius: 50%;
    transform: translate3d(0, -50%, 0);

    img {
      border-radius: 50%;
      object-fit: cover;
    }

    @include breakpoint(large) {
      top: rem-calc(23);
      right: auto;
      left: 0;
      transform: translate3d(-50%, 0, 0);
    }
  }

  /*
     Time
     ===================================== */

  &-time {
    font-size: rem-calc(12);
  }

  /*
     User greetings
     ===================================== */

  &-user-greetings {
    margin: 0;
    color: $dark-gray;

    @include breakpoint(medium down) {
      @include listBullet;

      > li {
        padding-left: rem-calc(10);
        &:not(:last-child) { margin-bottom: 0; }
      }
    }

    @include breakpoint(large) {
      @include listBorder;
      margin-top: rem-calc(10);

      > li {
        padding-top: rem-calc(5);

        &:not(:last-child) { padding-bottom: rem-calc(5); }
      }
    }
  }
  // End &-yser-greetings

  /*
     Pics count
     ===================================== */

  &-pics-count {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(black, .5);
    color: white;
    font-size: rem-calc(9);
    z-index: 2;
    padding: rem-calc(2) rem-calc(8);

    @include breakpoint(large) {
      font-size: rem-calc(11);
      padding: rem-calc(5) rem-calc(10);
    }

    &::before {
      font-size: rem-calc(8);
      margin-right: rem-calc(5);
    }
  }

  /*
     Messages Vehicle list
     ===================================== */

  &-messages-create {
    @include breakpoint(medium) {
      margin-top: rem-calc(8) !important;
    }
  }

  &-messages-list {

    @include breakpoint(large) {
      margin-top: rem-calc(40);
    }

    @include breakpoint(medium) {
      margin-top: rem-calc(25);
      margin-bottom: rem-calc(50);
    }

    @include breakpoint(small only) {
      margin-bottom: 0;
    }

    .vehicle-item {
      width: 100%;

      @include breakpoint(small only) {
        border: 0;
        box-shadow: none;
      }

      @include breakpoint(medium down) {
        flex-direction: initial;
      }
    }

    .vehicle-picture {
      @include breakpoint(medium only) {
        width: rem-calc(135);
      }
    }

    .vehicle-infos {
      position: relative;
      flex-grow: 1;
    }

    .vehicle-infos-arrow {
      margin: auto rem-calc(-15) auto rem-calc(10);

      font-size: rem-calc(15);
      color: $medium-gray;

      &:before {
        margin-right: 0;

        @include breakpoint(large) {
          // content: '\e913';
        }
      }
    }
  }

  &-messages-item-wrapper {

    display: flex;
    flex-wrap: wrap;

    @include breakpoint(small only) {
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: 0;
      }
    }

    @include breakpoint(medium down) {
      flex-direction: initial;
    }
  }

  &-messages-list-empty {
    padding: rem-calc(50);

    svg {
      margin: 0 0 rem-calc(30);
    }

    strong {
      margin: 0 0 rem-calc(15);
      color: $black;
    }

    button {
      margin-top: rem-calc(5);
    }
  }

}
