.video-coaching {

  background-color: $light-gray-peexeo;
  padding-bottom: 0;

  .videoproject {

    /* Header
     ===================================== */
    &-header {
      // to blacken the image
      background-color: #BBBBBB;
      background-blend-mode: multiply;

      background-clip: border-box;
      background-position: center;
      background-size: cover;
      background-origin: border-box;
      background-repeat: no-repeat;

      text-align: center;
      color: $body-font-color;

      &, & > div {
        height: 200px;

        @include breakpoint(medium) {
          height: 200px;
        }
      }

      h1, h2 {
        color: $white;
        margin-bottom: 0;

        @include breakpoint(medium) {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      .actions {
        position: absolute;
        right: 20px;
        top: 20px;

        label {
          margin-bottom: 0;
        }

        a {
          background-color: #ffffff;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          margin-left: 5px;
          margin-right: 5px;
          font-weight: normal;
          font-size: 1.2rem;

          @include breakpoint(medium) {
            font-size: 14px;
          }

          &::before {
            margin: auto
          }
        }
      }
    }

    /* Body
         ===================================== */
    &-body {
      @include breakpoint(medium) {
        padding-top: rem-calc(20);
      }
    }

    // End &-body

    /* left column
       ===================================== */
    &-left-column {
      @include breakpoint(small only) {
        > .videoproject-section:first-child {
          margin-top: rem-calc(25);
        }
      }
    }

    // End -left-column

    &-section {
      border-radius: $global-radius;
      background-color: $body-background;
      padding: rem-calc(25);
      margin-bottom: rem-calc(25);

      &-action {
        float: right;

        width: 35px;
        height: 35px;
        margin-left: 5px;
        border-radius: 50%;

        &:hover {
          background-color: $light-gray-peexeo;
        }

        &[class*="icon-"]::before {
          font-size: 1rem;
          font-weight: normal;
          color: $body-font-color;
          margin: auto;
        }

        &.rotate {
          animation: rotation 2s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
      }
    }

    // End &-section

    &-viewers {
      .avatar {
        display: inline-block;
        margin-left: rem-calc(5);
        padding: 0;
        height: rem-calc(45);
        width: rem-calc(45);

        &:hover {
          background: none;
        }

        img {
          max-height: 100%;
          border-radius: 50%;
          object-fit: cover;

          &.creator {
            border: 4px solid $dark-gray-blue-peexeo;
          }
        }
      }
    }

    // End &-viewers
    &-discussion {
      &-writer {
        textarea {
          min-height: 4rem;
        }

        .attachments-field-list {
          label {
            display: inline-flex;
          }
        }
      }
    }

    // End &-discussion

    &-library {
      .messages-item-attachments-field {
        label {
          display: inline-flex;
        }
        .is-invalid-label {
          color: $input-error-color;
          border-color: $input-error-color;
        }
      }
      a {
        color: $body-font-color;
        &.icon-remove {
          margin-left: 5px;
        }
      }
    }
    // End &-library

    &-messages {

      > div {
        margin: rem-calc(32px) 0;
        padding: rem-calc(16px);
        border-radius: 10px;
        background-color: $gray-alt2;
        width: 95%;

        @include breakpoint(medium) {
          width: 80%;
        }

        &.unread {
          background-color: $light-gray-peexeo;
        }

        &.is-author {
          margin-left: auto;
        }

        .avatar {
          display: inline-block;
          margin-right: rem-calc(5);
          height: rem-calc(32);
          width: rem-calc(32);
          vertical-align: middle;

          img {
            max-height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .message-content {
          margin-left: rem-calc(37);

          a {
            font-weight: bold;
            color: $dark-gray-blue-peexeo;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .attachments-container {

          .attachement-img {
            max-width: 49%;
            width: auto;
          }
        }
      }
    }
    // End &-messages
  }

  /*
     Step
     ===================================== */
  &-step {

    /*
       Step Navigation
       ===================================== */

    &-navigation {
      background-color: $white;
      counter-reset: section;
      flex: 1;

      @include breakpoint(medium) {
        justify-content: flex-start;
      }

      @include breakpoint(large) {
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(15);
      }

      /*
      Step navigation item
      ===================================== */
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        height: $header-height;

        @include breakpoint(small only) {
          flex: 1;
          flex-direction: column;
          border-left: rem-calc(1) solid $border-color;

          span {
            display: block;
            width: 100%;
            font-size: rem-calc(10);
            text-align: center;
          }

        }

        @include breakpoint(medium only) {
          //width: $header-height;
          width: auto;
          margin-right: rem-calc(25);
          border: 0;

          &::before {
            @include counterLargeStyle();
          }

          &.is-valid,
          &.is-active {
            &::before {
              @include counterLargeActiveStyle;
            }
          }
          // End &.is-active
        }

        @include breakpoint(large) {
          margin-right: rem-calc(25);
        }

        @media screen and (min-width: rem-calc(1000)) and (max-width: rem-calc(1480)) {
          font-size: rem-calc(16);
        }

        @include breakpoint(1480) {
          margin-right: rem-calc(70);

          &:nth-last-child(3):first-child,
          &:nth-last-child(3):first-child ~ * {
            margin-right: rem-calc(120);
          }
        }

        &:not(.is-active):not(.is-valid) {
          color: $body-font-color;
        }

        &:not(.is-disabled) {
          &:hover {
            color: $primary-color;
          }
        }

        &.is-disabled {
          pointer-events: none;
        }

        &::before {
          content: counter(section);
          counter-increment: section;
          background-color: $white;

          @include breakpoint(large) {
            @include counterLargeStyle();
          }

          @include breakpoint(xlarge) {
            margin-right: rem-calc(25);
          }
        }

        /* Active state */
        &.is-valid,
        &.is-active {
          &::before {
            @include breakpoint(large) {
              @include counterLargeActiveStyle;
            }
          }
        }

        // End &.is-active
      }

      // End &-step-navigation-item
    }

    // End &-step-navigation
  }


  /* Script VersionWizard
     ===================================== */
  .script-version-wizard {
    background-color: $white;
    margin-bottom: rem-calc(25);

    .script-sequence-field {
      &:not(:first-child) {
        margin-top: rem-calc(15);
      }

      label {
        font-size: rem-calc(14);
        margin-bottom: rem-calc(5);
        margin-top: 0;
      }

      span.icon-close {
        margin-left: 5px;
        cursor: pointer;
        font-size: rem-calc(14);
      }

    }

    .aside-instructions {
      background-color: $light-gray-peexeo;
      padding: rem-calc(25);

      p, ul {
        margin-bottom: rem-calc(12px);

      }

      ul {
        list-style: initial;
        margin-left: rem-calc(15);
      }
    }
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
