.video-coaching {

  .section {
    margin-bottom: rem-calc(25);
    padding: rem-calc(25);
    background-color: $body-background;

    &-action {
      float: right;

      width: 35px;
      height: 35px;
      margin-left: 5px;
      border-radius: 50%;

      &:hover {
        background-color: $light-gray-peexeo;
      }

      &[class*="icon-"]::before {
        font-size: 1rem;
        font-weight: normal;
        color: $body-font-color;
        margin: auto;
      }

      &.rotate {
        animation: rotation 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }

  .videoproject-viewers {
    .avatar {
      display: inline-block;
      margin-left: rem-calc(5);
      height: rem-calc(45);
      width: rem-calc(45);
      vertical-align: middle;

      img {
        max-height: 100%;
        border-radius: 50%;
        object-fit: cover;

        &.creator {
          border: 4px solid $dark-gray-blue-peexeo;
        }
      }
    }
  }

  .videoproject-discussion {
    &-writer {
      margin-left: rem-calc(-25);
      margin-right: rem-calc(-25);

      .attachments-field-list {
        label {
          display: inline-flex;
        }

        .icon-close::before {
          color: $white;
        }
      }
    }
  }

  .videoproject-messages {

    > div {
      margin: rem-calc(32px) 0;
      padding: rem-calc(16px);
      border-radius: 10px;
      background-color: $gray-alt2;
      width: 95%;

      @include breakpoint(medium) {
        width: 80%;
      }

      &.unread {
        background-color: $light-gray-peexeo;
      }

      &.is-author {
        margin-left: auto;
      }

      .avatar {
        display: inline-block;
        margin-right: rem-calc(5);
        height: rem-calc(32);
        width: rem-calc(32);
        vertical-align: middle;

        img {
          max-height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .message-content {
        margin-left: rem-calc(37);

        a {
          font-weight: bold;
          color: $dark-gray-blue-peexeo;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .attachments-container {
        a {
          width: 100%;

          @include breakpoint(medium) {
            width: auto;
          }
        }
      }

    }
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
