/* ===========================================================================
   Flex grid
   =========================================================================== */

@mixin flex-grid($size, $total-columns) {

  .#{$size}-vertical    { flex-direction: column; }
  .#{$size}-horizontal  { flex-direction: row; }
  .#{$size}-auto        { flex: 1 0 auto; }
  .#{$size}-shrink      { flex: 0 1 auto; }
  .#{$size}-right       { margin-left: auto; }

  // Collapse
  .column.#{$size}-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  // Uncollapse
  .column.#{$size}-uncollapse {
    padding-right: rem-calc(20);
    padding-left: rem-calc(20);
  }

  // Collapse
  .column.#{$size}-left-collapse {
    padding-left: 0;
  }

  // Uncollapse
  .column.#{$size}-left-uncollapse {
    padding-left: rem-calc(20);
  }

  // Collapse
  .column.#{$size}-right-collapse {
    padding-right: 0;
  }

  // Uncollapse
  .column.#{$size}-right-uncollapse {
    padding-right: rem-calc(20);
  }

}



/* ===========================================================================
    Breakpoint
    =========================================================================== */

@include breakpoint(small) {
  @include flex-grid($size: small, $total-columns: $grid-columns);
}

@include breakpoint(medium) {
  @include flex-grid($size: medium, $total-columns: $grid-columns);
}

@include breakpoint(large) {
  @include flex-grid($size: large, $total-columns: $grid-columns);
}

@include breakpoint(xlarge) {
  @include flex-grid($size: xlarge, $total-columns: $grid-columns);
}
