/* ===========================================================================
   Flex block grid
   =========================================================================== */



/*
   Block grid default
   ===================================== */

[class*="up-"] {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-left: 0;

  @include ie9 {
    > li {
      display: inline-block;
      vertical-align: top;
      margin-right: rem-calc(-4);
    }
  }
}



/*
   Block grid
   ===================================== */

@mixin flex-block-grid($size, $total-columns) {
  @for $i from 1 through $total-columns {
    .#{$size}-up-#{($i)} > li {
      width: 100%/$i;
    }
  }
}

@include breakpoint(small) {
  @include flex-block-grid($size: small, $total-columns: $block-grid-max);
}

@include breakpoint(medium) {
  @include flex-block-grid($size: medium, $total-columns: $block-grid-max);
}

@include breakpoint(large) {
  @include flex-block-grid($size: large, $total-columns: $block-grid-max);
}

@include breakpoint(xlarge) {
  @include flex-block-grid($size: xlarge, $total-columns: $block-grid-max);
}

@include breakpoint(xxlarge) {
  @include flex-block-grid($size: xxlarge, $total-columns: $block-grid-max);
}
