{% extends 'front/Layout/layout.html.twig' %}

{% block title %}{{ 'user.affinity.page_title'|trans }}{% endblock title %}
{% block mainClass %}no-padding-top affinity-form{% endblock %}

{% block body %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title'),
        page_header_class: 'no-margin'
    } %}

    <div class="typeform-widget" style="width: 100%; height: 100%;"
         data-url="https://wamcar.typeform.com/to/{{ typeform_affinity_pro_form }}?client_id={{ app.user.apiClientId }}&redirection={{ url('front_affinity_pro_redirection') }}"></div>
{% endblock body %}

{% block footer %}{% endblock footer %}

{% block javascripts %}
    <script> (function () {
        var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName,
          id = "typef_orm", b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
          js = ce.call(d, "script");
          js.id = id;
          js.src = b + "embed.js";
          q = gt.call(d, "script")[0];
          q.parentNode.insertBefore(js, q)
        }
      })() </script>
{% endblock javascripts %}