{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding{% endblock %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <!-- Header -->
    <div class="messages-header messages-list-header">
        <div class="row">
            <div class="small-12 messages-header-title messages-align-items block-grid">
                <h1 class="primary-color no-margin">Messagerie</h1>
                <div class="messages-unread-info">2 messages non lus</div>
            </div>
        </div>
    </div>
    <div class="row messages-list-wrapper">
        <div class="small-12 medium-5 large-4">
            <!-- Messages list -->
            <ul class="messages-list no-bullet no-margin">
                <!-- One message -->
                <li class="messages-list-item is-unread block-grid">
                    <span class="small-3 large-2">
                        <img class="messages-user-img messages-list-user-img" src="{{ asset('assets/images/placeholders/user/user.png') }}" alt="Antoine Martin">
                    </span>
                    <div class="small-9 large-10 messages-main messages-list-item-main">
                        <div class="is-flex">
                            <strong class="messages-sender-name">
                                Antoine Martin
                            </strong>
                            <div class="messages-time">
                                15h32
                            </div>
                        </div>
                        <div class="messages-small-text">
                            Toyota Villeurbanne
                        </div>
                        <div class="messages-content messages-list-item-content">
                            Bonjour, j'ai actuellement ce modèle de toyota celica 1998 rouge tdi
                        </div>
                    </div>
                </li>
                <!-- One message -->
                <li class="messages-list-item is-unread block-grid">
                    <span class="small-3 large-2">
                        <img class="messages-user-img messages-list-user-img" src="{{ asset('assets/images/placeholders/user/user.png') }}" alt="Antoine Martin">
                    </span>
                    <div class="small-9 large-10 messages-main messages-list-item-main">
                        <div class="is-flex">
                            <strong class="messages-sender-name">
                                Magalie de la Fontaine
                            </strong>
                            <div class="messages-time">
                                14h25
                            </div>
                        </div>
                        <div class="messages-small-text">
                            Auto Occasion Rhône-Alpes
                        </div>
                        <div class="messages-content messages-list-item-content">
                            Pouvez-vous m'envoyer une photo de votre véhicule ?
                        </div>
                    </div>
                </li>
                <!-- One message -->
                <li class="messages-list-item block-grid">
                    <span class="small-3 large-2">
                        <img class="messages-user-img messages-list-user-img" src="{{ asset('assets/images/placeholders/user/user.png') }}" alt="Antoine Martin">
                    </span>
                    <div class="small-9 large-10 messages-main messages-list-item-main">
                        <div class="is-flex">
                            <strong class="messages-sender-name">
                                Jean-Jacques Moretti
                            </strong>
                            <div class="messages-time">
                                27/11
                            </div>
                        </div>
                        <div class="messages-small-text">
                            Toyota Lyon 2ème
                        </div>
                        <div class="messages-content messages-list-item-content">
                            Vous : La courroie de distribution a été changée en 2017
                        </div>
                    </div>
                </li>
                <div class="block-grid">
                    <button type="button" class="small-8 medium-10 large-8 button reverse messages-view-more-btn">
                        Voir plus de messages
                    </button>
                </div>
            </ul>
        </div>
        <div class="messages-item-wrapper-desktop hide-for-small-only medium-7 large-8">
            {% include 'front/Messages/includes/message_item_content.html.twig' %}
        </div>
    </div>
{% endblock %}
