{% extends 'front/Layout/layout.html.twig' %}

{% block body %}

    <section class="reinsurance-container small-12">
        <div class="row">
            {% include 'front/Layout/includes/reinsurance.html.twig' %}
        </div>
    </section>

{% endblock body %}
