{% extends 'front/Layout/layout.html.twig' %}

{% block body %}

    <section class="section reinsurance-container small-12">
        <div class="row">
            {% include 'front/Layout/includes/reinsurance.html.twig' %}
        </div>
    </section>

    <section class="section small-12">
        <div class="row">
            <header class="small-12 text-center">
                <h2 class="section-title h1 primary-color">Je cherche une nouvelle voiture</h2>
                <p>Découvrez les véhicules d’occasion vendus par des professionnels vérifiés</p>
            </header>
            {% include 'front/Vehicle/Listing/includes/filter.html.twig' %}
            <strong class="black-color h2 column small-12">Les dernières offres publiées sur Wamcar</strong>
            {% set vehicle_list = inte.vehicle %}
            {% set balise = 'h3' %}
            {% include 'front/Vehicle/Listing/includes/list.html.twig' %}
            <footer class="section-footer column small-12 medium-7 large-5">
                <a href="" class="button">Découvrez tous les véhicules près de chez vous</a>
            </footer>
            </div>
        </div>
    </section>

    <section class="section block-primary small-12">
        <div class="row">
            <h2 class="section-title h1 column text-center medium-text-left small-12 medium-9 large-8 medium-order-1">Je veux remplacer mon véhicule. Qu’est-ce que Wamcar m’apporte ?</h2>
            {% set reinsurance_class = 'medium-order-3' %}
            {% include 'front/Layout/includes/reinsurance_wamcar.html.twig' %}
            <a class="reinsurance-video-button icon-play small-right medium-order-2" data-open="js-modal-video-wamcar"><b>Le concept <span class="show-for-medium"><br></span> en vidéo</b></a>
        </div>
    </section>

    <section class="mission block-dark-blue small-12">
        <div class="row">
            <div class="mission-body section column small-12 medium-6 medium-order-2 large-5 xlarge-4">
                {% include 'front/Home/includes/our_mission.html.twig' %}
            </div>
            <div class="mission-image column small-12 medium-6 medium-collapse large-uncollapse xlarge-7">
                <img src="{{ asset('assets/images/background/magicien.svg') }}">
            </div>
        </div>
    </section>

    <section class="business small-12">
        <div class="block-white section row">
            <div class="business-body small-12 medium-7 large-6">
                <h2 class="black-color h1 text-center medium-text-left"><span class="primary-color">Professionnel ?</span> Développez votre business avec Wamcar</h2>
                <p>Lorem ipsum felis tincidunt eleifend in ullamcorper faucibus nec Morbi conubia aliquet gravida ac, maximus ultricies vel felis odio. Tempus, iaculis, tempus Proin Cras id nunc pulvinar finibus id eu. Tempor eget in neque faucibus condimentum nunc id turpis lorem, eu erat lectus. Erat, inceptos vestibulum lobortis mattis Donec mattis commodo massa ac vitae. Sagittis sed hendrerit himenaeos. Consectetur Nunc iaculis. Hendrerit dictum pharetra Nunc tincidunt neque pharetra feugiat pharetra sit.</p>
                <a href="" class="button">Accéder au site professionnel</a>
            </div>
            <div class="column small-12 small-right-collapse medium-5 large-6">
                <picture class="business-image">
                    <source media="(min-width: 1024px)" srcset="{{ asset('assets/images/background/citroen-ds-large.png') }}">
                    <img src="{{ asset('assets/images/background/citroen-ds.jpg') }}">
                </picture>
            </div>
        </div>
    </section>

{% endblock body %}
