{% if not app.request.cookies.get('cookie-disclaimer') %}
    <div id="js-cookie-bar" class="cookie-bar block-primary white-color full-width">
        <div class="row align-middle full-width">
            <p class="cookie-bar-body no-margin column medium-7"><b>En poursuivant sur ce site, vous acceptez l'utilisation de cookies pour vous offrir une meilleure expérience utilisateur. <a href="" target="_blank" class="text-underline">En savoir plus</a></b></p>
            <div class="column shrink small-right">
                <button type="button" class="js-cookie-bar-button button white no-margin">Accepter</button>
            </div>
        </div>
    </div>

    <script>
        var $cookieBar = document.getElementById('js-cookie-bar');
        var $cookieBarButton = document.querySelector('.js-cookie-bar-button');
        var cookiebarHeight;

        setTimeout(function() {
            cookiebarHeight = $cookieBar.offsetHeight;
            document.body.style.marginBottom = cookiebarHeight + 'px';
        }, 500);

        $cookieBarButton.addEventListener('click', function(e) {
            var d=new Date;d.setTime(d.getTime()+31536e6);
            var expires="expires="+d.toUTCString();document.cookie="cookie-disclaimer=true; "+expires;

            $cookieBar.style.transform = 'translate3d(0, ' + cookiebarHeight + 'px, 0)';
            document.body.style.marginBottom = '0px';
        });
    </script>
{% endif %}
