{% for label, messages in app.flashes %}
    {% for message in messages %}
        <span class="js-flash-message is-hidden" data-level="{{ label }}" data-message="{{ message|trans|raw }}"></span>
    {% endfor %}
{% endfor %}
