{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="callout {{ label }} no-margin">
            <p class="column row no-margin-bottom">{{ message|trans }}</p>
        </div>
    {% endfor %}
{% endfor %}
