<footer class="l-footer" id="footer">
    <div class="l-footer-top">
        {% include 'front/Layout/includes/navigation/secondary.html.twig' %}
    </div>
    <div class="l-footer-bottom row align-middle">
        {% include 'front/Layout/includes/social_networks.html.twig' %}
        {% include 'front/Layout/includes/copyright.html.twig' %}
    </div>
</footer>
