<header class="l-header block-grid column">
     {% include "front/Layout/includes/logo.html.twig" %}
     {% block headerCenter %}
          {% include "front/Layout/includes/navigation/primary.html.twig" %}
     {% endblock %}
     {% block headerRight %}
          <div class="large-3 block-grid">
               <button class="icon-user" data-toggle="js-off-canvas-user">Espace membre</button>
               <button class="icon-user hide-for-medium" data-toggle="js-off-canvas-navigation"><span class="show-for-sr">Navigation</span></button>
          </div>
     {% endblock %}
</header>