<header class="l-header block-grid column">
     {% include "front/Layout/includes/logo.html.twig" %}
     {% block headerCenter %}
          {% include "front/Layout/includes/navigation/primary.html.twig" %}
     {% endblock %}
     {% block headerRight %}
          <div class="block-grid small-right medium-3">
               <button type="button" class="icon-user small-right" data-toggle="js-off-canvas-user"><span class="show-for-large">Espace membre</span></button>
               <button type="button" class="hamburger" data-toggle="js-off-canvas-navigation"><span class="hamburger-line">Navigation</span></button>
          </div>
     {% endblock %}
</header>