<header class="off-canvas-header">
     <strong>Espace membre</strong>
     <button data-toggle="js-off-canvas-user">Fermer</button>
</header>
<div class="off-canvas-content">
     <form>// Login</form>
</div>
