<header class="off-canvas-header show-for-large">
     <strong>Espace membre</strong>
     <button class="large-right icon-close no-margin" data-toggle="js-off-canvas-user"><span class="show-for-sr">Fermer</span></button>
</header>
<div class="off-canvas-content">
     <form>// Login</form>
</div>
