<nav class="pagination" role="navigation" aria-label="Pagination">
  <a href="" class="pagination-item previous is-disabled icon-arrow-left" aria-label="Page précédente"><span class="show-for-sr">Page précédente</span></a>
  <span class="pagination-item is-current"><span class="show-for-sr">Vous êtes sur la page</span> 1</span>
  <a href="#" class="pagination-item" aria-label="Page 2">2</a>
  <a href="#" class="pagination-item" aria-label="Page 3">3</a>
  <a href="" class="pagination-item next is-disabled icon-arrow-right" aria-label="Page suivante"><span class="show-for-sr">Page suivante</span></a>
</nav>
