<ul class="social-networks block-grid no-margin no-bullet column small-12 medium-6 large-shrink medium-order-2 align-middle">
    <li class="small-12 large-shrink">Retrouvez-nous sur :</li>
    <li><a href="" target="_blank" class="social-networks-link icon-facebook">Facebook</a></li>
    <li><a href="" target="_blank" class="social-networks-link icon-twitter">Twitter</a></li>
</ul>
