<ul class="social-networks block-grid column medium-order-2 large-4 xlarge-shrink xlarge-right align-middle">
    <li class="small-12 xlarge-shrink">Retrouvez-nous sur :</li>
    <li><a href="{{ facebook_url }}" target="_blank" class="social-networks-link icon-facebook">Facebook</a></li>
    <li><a href="{{ twitter_url }}" target="_blank" class="social-networks-link icon-twitter">Twitter</a></li>
</ul>
