{% set modalId = modalId|default('') %}
<div id="{{ modalId }}" class="reveal {% block class %}{% endblock %}" data-reveal>
    <header class="off-canvas-header">
        <strong>{% block title %}{% endblock %}</strong>
        <button class="small-right icon-close" data-close aria-label="Fermer" title="Fermer"><span class="show-for-sr">Fermer</span></button>
    </header>
    <div class="modal-content row full-width">
        {% block content %}{{ content|raw }}{% endblock %}
        {% block includeFile %}{% endblock %}
    </div>
</div>
