{% trans_default_domain 'security' %}

{% set context = context|default(constant("Wamcar\\User\\PersonalUser::TYPE")) %}
{% set social_connect = social_connect is defined?social_connect:true %}

{% if social_connect %}
    {% set destination_url = (context == constant("Wamcar\\User\\ProUser::TYPE")? url('front_view_current_user_info') : url('register_confirm') )%}
    <aside class="register-right small-12 medium-6">
        <h2 class="black-color column small-12">{{ 'user.social_connect'|trans }}</h2>
        {% include 'front/Security/Register/includes/social_networks_registration.html.twig' with {"context":context,"destination":destination_url} %}
    </aside>
{% endif %}


<section class="input-margin small-12 {{ social_connect?'medium-6 register-left' }}">
    <h2 class="black-color column small-12">{{ 'user.with_email'|trans }}</h2>
    <div class="column">
        {% include 'front/Security/Register/includes/form_register.html.twig' with {
            'registrationForm' : (vehicleForm is defined ? vehicleForm.userRegistration : form),
            'isIsolatedRegistration' : (vehicleForm is defined ? false : true),
        } %}
    </div>
</section>
