{% set asideTitle = asideTitle|default('') %}
{% set jsStepIdInfos = 'js-step-' ~ asideId ~ '-infos' %}

{% include 'front/Security/Register/includes/step_header_small.html.twig' with {"jsStepIdInfos":jsStepIdInfos,"stepHeaderTitle":asideTitle} %}

<aside id="{{ jsStepIdInfos }}" class="register-aside-container block-grid column small-12 large-order-2 large-5 xlarge-4 xlarge-left-collapse xlarge-offset-1" data-toggler=".is-block-inherit">
    <div class="register-aside small-12 medium-6 large-12">
        {{ content|raw }}
    </div>
    <div class="register-aside no-padding small-12 medium-6 large-12">
        {% include 'front/Layout/includes/svg/hero_' ~ asideId ~ '.html.twig' %}
    </div>
</aside>
