{% set asideId = '2' %}

{% include 'front/Security/Register/includes/aside.html.twig' with {
    content: '
        <p>Merci de bien vouloir ajouter des photos de votre voiture. Vous pouvez ajouter des légendes notamment sur les photos présentant des détails.</p>
        <p class="no-margin">Un angle de 3/4 avant sera parfait comme photo principale. Veillez à ce que tous les côtés du véhicule soient bien visible !</p>
    '
} %}

<section class="small-12 large-7">
    <div id="js-pictures-list" class="block-grid small-12" data-preview-src="{{ asset('assets/images/register/pictures_default.jpg') }}" data-prototype="{{ form_widget(vehicleForm.pictures.vars.prototype)|e('html_attr') }}">
        {% for pictureSubForm in vehicleForm.pictures %}
            {{ form_widget(pictureSubForm) }}
        {% endfor %}
    </div>
    {#<a id="js-tmp-add-picture" href="#">Ajouter</a>#}
    <p class="small column">Si vous n’ajouter pas de photographies maintenant, vous pourrez tout de même en ajouter par la suite en éditant cette annonce dans votre Espace Membre.</p>
</section>
