{% set asideId = '2' %}

{% include 'front/Security/Register/includes/aside.html.twig' with {
    content: '<p>'~'vehicle.form.aside.picture.content_1'|trans~'</p><p class="no-margin">'~'vehicle.form.aside.picture.content_2'|trans~'</p>'
} %}

<section class="small-12 large-7">
    <div id="js-pictures-list" class="block-grid small-12" data-preview-src="{{ asset('vehicle_placeholder_thumbnail'|defaultVehiclePicture) }}" data-prototype="{{ form_widget(vehicleForm.pictures.vars.prototype)|e('html_attr') }}">
        {% for pictureSubForm in vehicleForm.pictures %}
            {{ form_widget(pictureSubForm) }}
        {% endfor %}
    </div>
    <p class="small column text-justify">{{ 'vehicle.form.aside.picture.bottom_content'|trans }}</p>
</section>
