{% set context = context|default(constant("Wamcar\\User\\ProUser::TYPE")) %}
{% set destination_param = (destination is defined)?{'_destination':destination}:{} %}
{% set services = [
    {
        'name':'facebook',
        'icon':'icon-facebook',
        'label':'Facebook'
    },
    {
        'name':'linkedin',
        'icon':'icon-linkedin',
        'label':'Linkedin'
    },
    {
        'name':'google',
        'icon':'icon-google2',
        'label':'Google'
    },
    {
        'name':'twitter',
        'icon':'icon-twitter',
        'label':'Twitter'
    },
] %}


<ul class="block-grid small-12 no-bullet no-margin align-justify">
    {% for service in services %}
        {% set path_params = {
            'service':service.name,
            'type':context
        } %}
        {% set path_params = path_params|merge(destination_param) %}
        <li class="column medium-12 input-margin">
            <a href="{{ path('hwi_oauth_service_redirect',path_params) }}" class="social-networks-login-button {{ service.icon }} is-center">
                <span class="show-for-medium">{{ 'social_network.registration_with'|trans({'%social_network%':service.label}) }}</span></a>
        </li>
    {% endfor %}
</ul>

