{% set context = context|default(null)%}
<ul class="block-grid small-12 no-bullet no-margin">
    <li class="column small-3"><a href="{{ path('hwi_oauth_service_redirect',{"service":"facebook", "type" : context }) }}" class="social-networks-login-small-button icon-facebook"><span class="hide">Se connecter via Facebook</span></a></li>
    <li class="column small-3"><a href="{{ path('hwi_oauth_service_redirect',{"service":"linkedin", "type" : context }) }}" class="social-networks-login-small-button icon-linkedin"><span class="hide">Se connecter via LinkedIn</span></a></li>
    <li class="column small-3"><a href="{{ path('hwi_oauth_service_redirect',{"service":"google", "type" : context }) }}" class="social-networks-login-small-button icon-google"><span class="hide">Se connecter via Google</span></a></li>
    <li class="column small-3"><a href="{{ path('hwi_oauth_service_redirect',{"service":"twitter", "type" : context }) }}" class="social-networks-login-small-button icon-twitter"><span class="hide">Se connecter via Twitter</span></a></li>
</ul>
