{% set context = context|default(null)%}
{% set services = [
    {
        'name':'facebook',
        'icon':'icon-facebook',
        'label':'Facebook'
    },
    {
        'name':'linkedin',
        'icon':'icon-linkedin',
        'label':'Linkedin'
    },
    {
        'name':'google',
        'icon':'icon-google2',
        'label':'Google'
    },
    {
        'name':'twitter',
        'icon':'icon-twitter',
        'label':'Twitter'
    },
] %}


<ul class="block-grid small-12 no-bullet no-margin align-justify">
    {% for service in services %}
        {% set path_params = {
            'service':service.name,
            'type':context
        } %}
        {% set destination_param = (destination is defined)?{'_destination':destination|replace({'__context__':context,'__platform__':service.name})}:{} %}
        {% set path_params = path_params|merge(destination_param ) %}
        <li class="column">
            <a href="{{ path('hwi_oauth_service_redirect',path_params) }}" class="social-networks-login-small-button {{ service.icon }} is-center">
                <span class="hide">{{ 'social_network.connexion_with'|trans({'%social_network%':service.label}) }}</span></a></li>
    {% endfor %}
</ul>
