<header class="block-grid column hide-for-large">
    <h1 class="primary-color small-8">{{ title }}</h1>
    <a class="text-underline align-self-top small-right" data-toggle="{{ 'js-step-' ~ asideId ~ '-infos' }}">Aide</a>
</header>
