<header class="block-grid column hide-for-large">
    {% if stepHeaderTitle is not empty %}<h2 class="h1 primary-color small-8">{{ stepHeaderTitle }}</h2>{% endif %}
    <a class="text-underline align-self-top small-right" data-toggle="{{ jsStepIdInfos }}">{{ 'global.help'|trans }}</a>
</header>
