/* ===========================================================================
   Mixin
   =========================================================================== */

/*
   User select
   @usage: @include user-select($value);
   ===================================== */

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}


/*
   Appearance
   @usage: @include appearance($value);
   ===================================== */

@mixin appearance($value) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/*
   Placeholder
   @usage: @include placeholder($content);
   ===================================== */

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

/*
  Shadow
  ===================================== */


@mixin shadow {
  box-shadow: 0 rem-calc(3) rem-calc(5) rgba(black, .6);
  transition: box-shadow 83ms;
}

@mixin lightShadow {
  box-shadow: 0 rem-calc(3) rem-calc(5) rgba(black, .2);
  transition: box-shadow 83ms;
}